.accordion .panel-title {
  margin-bottom: 0; }

.accordion .panel-body {
  padding-top: 2rem; }

.product-description.panel-collapse {
  margin-bottom: 2rem; }

.product-description p {
  color: #777;
  margin-bottom: 0; }

.images-container.grid .product-images, .images-container.thumbs-vertical .product-images {
  margin-left: -10px;
  margin-right: -10px; }

.images-container.grid .thumb-container, .images-container.thumbs-vertical .thumb-container {
  margin-bottom: 2rem;
  width: 50%;
  float: left;
  padding: 0 10px; }
  .images-container.grid .thumb-container::after, .images-container.thumbs-vertical .thumb-container::after {
    display: none; }
  .images-container.grid .thumb-container > .thumb, .images-container.thumbs-vertical .thumb-container > .thumb {
    border-color: #ebebeb; }

.product-images .thumb-container {
  position: relative;
  list-style-type: none; }
  .product-images .thumb-container:hover::after {
    visibility: hidden;
    opacity: 0; }
  .product-images .thumb-container.selected::after, .product-images .thumb-container.selected:hover::after, .product-images .thumb-container.slick-current::after, .product-images .thumb-container.slick-current:hover::after {
    visibility: hidden;
    opacity: 0; }
  .product-images .thumb-container::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    visibility: visible;
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.4); }

#product-modal .modal-dialog {
  max-width: 500px;
  margin: 0 auto;
  width: 100%;
  padding: 0 10px; }

#product-modal.modal.fade .modal-dialog {
  top: 50%;
  -webkit-transform: translate(0, -60%);
  -ms-transform: translate(0, -60%);
  transform: translate(0, -60%); }

#product-modal.modal.show .modal-dialog {
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%); }

#product-modal .thumb {
  margin: 0 auto; }

#product-modal .owl-item {
  opacity: 0; }
  #product-modal .owl-item.active {
    opacity: 1; }

#product-modal .owl-nav button {
  width: 32px;
  height: 34px;
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
  opacity: .6; }
  #product-modal .owl-nav button:hover {
    opacity: 1; }
  #product-modal .owl-nav button.disabled {
    cursor: default; }
    #product-modal .owl-nav button.disabled:hover {
      opacity: .6; }
  #product-modal .owl-nav button.owl-prev::before {
    content: '\f111'; }
  #product-modal .owl-nav button.owl-next::before {
    content: '\f112'; }
  #product-modal .owl-nav button::before {
    font-family: 'molla';
    color: #fff;
    font-weight: normal;
    font-size: 3.2rem;
    line-height: 1; }
  #product-modal .owl-nav button span {
    display: none; }

.productModal-carousel .owl-stage-outer {
  overflow: hidden; }

.thumbs-gallery {
  padding: 5rem 0;
  margin-top: -4rem;
  margin-bottom: 4rem; }
  .thumbs-gallery::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1000%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: #f8f8f8; }
  .thumbs-gallery .mask {
    position: relative; }
  .thumbs-gallery .product-images {
    position: static; }
    .thumbs-gallery .product-images .thumb-container {
      float: left; }
      .thumbs-gallery .product-images .thumb-container::after {
        display: none; }
      .thumbs-gallery .product-images .thumb-container > .thumb.selected {
        border-color: transparent; }
  .thumbs-gallery .owl-carousel .owl-nav button {
    margin: 0;
    width: 3rem;
    height: 100%;
    background: rgba(255, 255, 255, 0.75);
    z-index: 1000; }
    .thumbs-gallery .owl-carousel .owl-nav button.disabled {
      opacity: 0; }
    .thumbs-gallery .owl-carousel .owl-nav button.owl-next {
      right: 0; }
    .thumbs-gallery .owl-carousel .owl-nav button.owl-prev {
      left: 0; }
    .thumbs-gallery .owl-carousel .owl-nav button::before {
      color: #333;
      font-size: 2rem; }

.product-layout-gallery .pb-right-column {
  text-align: center; }
  .product-layout-gallery .pb-right-column .col-md-6 + .col-md-6::before {
    content: '';
    width: .1rem;
    display: block;
    height: 100%;
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color: #ebebeb; }

.product-layout-gallery .product-information {
  max-width: 470px;
  margin-left: auto;
  margin-right: auto; }

.product-layout-gallery .product-list-reviews {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.product-layout-gallery .product-prices.content_price {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.product-layout-gallery .product-quantity .qty {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.product-layout-gallery .product-quantity .add {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .product-layout-gallery .product-quantity .add button {
    margin-right: 0; }
  .product-layout-gallery .product-quantity .add .addToWishlist {
    display: none; }

.product-layout-gallery .product-details-footer {
  margin-top: 0;
  border-top: 0;
  padding-top: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .product-layout-gallery .product-details-footer .addToWishlist {
    font-size: 1.4rem;
    letter-spacing: -.01em;
    margin-bottom: 2.9rem; }
    .product-layout-gallery .product-details-footer .addToWishlist::before {
      font-size: 1.6rem;
      margin-right: .5rem; }
  .product-layout-gallery .product-details-footer .product-cat {
    margin-bottom: 2.6rem; }

.product-layout-sticky-info .product-images .thumb-container > .thumb.selected {
  border-color: #ebebeb; }

.product-layout-sticky-info #more_info_block .panel-default {
  border: .1rem solid #ebebeb; }
  .product-layout-sticky-info #more_info_block .panel-default + .panel-default {
    border-top: 0; }
  .product-layout-sticky-info #more_info_block .panel-default .panel-title > a {
    padding-top: 2.1rem;
    padding-bottom: 2.1rem;
    padding: 2.1rem 4rem 2.1rem 2rem;
    line-height: 1.2;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
    -webkit-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease; }
    .product-layout-sticky-info #more_info_block .panel-default .panel-title > a.collapsed {
      background-color: #fafafa; }
      .product-layout-sticky-info #more_info_block .panel-default .panel-title > a.collapsed::after {
        content: '\f2c2';
        color: #8c8c8c; }
    .product-layout-sticky-info #more_info_block .panel-default .panel-title > a::after {
      content: '\f28e';
      font-size: 1.6rem;
      display: inline-block;
      position: absolute;
      right: 1.2rem;
      top: 50%;
      font-family: "yanka";
      line-height: 1;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%); }

.product-layout-sticky-info #more_info_block .panel-body {
  padding: 1rem 2rem 2rem;
  padding-top: 0; }

.product-layout-3columns .product-quantity .product-btn.cart-button {
  margin-right: 0;
  margin-bottom: 2rem; }

.product-layout-3columns .product-quantity .add {
  display: block; }

.product-layout-3columns .block-social {
  margin-top: 2rem; }

.product-layout-3columns .product-action {
  border: 1px solid #ebebeb;
  padding: 20px 20px; }

#product .product-name {
  text-transform: initial; }

.product-name {
  font-weight: 400;
  font-size: 2.4rem;
  letter-spacing: -.025em;
  margin-bottom: .7rem;
  margin-top: -.5rem;
  padding-right: 1rem; }

.rating {
  margin-bottom: .4rem; }

.product-prices.content_price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .product-prices.content_price .old.price {
    font-size: 1.8rem;
    margin-bottom: 0;
    text-decoration: line-through;
    margin-right: 2rem; }
  .product-prices.content_price .price.new {
    font-size: 2.4rem;
    margin-bottom: 0;
    margin-right: .5rem; }
  .product-prices.content_price #gdz_productvideo {
    margin-top: 2rem;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }

.product-information .specific_prices {
  margin-bottom: 3rem; }
  .product-information .specific_prices .countdown-section {
    position: relative;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #fff;
    border-radius: .3rem;
    min-width: 5.15rem;
    line-height: 1;
    padding-top: 1.4rem;
    padding-bottom: 1.4rem;
    background-color: rgba(204, 102, 102, 0.85); }
    .product-information .specific_prices .countdown-section .countdown-amount {
      display: inline-block;
      color: #fff;
      font-weight: 500;
      font-size: 1.8rem;
      line-height: 1;
      letter-spacing: -.03em;
      margin-bottom: .4rem;
      padding-right: 0; }
    .product-information .specific_prices .countdown-section .countdown-period {
      text-align: center;
      display: block;
      font-size: 1rem;
      font-weight: 400;
      color: #fff;
      text-transform: lowercase;
      width: 100%;
      padding-left: .2rem;
      padding-right: .2rem;
      white-space: nowrap;
      overflow: hidden;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis; }
    .product-information .specific_prices .countdown-section:not(:last-child) {
      margin-right: 1.6rem; }
      .product-information .specific_prices .countdown-section:not(:last-child)::after {
        color: #333333;
        content: ':';
        display: inline-block;
        font-weight: 400;
        font-size: 2rem;
        line-height: 1;
        position: absolute;
        left: 100%;
        margin-left: .6rem;
        margin-top: -.1rem;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%); }

.product-variants .select-option {
  position: relative; }
  .product-variants .select-option::before {
    font-family: "yanka";
    content: '\f110';
    position: absolute;
    display: inline-block;
    right: .9rem;
    top: 50%;
    font-size: 1rem;
    -webkit-transform: translateY(-51%);
    -ms-transform: translateY(-51%);
    transform: translateY(-51%);
    color: #333;
    z-index: -1; }
  .product-variants .select-option select {
    color: #777;
    height: 4rem;
    font-weight: 400;
    margin-bottom: 0;
    padding-left: 1rem;
    padding-right: 3rem;
    background: transparent;
    border: 1px solid #d7d7d7;
    min-width: 135px;
    -moz-appearance: none;
    -webkit-appearance: none;
    cursor: pointer; }

.product-add-to-cart .add-to-cart, .cart-overview .add-to-cart {
  padding: 1rem 1.5rem;
  min-width: 198px;
  line-height: 1;
  border: .1rem solid;
  background-color: transparent;
  text-transform: uppercase;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: all .35s ease;
  -o-transition: all .35s ease;
  transition: all .35s ease; }
  .product-add-to-cart .add-to-cart:hover, .cart-overview .add-to-cart:hover {
    color: #fff; }
  .product-add-to-cart .add-to-cart::before, .cart-overview .add-to-cart::before {
    content: '\e812';
    font-family: "yanka";
    margin-right: .4rem;
    font-size: 1.8rem; }

.product-add-to-cart .addToWishlist::before, .cart-overview .addToWishlist::before {
  font-size: 1.6rem; }

.product-add-to-cart .bootstrap-touchspin, .cart-overview .bootstrap-touchspin {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: auto;
  padding-left: 2.6rem;
  border: .1rem solid #dadada; }

.product-add-to-cart #quantity_wanted, .cart-overview #quantity_wanted {
  border: none;
  background: transparent;
  height: 4rem;
  max-width: 7.9rem;
  font-weight: 400;
  text-align: center; }

.product-add-to-cart .btn-touchspin, .cart-overview .btn-touchspin {
  border: 0;
  width: 2.4rem;
  height: 4rem;
  min-width: auto;
  padding: 0;
  font-size: 1rem; }
  .product-add-to-cart .btn-touchspin i, .cart-overview .btn-touchspin i {
    display: none; }
  .product-add-to-cart .btn-touchspin::before, .cart-overview .btn-touchspin::before {
    font-family: "yanka";
    line-height: 1; }

.product-add-to-cart .bootstrap-touchspin-up::before, .cart-overview .bootstrap-touchspin-up::before {
  content: '\f2c2'; }

.product-add-to-cart .bootstrap-touchspin-down, .cart-overview .bootstrap-touchspin-down {
  position: absolute;
  top: 0;
  left: 0; }
  .product-add-to-cart .bootstrap-touchspin-down::before, .cart-overview .bootstrap-touchspin-down::before {
    content: '\f28e'; }

.product-details-top {
  margin-bottom: 1rem; }

.product-gallery {
  margin-bottom: 2rem; }

.product-main-image {
  position: relative;
  margin-bottom: 1rem; }
  .product-main-image img {
    max-width: none;
    width: 100%; }

.btn-product-gallery {
  position: absolute;
  right: 2rem;
  bottom: 2rem;
  z-index: 49;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  width: 4rem;
  height: 4rem;
  color: #777;
  font-weight: normal;
  font-size: 2rem;
  line-height: 1;
  background-color: #fff;
  -webkit-box-shadow: 2px 6px 16px rgba(51, 51, 51, 0.05);
  box-shadow: 2px 6px 16px rgba(51, 51, 51, 0.05);
  -webkit-transition: all .35s ease;
  -o-transition: all .35s ease;
  transition: all .35s ease; }

.product-image-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  margin-left: -.5rem;
  margin-right: -.5rem; }

.product-gallery-item {
  position: relative;
  display: block;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
  padding-left: .5rem;
  padding-right: .5rem;
  margin-bottom: 1rem; }
  .max-col-6 .product-gallery-item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.66%;
    flex: 0 0 16.66%;
    max-width: 16.66%; }
  .product-gallery-item img {
    max-width: none;
    width: 100%; }
  .product-gallery-item:before, .product-gallery-item:after {
    content: '';
    display: block;
    position: absolute;
    left: .5rem;
    right: .5rem;
    top: 0;
    bottom: 0;
    -webkit-transition: all .35s ease;
    -o-transition: all .35s ease;
    transition: all .35s ease; }
  .product-gallery-item:before {
    opacity: 0;
    visibility: hidden; }
  .product-gallery-item:after {
    visibility: visible;
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.4); }
  .product-gallery-item.active:before {
    visibility: visible;
    opacity: 1; }
  .product-gallery-item:hover:after, .product-gallery-item.active:after {
    opacity: 0;
    visibility: hidden; }

.product-gallery-vertical .row {
  margin-left: 0;
  margin-right: 0; }

.product-gallery-vertical .product-image-gallery,
.product-gallery-vertical .product-main-image {
  width: 100%; }

.product-gallery-vertical .product-image-gallery {
  width: calc( 100% + 10px); }

.product-gallery-masonry {
  position: relative;
  display: block !important; }
  .product-gallery-masonry .product-gallery-item {
    max-width: 50%;
    width: 50%; }

/* Important for image zoom in carousel */
.product-gallery-carousel.owl-carousel {
  z-index: initial; }
  .product-gallery-carousel.owl-carousel .owl-item:not(.active) {
    pointer-events: none; }

.product-gallery-image {
  margin-bottom: 0;
  padding-right: 1rem; }

.product-gallery-separated {
  position: relative; }

.product-separated-item {
  position: relative;
  display: block;
  margin-bottom: 1rem; }
  .product-separated-item img {
    max-width: none;
    width: 100%; }

.product-pager {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.product-pager-link {
  color: #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.3;
  letter-spacing: 0; }
  .product-pager-link i {
    color: #666;
    font-size: 2rem;
    line-height: 1;
    -webkit-transition: color .3s;
    -o-transition: color .3s;
    transition: color .3s; }
  .product-pager-link span {
    display: inline-block;
    -webkit-transition: -webkit-box-shadow .3s ease;
    transition: -webkit-box-shadow .3s ease;
    -o-transition: box-shadow .3s ease;
    transition: box-shadow .3s ease;
    transition: box-shadow .3s ease, -webkit-box-shadow .3s ease; }
  .product-pager-link:hover i, .product-pager-link:focus i {
    color: inherit; }
  .product-pager-link + .product-pager-link {
    margin-left: 3rem; }

.product-pager-prev i {
  margin-right: .5rem; }

.product-pager-next i {
  margin-left: .5rem; }

.product-details {
  margin-bottom: 2rem; }
  .product-details .ratings-container {
    margin-bottom: 1.3rem; }
  .product-details .product-price {
    font-size: 2.4rem; }
  .product-details .new-price {
    margin-right: 1rem; }
  .product-details .product-content {
    margin-bottom: 1.6rem; }
    .product-details .product-content p:last-child {
      margin-bottom: 0; }
  .product-details .product-countdown {
    position: static;
    left: auto;
    right: auto;
    bottom: auto;
    top: auto;
    max-width: 260px;
    margin-left: -5px;
    margin-bottom: 2rem; }
    .product-details .product-countdown .countdown-section {
      background-color: #fafafa; }
  .product-details .product-nav-dots a, .product-details .product-nav-dots span {
    width: 2rem;
    height: 2rem; }
  .product-details .product-cat {
    font-weight: 400;
    font-size: 1.4rem; }
    .product-details .product-cat span {
      margin-right: .7rem; }
    .product-details .product-cat a {
      color: #666;
      -webkit-box-shadow: none;
      box-shadow: none;
      -webkit-transition: all .35s ease;
      -o-transition: all .35s ease;
      transition: all .35s ease; }
  .product-details .product-size {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    padding-top: 0;
    margin-bottom: 0; }
    .product-details .product-size a {
      color: #666;
      width: 4rem;
      height: 4rem;
      font-weight: 400;
      font-size: 1.4rem;
      letter-spacing: -.01em;
      border: .1rem solid #d7d7d7;
      background-color: transparent;
      border-radius: 0;
      margin-right: 1rem; }
      .product-details .product-size a.active, .product-details .product-size a:hover, .product-details .product-size a:focus {
        background-color: transparent; }
      .product-details .product-size a.disabled {
        color: #dadada;
        border-color: #ebebeb;
        background-color: transparent; }

.details-filter-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  margin-bottom: 2rem; }
  .details-filter-row .form-control {
    font-weight: 400;
    margin-bottom: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #fff;
    border-color: #d7d7d7;
    min-width: 131px; }
  .details-filter-row .select-custom {
    margin-bottom: 0;
    margin-right: 3.9rem; }
    .details-filter-row .select-custom .form-control {
      padding-right: 3rem; }
    .details-filter-row .select-custom::after {
      font-size: 1rem;
      right: .9rem; }
  .details-filter-row label {
    display: inline-block;
    width: 67px;
    font-weight: 400;
    font-size: 1.4rem;
    margin-bottom: 0; }
  .details-filter-row .product-nav {
    margin-bottom: 0; }
  .details-filter-row .product-nav-thumbs {
    padding-top: 0; }

.size-guide {
  color: #777;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .size-guide i {
    font-size: 1.8rem;
    margin-right: .7rem; }

.product-details-quantity {
  max-width: 131px; }
  .product-details-quantity .form-control {
    padding-left: 2.6rem;
    padding-right: 2.6rem;
    text-align: center;
    margin-bottom: 0; }

.product-details-action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  margin-bottom: 3rem; }
  .product-details-action .btn-cart {
    padding: 1rem 1.5rem;
    max-width: 198px; }
    .product-details-action .btn-cart span {
      font-size: 1.4rem;
      color: inherit;
      text-transform: uppercase;
      -webkit-box-shadow: none;
      box-shadow: none;
      -webkit-transition: color 0s ease, -webkit-box-shadow .35s ease;
      transition: color 0s ease, -webkit-box-shadow .35s ease;
      -o-transition: box-shadow .35s ease, color 0s ease;
      transition: box-shadow .35s ease, color 0s ease;
      transition: box-shadow .35s ease, color 0s ease, -webkit-box-shadow .35s ease; }
    .product-details-action .btn-cart:before {
      margin-right: .4rem; }
    .product-details-action .btn-cart:hover, .product-details-action .btn-cart:focus {
      color: #fff; }

.details-action-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 4rem; }
  .details-action-wrapper .btn-product {
    padding-top: 0;
    padding-bottom: 0;
    white-space: nowrap;
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    line-height: 1.4; }
    .details-action-wrapper .btn-product:before {
      margin-right: 1rem; }
    .details-action-wrapper .btn-product.btn-wishlist:before {
      margin-top: -.2rem; }
    .details-action-wrapper .btn-product span {
      font-size: 1.4rem; }
    .details-action-wrapper .btn-product + .btn-product {
      padding-left: 1.3rem;
      margin-left: 1.6rem; }

.product-details-footer {
  margin-top: 3rem;
  color: #777;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-weight: 400;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-top: 1.7rem;
  border-top: .1rem solid #ebebeb;
  padding-bottom: 1.7rem; }
  .product-details-footer .social-icons {
    margin-left: auto; }
  .product-details-footer .social-icon {
    margin-bottom: 0; }
  .product-details-footer #gdz_productvideo {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    margin-top: 2rem; }

.icon-video {
  font-size: 3rem;
  color: #666; }

.product-details-tab {
  margin-bottom: 5rem; }
  .product-details-tab .nav.nav-pills .nav-link {
    color: #333333;
    font-size: 1.6rem;
    padding: .55rem 3rem;
    border-bottom-width: .2rem;
    text-transform: capitalize; }
  .product-details-tab .nav.nav-pills .nav-item + .nav-item {
    margin-left: 2rem; }
  .product-details-tab .tab-content {
    border: .1rem solid #dadada;
    margin-top: -.1rem;
    border-radius: .3rem; }
    .product-details-tab .tab-content .tab-pane {
      padding: 2.7rem 3rem; }

.product-desc-content h2 {
  font-weight: 400;
  font-size: 2.4rem;
  letter-spacing: -.01em;
  margin-bottom: 1.8rem; }

.product-desc-content h3 {
  font-weight: 400;
  font-size: 1.6rem;
  letter-spacing: -.01em;
  margin-bottom: 1.8rem; }

.product-desc-content ul {
  color: #333333; }
  .product-desc-content ul li {
    position: relative;
    padding-left: 1.3rem; }

.product-desc-content a {
  color: #333;
  border-bottom: .1rem solid #b8b8b8;
  -webkit-transition: all .35s ease;
  -o-transition: all .35s ease;
  transition: all .35s ease; }

.product-desc-content blockquote {
  color: #333;
  font-style: normal;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 1.25;
  letter-spacing: -.01em;
  margin-bottom: 1.6rem; }
  .product-desc-content blockquote p {
    margin-bottom: 0; }
  .product-desc-content blockquote cite {
    font-weight: 300;
    font-size: 1.4rem;
    letter-spacing: 0; }

#review-nav #product-comments > .row {
  margin-left: 0;
  margin-right: 0; }
  #review-nav #product-comments > .row > div {
    padding-left: 0;
    padding-right: 0; }

#review-nav .comments-note {
  display: none; }

.reviews h3 {
  font-size: 1.6rem;
  letter-spacing: -.01em;
  margin-bottom: 2.3rem; }

.review {
  padding-bottom: 1.3rem;
  margin-bottom: 2rem;
  border-bottom: .1rem solid #ebebeb; }
  .review:last-child {
    margin-bottom: 0; }
  .review .col-auto {
    width: 120px;
    padding-right: 2rem; }
  .review h4 {
    color: #333;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.25;
    letter-spacing: -.01em;
    margin-bottom: .8rem; }
    .review h4 a {
      color: inherit; }
  .review .ratings-container {
    padding-top: .7rem;
    margin-bottom: .5rem; }
  .review .review-date {
    color: #ccc; }

.review-content {
  margin-bottom: .8rem; }

.review-action {
  font-size: 1.2rem; }
  .review-action a {
    color: #777;
    -webkit-transition: all .35s ease;
    -o-transition: all .35s ease;
    transition: all .35s ease; }
  .review-action a + a {
    margin-left: 1.6rem; }
  .review-action i {
    font-size: 1.4rem;
    margin-right: .6rem; }

.details-action-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 2.2rem; }
  .details-action-col .product-details-quantity {
    margin-right: 2rem; }
  .details-action-col label {
    display: inline-block;
    width: 67px;
    font-weight: 400;
    font-size: 1.4rem;
    margin-bottom: 0; }

.block-bestseller {
  margin-bottom: 50px; }

/* Sticky bar */
#sticky-bar {
  display: none; }
  #sticky-bar .col-right form > * {
    display: none; }
  #sticky-bar .col-right form .product-add-to-cart {
    display: block; }
  #sticky-bar .product-cover {
    margin-right: 2rem; }
    #sticky-bar .product-cover img {
      max-width: 60px; }
  #sticky-bar .product-prices.content_price > * {
    display: none; }
  #sticky-bar .product-prices.content_price .price {
    display: inline-block; }
    #sticky-bar .product-prices.content_price .price.new {
      font-size: 1.6rem; }
    #sticky-bar .product-prices.content_price .price.old {
      font-size: 1.4rem; }
  #sticky-bar #product-availability {
    display: none; }
  #sticky-bar #quantity_wanted {
    max-width: 4.8rem;
    padding: 0 1rem; }
  #sticky-bar .product-quantity {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    #sticky-bar .product-quantity .control-label {
      display: none; }
    #sticky-bar .product-quantity .qty {
      margin-bottom: 0;
      margin-right: 2rem; }
    #sticky-bar .product-quantity .product-btn.cart-button {
      margin-right: 1rem;
      margin-bottom: 0; }
    #sticky-bar .product-quantity .addToWishlist {
      margin-right: 1rem; }
      #sticky-bar .product-quantity .addToWishlist::before {
        font-size: 1.6rem; }
      #sticky-bar .product-quantity .addToWishlist span {
        display: none; }

.zoomContainer {
  display: none; }

@media (max-width: 1199px) {
  .inner-wrapper-sticky {
    position: static !important;
    top: auto !important;
    width: auto !important;
    bottom: auto !important;
    -webkit-transform: none !important;
    -ms-transform: none !important;
    transform: none !important; } }

@media (min-width: 768px) {
  .images-container.grid .thumb-container,
  .images-container.thumbs-vertical .thumb-container {
    width: 100%; } }

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .details-action-wrapper {
    margin-left: 1rem; }
  .product-details-sidebar .product-details-quantity {
    max-width: 91px; } }

@media screen and (min-width: 768px) and (max-width: 991px) {
  .product-details-action {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .details-action-wrapper {
    margin-left: 0;
    margin-top: 1.5rem; }
  .product-details-action .btn-cart {
    min-width: 198px; }
  .product-details-tab .nav.nav-pills .nav-item + .nav-item {
    margin-left: 1rem; }
  .product-details-tab .nav.nav-pills .nav-item .nav-link {
    padding-left: 1.5rem;
    padding-right: 1.5rem; } }

@media (min-width: 1200px) {
  #product-modal .modal-dialog {
    max-width: 800px; } }

/*# sourceMappingURL=product.css.map */