h1, h2, h3, h4, h5, h6 {
  color: #333;
  font-weight: 800; }

.demo-typography h1, .demo-typography h2, .demo-typography h3, .demo-typography h4, .demo-typography h5, .demo-typography h6 {
  padding-bottom: 0; }

.pt-base-color {
  color: #48CAB2; }

.pt-title-subpages {
  font-size: 36px;
  line-height: 43px;
  font-weight: 800;
  margin-top: -7px; }

h4 {
  font-size: 24px;
  line-height: 35px; }

h1 {
  font-size: 64px;
  line-height: 77px; }

h2 {
  font-size: 48px;
  line-height: 58px; }

h3 {
  font-size: 36px;
  line-height: 43px; }

h4 {
  font-size: 24px;
  line-height: 35px; }

h5 {
  font-size: 18px;
  line-height: 26px; }

h6 {
  font-size: 16px;
  line-height: 23px; }

.demo-typography {
  margin-top: 11px; }

.demo-typography .pt-title-subpages + h4 {
  margin-top: 37px; }

.demo-typography h4 + h1 {
  margin-top: 12px; }

.demo-typography h1 + h2 {
  margin-top: -14px; }

.demo-typography h2 + h3 {
  margin-top: -10px; }

.demo-typography h3 + h4 {
  margin-top: -5px; }

.demo-typography h4 + h5 {
  margin-top: 2px; }

.demo-typography h5 + h6 {
  margin-top: 9px; }

.demo-typography h6 + p {
  margin-top: 9px; }

.demo-typography p + .text-md {
  margin-top: 22px; }

.text-md {
  font-size: 16px;
  line-height: 25px; }

.demo-typography p + .text-sm {
  margin-top: 26px; }

.text-sm {
  font-size: 14px;
  line-height: 22px; }

.demo-typography .title-top {
  margin-top: 40px; }

.demo-typography .pt-list-top {
  margin-top: 22px; }

.pt-list-dot > li ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin: -4px 0 0 24px; }

.pt-list-dot > li ul > li {
  position: relative;
  padding: 4px 0 0 11px; }

.pt-list-dot > li ul > li::before {
  content: '';
  width: 4px;
  height: 4px;
  background: #777777;
  display: inline-block;
  position: absolute;
  top: 16px;
  left: 0px;
  border-radius: 50%; }

.pt-list-number ol {
  padding: 0px 0 0px 34px;
  counter-reset: li;
  list-style: none; }

.demo-typography .pt-list-top02 {
  margin-top: 38px; }

.pt-blockquote {
  position: relative; }

.pt-blockquote .pt-main-text {
  display: inline-block;
  font-size: 24px;
  line-height: 35px;
  color: #333333;
  font-weight: 800;
  margin-bottom: 0; }

.pt-blockquote::before {
  font-family: 'yanka';
  content: "\e900";
  display: inline-block;
  position: absolute;
  top: 9px;
  left: 1px;
  color: #333333;
  font-weight: 800;
  font-size: 19px;
  line-height: 1; }

.pt-blockquote .pt-description {
  display: inline-block;
  font-size: 13px;
  line-height: 19px;
  color: #333333;
  margin-top: 18px;
  font-weight: 800; }

.demo-typography h4 + table {
  margin-top: 12px; }

.pt-list-number {
  counter-reset: li;
  margin-bottom: 0;
  margin-top: 22px; }
  .pt-list-number:not(.indent-left-none) {
    margin-left: 43px; }
  .pt-list-number li::before {
    counter-increment: li;
    content: counters(li, ".") ". ";
    color: #777; }
  .pt-list-number li a {
    color: #777; }
    .pt-list-number li a:hover {
      color: #48CAB2; }

.pt-list-dot {
  margin-top: 22px; }
  .pt-list-dot:not(.indent-left-none) {
    margin-left: 43px; }
  .pt-list-dot > li {
    font-size: 18px;
    line-height: 28px;
    position: relative;
    padding: 0 0 0 11px;
    color: #777; }
    .pt-list-dot > li a {
      color: #777; }
      .pt-list-dot > li a:hover {
        color: #48CAB2; }
    .pt-list-dot > li::before {
      content: '';
      width: 4px;
      height: 4px;
      background: #777;
      display: inline-block;
      position: absolute;
      top: 12px;
      left: 0;
      border-radius: 50%; }

blockquote {
  padding-left: 60px;
  border-left: solid 2px transparent; }

.pt-table-04 {
  width: 100%; }

.pt-table-04 thead {
  background-color: #333333;
  color: #ffffff; }

.pt-table-04.pt-table-col-3 td, .pt-table-04.pt-table-col-3 th {
  width: 30%; }

.pt-table-04 thead th {
  font-weight: 800; }

.pt-table-04 tbody tr:nth-child(2n) {
  background-color: #f8f8f8; }

.pt-table-04 thead th, .pt-table-04 thead td, .pt-table-04 tbody th, .pt-table-04 tbody td {
  padding: 12px 19px 11px;
  font-size: 16px;
  line-height: 1.1; }

.pt-table-04 thead th:not(:first-child) {
  border-left: 1px solid #EBEBEB; }

.pt-table-04 tbody tr td:not(:first-child) {
  border-left: 1px solid #EBEBEB; }

.pt-table-04 strong {
  color: #333333; }

.demo-typography table + table {
  margin-top: 40px; }

.demo-typography .form-control.form-control-focus {
  border-color: transparent;
  background: #ffffff;
  -webkit-box-shadow: 0px 2px 12px rgba(51, 51, 51, 0.08);
  box-shadow: 0px 2px 12px rgba(51, 51, 51, 0.08); }

.form-default .pt-disabled {
  pointer-events: none;
  opacity: 0.5;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.form-default .form-control.is-invalid {
  border: 1px solid #dc3545; }

.form-default .form-control.is-invalid:focus {
  border-color: transparent; }

.form-default .invalid-feedback {
  margin-top: 2px;
  font-size: 14px;
  line-height: 24px; }

.form-default .form-group {
  margin-bottom: 23px;
  position: relative; }

.form-default .form-group label:not(.error) {
  font-size: 16px;
  color: #777777;
  padding-bottom: 1px;
  margin-bottom: 0; }

.form-control.is-invalid {
  margin-bottom: 0; }

.invalid-feedback {
  display: none;
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #dc3545; }

.was-validated .form-control:invalid ~ .invalid-feedback, .was-validated .form-control:invalid ~ .invalid-tooltip, .form-control.is-invalid ~ .invalid-feedback, .form-control.is-invalid ~ .invalid-tooltip, .was-validated .custom-select:invalid ~ .invalid-feedback, .was-validated .custom-select:invalid ~ .invalid-tooltip, .custom-select.is-invalid ~ .invalid-feedback, .custom-select.is-invalid ~ .invalid-tooltip {
  display: block; }

#inputErrorFocused {
  border-color: transparent;
  -webkit-box-shadow: 0px 2px 12px rgba(51, 51, 51, 0.08);
  box-shadow: 0px 2px 12px rgba(51, 51, 51, 0.08); }

.demo-typography .pt-list-top02 {
  margin-top: 38px; }

.demo-typography h4 + .row {
  margin-top: 5px; }

.list-form-row {
  list-style: none;
  padding: 0;
  margin: 0; }

.list-form-row .checkbox-group {
  margin: 0; }

.list-form-row li:not(:first-child) {
  margin-top: 7px; }

.checkbox-group.size-md label {
  font-size: 16px;
  line-height: 23px;
  padding-left: 30px;
  position: relative;
  margin-bottom: 0; }

.checkbox-group input[type="checkbox"] {
  display: none; }

.checkbox-group label .check {
  top: 0px;
  left: 0px;
  opacity: 0;
  z-index: 10;
  background: transparent;
  width: 20px;
  height: 20px;
  line-height: 1;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0); }

.checkbox-group label {
  cursor: pointer; }

.checkbox-group label .check {
  top: 0px;
  left: 0px;
  opacity: 0;
  z-index: 10;
  background: transparent;
  width: 20px;
  height: 20px;
  line-height: 1;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0); }

.checkbox-group:hover label .box {
  border-color: #333333; }

.checkbox-group.pt-demo-border label .box {
  border-color: #333333 !important; }

.checkbox-group input[type="checkbox"]:checked ~ label .check {
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1); }

.checkbox-group label .check::before {
  display: block;
  content: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTMiIHZpZXdCb3g9IjAgMCAxNiAxMyIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEgNS4xNjY2N0w2LjM4NDYyIDExTDE1IDEiIHN0cm9rZT0iIzMzMzMzMyIgc3Ryb2tlLXdpZHRoPSIxLjYiLz4KPC9zdmc+Cg==");
  position: relative;
  left: 2px;
  top: 4px; }

.checkbox-group.size-md label .box {
  top: 1px; }

.checkbox-group label .box {
  background: transparent;
  height: 20px;
  width: 20px;
  z-index: 9;
  border: 1px solid #EBEBEB; }

.checkbox-group label span {
  display: block;
  position: absolute;
  left: 0;
  -webkit-transition-duration: 0.12s;
  -o-transition-duration: 0.12s;
  transition-duration: 0.12s; }

.checkbox-group.pt-disabled {
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.checkbox-group.pt-disabled .check, .checkbox-group.pt-disabled .box {
  opacity: 0.5 !important; }

.radio {
  display: block;
  cursor: pointer;
  margin: 0 0 6px !important;
  font-size: 16px;
  -webkit-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  transition: all 0.15s linear;
  color: #777777; }

.radio input {
  width: 1px;
  height: 1px;
  opacity: 0; }

.radio .outer {
  width: 20px;
  height: 20px;
  display: block;
  float: left;
  margin: 3px 23px 0 0;
  background-color: transparent;
  border: 1px solid #ebebeb;
  border-radius: 50%; }

.radio .inner {
  width: 10px;
  height: 10px;
  top: 4px;
  left: 4px;
  display: block;
  background-color: #333333;
  opacity: 0;
  position: relative;
  border-radius: 50%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0); }

.radio input:checked + .outer .inner {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1; }

.radio.pt-demo-border .outer {
  border-color: #333333; }

.radio.pt-demo-border .outer {
  border-color: #333333; }

.radio.pt-disabled {
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.radio.pt-disabled .inner {
  opacity: 0.5 !important; }

.demo-btn .item:not(:first-child) {
  margin-top: 10px; }

.btn:not(:disabled):not(.disabled) {
  cursor: pointer; }

.btn.btn-lg {
  height: 54px;
  padding: 5px 30px 4px;
  border-radius: 0;
  font-size: 13px !important; }

.btn .pt-icon svg, .btn-link .pt-icon svg {
  width: 24px;
  height: 24px; }

.btn .pt-icon, .btn-link .pt-icon {
  margin-right: 10px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  top: -2px; }

.btn.btn-border.btn-lg {
  height: 54px;
  padding: 5px 30px 4px;
  border-radius: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.btn.btn-border:hover {
  background: transparent;
  color: #333333;
  border-color: #333333; }

.btn.btn-border::before {
  content: '';
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #ebebeb;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s; }

.btn.btn-border:hover::before {
  border-width: 2px;
  border-color: #333333; }

.btn.pt-base-dark-color {
  background: #333333;
  color: #ffffff; }
  .btn.pt-base-dark-color:hover {
    background: #48CAB2; }

.btn-link.btn-lg {
  text-decoration: none !important;
  font-size: 14px !important;
  font-weight: 800;
  color: #333;
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 4.5px 0; }
  .btn-link.btn-lg:hover .pt-text::before {
    width: 100% !important; }
  .btn-link.btn-lg .pt-text {
    position: relative; }
    .btn-link.btn-lg .pt-text::before {
      position: absolute;
      bottom: 1px;
      left: 0;
      right: 0;
      margin: auto;
      width: 0%;
      content: '';
      color: transparent;
      background-color: #333;
      height: 2px;
      -webkit-transition: width 0.25s linear;
      -o-transition: width 0.25s linear;
      transition: width 0.25s linear; }

.demo-icon {
  margin-left: -20px;
  margin-top: -20px; }
  .demo-icon::after {
    content: "";
    display: table;
    clear: both; }

.demo-icon .item {
  color: #333333;
  float: left;
  width: 6%;
  margin-left: 20px;
  margin-top: 20px; }

.demo-icon .item:not(.pt-icon-size-lg):not(.pt-icon-size-xl):not(.pt-icon-size-md) svg {
  width: 24px;
  height: 24px; }

.demo-icon .item.pt-icon-size-lg svg {
  width: 75px;
  height: 24px; }

.demo-icon .item.item-separator {
  width: 100%; }

.demo-icon .item.pt-icon-size-xl svg {
  width: 150px;
  height: 24px; }

.demo-icon .item.pt-icon-size-md svg {
  width: 60px;
  height: 24px; }

.demo-icon .item svg + svg {
  margin-left: 20px; }

.pt-svg-sprite {
  display: none; }

.pt-promo-box {
  margin-top: 11px;
  position: relative;
  overflow: hidden;
  max-width: 370px; }
  .pt-promo-box:hover .image-box img {
    -webkit-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1); }
  .pt-promo-box:hover .pt-description .pt-title-large::before {
    width: 100%; }
  .pt-promo-box .image-box img {
    width: 100%;
    transition: transform 1s, -webkit-transform 1s; }
  .pt-promo-box .pt-description {
    position: absolute;
    top: 33px;
    left: 38px;
    right: 35px;
    color: #fff; }
    .pt-promo-box .pt-description .pt-title-small {
      font-size: 18px;
      line-height: 26px;
      font-weight: 800;
      -webkit-transition: color 0.2s;
      -o-transition: color 0.2s;
      transition: color 0.2s; }
    .pt-promo-box .pt-description .pt-title-large {
      font-size: 36px;
      line-height: 43px;
      font-weight: 800;
      margin: 8px 0 0 0;
      padding: 0;
      position: relative;
      display: inline-block;
      -webkit-transition: color 0.2s;
      -o-transition: color 0.2s;
      transition: color 0.2s; }
      .pt-promo-box .pt-description .pt-title-large::before {
        position: absolute;
        bottom: 1px;
        left: 0;
        right: 0;
        margin: auto;
        width: 0%;
        content: '';
        color: transparent;
        background-color: #fff;
        height: 2px;
        -webkit-transition: width 0.25s linear;
        -o-transition: width 0.25s linear;
        transition: width 0.25s linear; }

/*# sourceMappingURL=typography.css.map */