/* Footer */
@import '../../config/variables.scss';


#footer{
	background-color: #f8f8f8;
	.footer-main{
		padding: 97px 0 53px;
	}
	#footer-main{
		.layout-column{
			padding-left: 15px;
			padding-right: 15px;
		}
		.block{
			.block-title{
				font-size: 18px;
				line-height: 26px;
				padding: 0 0 12px 0;
				position: relative;
				text-align: left;
				margin-bottom: 0;
				font-weight: 800;
				letter-spacing: 0;
				text-transform: initial;
				margin-top: 0;
			}
			.block-socials .block-title {
			    margin-top: 0;
			    padding-bottom: 0;
			    margin-right: 10px;
			}
		}
	}
	.block-content{
		ul{
			li{
				a{
					display: inline-block;
					padding: 5px 0;
					padding-top: 5px;
					font-size: 16px;
					line-height: 1.35;
					color: #777;
					&:hover{
						color: $active;
					}
				}
			}
		}
		p{
			font-size: 16px;
			line-height: 23px;
		}
	}
	.block-store{
		.block-content{
			margin-top: 5px;
			p + p{
				margin-top: 26px;
			}
			strong{
				color: #333;
			}
		}
	}
	.block-newsletter{
		p{
			font-size: 14px;
			line-height: 20px;
		}
	}
	.email_subscription{
		margin-top: 12px;
		margin-bottom: 2px;
		padding-bottom: 0;
		input{
			background-color: #fff;
		}
		.newsletter-desc{
			display: none;
		}
		.btn-popup{
			display: none;
		}
		.btn-icon{
			display: flex;
			border: 0;
			background: transparent;
			height: 44px;
			min-width: 47px;
			max-width: 47px;
			position: absolute;
			right: 0;
			top: 0;
			padding: 0;
			justify-content: center;
			color: #333;
			z-index: 9;
			&:hover{
				color: $active;
			}
			svg{
				width: 24px;
				height: 24px;
			}
		}
	}
	.block .block-socials{
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		margin-top: 17px;
		.social-links{
			margin-bottom: 0;
			padding-bottom: 8px;
			li{
				display: inline-block;
				min-width: 24px;
				text-align: center;
				margin-right: 8px;
				&.pinterest a svg{
					width: 18px;
					height: 23px;
				}
				a{
					font-size: 24px;
					color: #d0d0d0;
					padding: 0;
					&:hover{
						color: #333;
					}
					svg{
						width: 24px;
						height: 24px;
					}
				}
			}
		}
	}
	#footer-copyright{
		padding-bottom: 76px;
		.copyright{
			font-size: 14px;
			margin-bottom: 16px;
			a{
				position: relative;
				color: #333 !important;
				&:hover::before{
					width: 100%;
				}
				@include underline(2, #333, 1)
			}
		}
	}
}
