/* Footer */
@import '../../config/variables.scss';


#footer{
	background-color: #f8f8f8;
	&.footer-3{
		.footer-main .row .layout-column:nth-child(3){
			display: none;
		}
	}
	&.footer-5{
		.row + .row{
			margin-top: 32px;
		}
		#footer-main{
			padding-top: 88px;
			padding-bottom: 48px;
			.newsletter{
				display: flex;
				align-items: center;
				.block-title{
					padding-bottom: 0;
					margin-right: 44px;
					white-space: nowrap;
				}
				.block-newsletter{
					width: 100%;
				}
			}
			.block .block-socials{
				margin-top: 0;
			}
		}
	}
	&.footer-6{
		.site-logo-text{
			margin-top: 6px;
			margin-bottom: 4px;
		}
		.layout-column + .layout-column + .layout-column{
			display: none;
		}
	}
	&.footer-7{
		text-align: center;
		background-color: #fff;
		padding: 95px 0 36px;
		.block-socials{
			justify-content: center;
			.block-title{
				display: none;
			}
			.social-links li{
				margin-right: 0;
				margin: 0 4px;
			}
		}
		#footer-copyright {
		    padding-bottom: 0;
		}
	}
	&.footer-8{
		#footer-copyright{
			padding: 53px 0 49px;
			.copyright{
				margin-bottom: 0;
			}
		}
	}
	&.footer-9{
		text-align: center;
		.footer-main{
			padding-bottom: 30px;
		}
		.block h3{
			font-size: 18px;
		    line-height: 26px;
		    color: #333333;
		    padding: 0 0 12px 0;
		}
		.email_subscription{
			max-width: 570px;
			margin-left: auto;
    		margin-right: auto;
		}
		.block-newsletter{
			padding-bottom: 7px;
			+ p{
				font-size: 14px;
				margin-bottom: 26px;
			}
		}
		.block .block-socials{
			justify-content: center;
			.social-links li{
				margin-right: 0;
				margin: 0 4px;
			}
			.block-title{
				display: none;
			}
		}
		#footer-copyright .copyright{
			margin-bottom: 29px;
		}
		.footer-copyright{
			img{
				margin: 0 auto;
			}
		}
	}
	.footer-main{
		padding: 97px 0 53px;
	}
	#footer-main{
		.layout-column{
			padding-left: 15px;
			padding-right: 15px;
		}
		.block{
			.info-text{
				font-size: 16px;
				line-height: 23px;
			}
			.block-title{
				font-size: 18px;
				line-height: 26px;
				padding: 0 0 12px 0;
				position: relative;
				text-align: left;
				margin-bottom: 0;
				font-weight: 800;
				letter-spacing: 0;
				text-transform: initial;
				margin-top: 0;
			}
			.block-socials .block-title {
			    margin-top: 0;
			    padding-bottom: 0;
			    margin-right: 10px;
			}
		}
	}
	.block-content{
		ul{
			li{
				a{
					display: inline-block;
					padding: 5px 0;
					padding-top: 5px;
					font-size: 16px;
					line-height: 1.35;
					color: #777;
					&:hover{
						color: $active;
					}
				}
			}
		}
		p{
			font-size: 16px;
			line-height: 23px;
		}
	}
	.block-store{
		.block-content{
			margin-top: 5px;
			p + p{
				margin-top: 26px;
			}
			strong{
				color: #333;
			}
		}
	}
	.block-newsletter{
		p{
			font-size: 14px;
			line-height: 20px;
		}
	}
	.email_subscription{
		margin-top: 12px;
		margin-bottom: 2px;
		padding-bottom: 0;
		input{
			background-color: #fff;
		}
		.newsletter-desc{
			display: none;
		}
		.btn-popup{
			display: none;
		}
		.btn-icon{
			display: flex;
			border: 0;
			background: transparent;
			height: 44px;
			min-width: 47px;
			max-width: 47px;
			position: absolute;
			right: 0;
			top: 0;
			padding: 0;
			justify-content: center;
			color: #333;
			z-index: 9;
			&:hover{
				color: $active;
			}
			svg{
				width: 24px;
				height: 24px;
			}
		}
	}
	.block .block-socials{
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		margin-top: 17px;
		.social-links{
			margin-bottom: 0;
			padding-bottom: 8px;
			li{
				display: inline-block;
				min-width: 24px;
				text-align: center;
				margin-right: 8px;
				&.pinterest a svg{
					width: 18px;
					height: 23px;
				}
				a{
					font-size: 24px;
					color: #d0d0d0;
					padding: 0;
					&:hover{
						color: #333;
					}
					svg{
						width: 24px;
						height: 24px;
					}
				}
			}
		}
	}
	#footer-copyright{
		padding-bottom: 76px;
		.copyright{
			font-size: 14px;
			margin-bottom: 16px;
			a{
				position: relative;
				color: #333 !important;
				&:hover::before{
					width: 100%;
				}
				@include underline(2, #333, 1)
			}
		}
	}
}
#footer-main .block{
	&.collapsed{
		.block-title i{
			transform: none;
		}
	}
	.block-title i{
		transition: .4s all;
    	color: #d0d0d0;
		transform: rotate(45deg);
	}
}
.img-center{
	display: block;
	margin: 0 auto;
}