/* Line height */
.lh-0 {
  line-height: 0px !important;
}

.lh-1 {
  line-height: 1px !important;
}

.lh-2 {
  line-height: 2px !important;
}

.lh-3 {
  line-height: 3px !important;
}

.lh-4 {
  line-height: 4px !important;
}

.lh-5 {
  line-height: 5px !important;
}

.lh-6 {
  line-height: 6px !important;
}

.lh-7 {
  line-height: 7px !important;
}

.lh-8 {
  line-height: 8px !important;
}

.lh-9 {
  line-height: 9px !important;
}

.lh-10 {
  line-height: 10px !important;
}

.lh-11 {
  line-height: 11px !important;
}

.lh-12 {
  line-height: 12px !important;
}

.lh-13 {
  line-height: 13px !important;
}

.lh-14 {
  line-height: 14px !important;
}

.lh-15 {
  line-height: 15px !important;
}

.lh-16 {
  line-height: 16px !important;
}

.lh-17 {
  line-height: 17px !important;
}

.lh-18 {
  line-height: 18px !important;
}

.lh-19 {
  line-height: 19px !important;
}

.lh-20 {
  line-height: 20px !important;
}

.lh-21 {
  line-height: 21px !important;
}

.lh-22 {
  line-height: 22px !important;
}

.lh-23 {
  line-height: 23px !important;
}

.lh-24 {
  line-height: 24px !important;
}

.lh-25 {
  line-height: 25px !important;
}

.lh-26 {
  line-height: 26px !important;
}

.lh-27 {
  line-height: 27px !important;
}

.lh-28 {
  line-height: 28px !important;
}

.lh-29 {
  line-height: 29px !important;
}

.lh-30 {
  line-height: 30px !important;
}

.lh-31 {
  line-height: 31px !important;
}

.lh-32 {
  line-height: 32px !important;
}

.lh-33 {
  line-height: 33px !important;
}

.lh-34 {
  line-height: 34px !important;
}

.lh-35 {
  line-height: 35px !important;
}

.lh-36 {
  line-height: 36px !important;
}

.lh-37 {
  line-height: 37px !important;
}

.lh-38 {
  line-height: 38px !important;
}

.lh-39 {
  line-height: 39px !important;
}

.lh-40 {
  line-height: 40px !important;
}

.lh-41 {
  line-height: 41px !important;
}

.lh-42 {
  line-height: 42px !important;
}

.lh-43 {
  line-height: 43px !important;
}

.lh-44 {
  line-height: 44px !important;
}

.lh-45 {
  line-height: 45px !important;
}

.lh-46 {
  line-height: 46px !important;
}

.lh-47 {
  line-height: 47px !important;
}

.lh-48 {
  line-height: 48px !important;
}

.lh-49 {
  line-height: 49px !important;
}

.lh-50 {
  line-height: 50px !important;
}

.lh-51 {
  line-height: 51px !important;
}

.lh-52 {
  line-height: 52px !important;
}

.lh-53 {
  line-height: 53px !important;
}

.lh-54 {
  line-height: 54px !important;
}

.lh-55 {
  line-height: 55px !important;
}

.lh-56 {
  line-height: 56px !important;
}

.lh-57 {
  line-height: 57px !important;
}

.lh-58 {
  line-height: 58px !important;
}

.lh-59 {
  line-height: 59px !important;
}

.lh-60 {
  line-height: 60px !important;
}

.lh-61 {
  line-height: 61px !important;
}

.lh-62 {
  line-height: 62px !important;
}

.lh-63 {
  line-height: 63px !important;
}

.lh-64 {
  line-height: 64px !important;
}

.lh-65 {
  line-height: 65px !important;
}

.lh-66 {
  line-height: 66px !important;
}

.lh-67 {
  line-height: 67px !important;
}

.lh-68 {
  line-height: 68px !important;
}

.lh-69 {
  line-height: 69px !important;
}

.lh-70 {
  line-height: 70px !important;
}

.lh-71 {
  line-height: 71px !important;
}

.lh-72 {
  line-height: 72px !important;
}

.lh-73 {
  line-height: 73px !important;
}

.lh-74 {
  line-height: 74px !important;
}

.lh-75 {
  line-height: 75px !important;
}

.lh-76 {
  line-height: 76px !important;
}

.lh-77 {
  line-height: 77px !important;
}

.lh-78 {
  line-height: 78px !important;
}

.lh-79 {
  line-height: 79px !important;
}

.lh-80 {
  line-height: 80px !important;
}

.lh-81 {
  line-height: 81px !important;
}

.lh-82 {
  line-height: 82px !important;
}

.lh-83 {
  line-height: 83px !important;
}

.lh-84 {
  line-height: 84px !important;
}

.lh-85 {
  line-height: 85px !important;
}

.lh-86 {
  line-height: 86px !important;
}

.lh-87 {
  line-height: 87px !important;
}

.lh-88 {
  line-height: 88px !important;
}

.lh-89 {
  line-height: 89px !important;
}

.lh-90 {
  line-height: 90px !important;
}

.lh-91 {
  line-height: 91px !important;
}

.lh-92 {
  line-height: 92px !important;
}

.lh-93 {
  line-height: 93px !important;
}

.lh-94 {
  line-height: 94px !important;
}

.lh-95 {
  line-height: 95px !important;
}

.lh-96 {
  line-height: 96px !important;
}

.lh-97 {
  line-height: 97px !important;
}

.lh-98 {
  line-height: 98px !important;
}

.lh-99 {
  line-height: 99px !important;
}

.lh-100 {
  line-height: 100px !important;
}

/* Spacing */
.mt-0 {
  margin-top: 0rem !important;
}

.mb-0 {
  margin-bottom: 0rem !important;
}

.pt-0 {
  padding-top: 0rem !important;
}

.pb-0 {
  padding-bottom: 0rem !important;
}

.mt-1 {
  margin-top: 1rem !important;
}

.mb-1 {
  margin-bottom: 1rem !important;
}

.pt-1 {
  padding-top: 1rem !important;
}

.pb-1 {
  padding-bottom: 1rem !important;
}

.mt-2 {
  margin-top: 2rem !important;
}

.mb-2 {
  margin-bottom: 2rem !important;
}

.pt-2 {
  padding-top: 2rem !important;
}

.pb-2 {
  padding-bottom: 2rem !important;
}

.mt-3 {
  margin-top: 3rem !important;
}

.mb-3 {
  margin-bottom: 3rem !important;
}

.pt-3 {
  padding-top: 3rem !important;
}

.pb-3 {
  padding-bottom: 3rem !important;
}

.mt-4 {
  margin-top: 4rem !important;
}

.mb-4 {
  margin-bottom: 4rem !important;
}

.pt-4 {
  padding-top: 4rem !important;
}

.pb-4 {
  padding-bottom: 4rem !important;
}

.mt-5 {
  margin-top: 5rem !important;
}

.mb-5 {
  margin-bottom: 5rem !important;
}

.pt-5 {
  padding-top: 5rem !important;
}

.pb-5 {
  padding-bottom: 5rem !important;
}

.mt-6 {
  margin-top: 6rem !important;
}

.mb-6 {
  margin-bottom: 6rem !important;
}

.pt-6 {
  padding-top: 6rem !important;
}

.pb-6 {
  padding-bottom: 6rem !important;
}

.mt-7 {
  margin-top: 7rem !important;
}

.mb-7 {
  margin-bottom: 7rem !important;
}

.pt-7 {
  padding-top: 7rem !important;
}

.pb-7 {
  padding-bottom: 7rem !important;
}

.mt-8 {
  margin-top: 8rem !important;
}

.mb-8 {
  margin-bottom: 8rem !important;
}

.pt-8 {
  padding-top: 8rem !important;
}

.pb-8 {
  padding-bottom: 8rem !important;
}

.mt-9 {
  margin-top: 9rem !important;
}

.mb-9 {
  margin-bottom: 9rem !important;
}

.pt-9 {
  padding-top: 9rem !important;
}

.pb-9 {
  padding-bottom: 9rem !important;
}

.mt-10 {
  margin-top: 10rem !important;
}

.mb-10 {
  margin-bottom: 10rem !important;
}

.pt-10 {
  padding-top: 10rem !important;
}

.pb-10 {
  padding-bottom: 10rem !important;
}

.mt-11 {
  margin-top: 11rem !important;
}

.mb-11 {
  margin-bottom: 11rem !important;
}

.pt-11 {
  padding-top: 11rem !important;
}

.pb-11 {
  padding-bottom: 11rem !important;
}

.mt-12 {
  margin-top: 12rem !important;
}

.mb-12 {
  margin-bottom: 12rem !important;
}

.pt-12 {
  padding-top: 12rem !important;
}

.pb-12 {
  padding-bottom: 12rem !important;
}

.mt-13 {
  margin-top: 13rem !important;
}

.mb-13 {
  margin-bottom: 13rem !important;
}

.pt-13 {
  padding-top: 13rem !important;
}

.pb-13 {
  padding-bottom: 13rem !important;
}

.mt-14 {
  margin-top: 14rem !important;
}

.mb-14 {
  margin-bottom: 14rem !important;
}

.pt-14 {
  padding-top: 14rem !important;
}

.pb-14 {
  padding-bottom: 14rem !important;
}

.mt-15 {
  margin-top: 15rem !important;
}

.mb-15 {
  margin-bottom: 15rem !important;
}

.pt-15 {
  padding-top: 15rem !important;
}

.pb-15 {
  padding-bottom: 15rem !important;
}

@media (min-width: 576px) {
  .mt-sm-0 {
    margin-top: 0rem !important;
  }

  .mt-sm-1 {
    margin-top: 1rem !important;
  }

  .mt-sm-2 {
    margin-top: 2rem !important;
  }

  .mt-sm-3 {
    margin-top: 3rem !important;
  }

  .mt-sm-4 {
    margin-top: 4rem !important;
  }

  .mt-sm-5 {
    margin-top: 5rem !important;
  }

  .mt-sm-6 {
    margin-top: 6rem !important;
  }

  .mt-sm-7 {
    margin-top: 7rem !important;
  }

  .mt-sm-8 {
    margin-top: 8rem !important;
  }

  .mt-sm-9 {
    margin-top: 9rem !important;
  }

  .mt-sm-10 {
    margin-top: 10rem !important;
  }

  .mt-sm-11 {
    margin-top: 11rem !important;
  }

  .mt-sm-12 {
    margin-top: 12rem !important;
  }

  .mt-sm-13 {
    margin-top: 13rem !important;
  }

  .mt-sm-14 {
    margin-top: 14rem !important;
  }

  .mt-sm-15 {
    margin-top: 15rem !important;
  }

  .mb-sm-0 {
    margin-bottom: 0rem !important;
  }

  .mb-sm-1 {
    margin-bottom: 1rem !important;
  }

  .mb-sm-2 {
    margin-bottom: 2rem !important;
  }

  .mb-sm-3 {
    margin-bottom: 3rem !important;
  }

  .mb-sm-4 {
    margin-bottom: 4rem !important;
  }

  .mb-sm-5 {
    margin-bottom: 5rem !important;
  }

  .mb-sm-6 {
    margin-bottom: 6rem !important;
  }

  .mb-sm-7 {
    margin-bottom: 7rem !important;
  }

  .mb-sm-8 {
    margin-bottom: 8rem !important;
  }

  .mb-sm-9 {
    margin-bottom: 9rem !important;
  }

  .mb-sm-10 {
    margin-bottom: 10rem !important;
  }

  .mb-sm-11 {
    margin-bottom: 11rem !important;
  }

  .mb-sm-12 {
    margin-bottom: 12rem !important;
  }

  .mb-sm-13 {
    margin-bottom: 13rem !important;
  }

  .mb-sm-14 {
    margin-bottom: 14rem !important;
  }

  .mb-sm-15 {
    margin-bottom: 15rem !important;
  }

  .pt-sm-0 {
    padding-top: 0rem !important;
  }

  .pt-sm-1 {
    padding-top: 1rem !important;
  }

  .pt-sm-2 {
    padding-top: 2rem !important;
  }

  .pt-sm-3 {
    padding-top: 3rem !important;
  }

  .pt-sm-4 {
    padding-top: 4rem !important;
  }

  .pt-sm-5 {
    padding-top: 5rem !important;
  }

  .pt-sm-6 {
    padding-top: 6rem !important;
  }

  .pt-sm-7 {
    padding-top: 7rem !important;
  }

  .pt-sm-8 {
    padding-top: 8rem !important;
  }

  .pt-sm-9 {
    padding-top: 9rem !important;
  }

  .pt-sm-10 {
    padding-top: 10rem !important;
  }

  .pt-sm-11 {
    padding-top: 11rem !important;
  }

  .pt-sm-12 {
    padding-top: 12rem !important;
  }

  .pt-sm-13 {
    padding-top: 13rem !important;
  }

  .pt-sm-14 {
    padding-top: 14rem !important;
  }

  .pt-sm-15 {
    padding-top: 15rem !important;
  }

  .pb-sm-0 {
    padding-bottom: 0rem !important;
  }

  .pb-sm-1 {
    padding-bottom: 1rem !important;
  }

  .pb-sm-2 {
    padding-bottom: 2rem !important;
  }

  .pb-sm-3 {
    padding-bottom: 3rem !important;
  }

  .pb-sm-4 {
    padding-bottom: 4rem !important;
  }

  .pb-sm-5 {
    padding-bottom: 5rem !important;
  }

  .pb-sm-6 {
    padding-bottom: 6rem !important;
  }

  .pb-sm-7 {
    padding-bottom: 7rem !important;
  }

  .pb-sm-8 {
    padding-bottom: 8rem !important;
  }

  .pb-sm-9 {
    padding-bottom: 9rem !important;
  }

  .pb-sm-10 {
    padding-bottom: 10rem !important;
  }

  .pb-sm-11 {
    padding-bottom: 11rem !important;
  }

  .pb-sm-12 {
    padding-bottom: 12rem !important;
  }

  .pb-sm-13 {
    padding-bottom: 13rem !important;
  }

  .pb-sm-14 {
    padding-bottom: 14rem !important;
  }

  .pb-sm-15 {
    padding-bottom: 15rem !important;
  }
}
@media (min-width: 768px) {
  .lh-md-0 {
    line-height: 0px !important;
  }

  .lh-md-1 {
    line-height: 1px !important;
  }

  .lh-md-2 {
    line-height: 2px !important;
  }

  .lh-md-3 {
    line-height: 3px !important;
  }

  .lh-md-4 {
    line-height: 4px !important;
  }

  .lh-md-5 {
    line-height: 5px !important;
  }

  .lh-md-6 {
    line-height: 6px !important;
  }

  .lh-md-7 {
    line-height: 7px !important;
  }

  .lh-md-8 {
    line-height: 8px !important;
  }

  .lh-md-9 {
    line-height: 9px !important;
  }

  .lh-md-10 {
    line-height: 10px !important;
  }

  .lh-md-11 {
    line-height: 11px !important;
  }

  .lh-md-12 {
    line-height: 12px !important;
  }

  .lh-md-13 {
    line-height: 13px !important;
  }

  .lh-md-14 {
    line-height: 14px !important;
  }

  .lh-md-15 {
    line-height: 15px !important;
  }

  .lh-md-16 {
    line-height: 16px !important;
  }

  .lh-md-17 {
    line-height: 17px !important;
  }

  .lh-md-18 {
    line-height: 18px !important;
  }

  .lh-md-19 {
    line-height: 19px !important;
  }

  .lh-md-20 {
    line-height: 20px !important;
  }

  .lh-md-21 {
    line-height: 21px !important;
  }

  .lh-md-22 {
    line-height: 22px !important;
  }

  .lh-md-23 {
    line-height: 23px !important;
  }

  .lh-md-24 {
    line-height: 24px !important;
  }

  .lh-md-25 {
    line-height: 25px !important;
  }

  .lh-md-26 {
    line-height: 26px !important;
  }

  .lh-md-27 {
    line-height: 27px !important;
  }

  .lh-md-28 {
    line-height: 28px !important;
  }

  .lh-md-29 {
    line-height: 29px !important;
  }

  .lh-md-30 {
    line-height: 30px !important;
  }

  .lh-md-31 {
    line-height: 31px !important;
  }

  .lh-md-32 {
    line-height: 32px !important;
  }

  .lh-md-33 {
    line-height: 33px !important;
  }

  .lh-md-34 {
    line-height: 34px !important;
  }

  .lh-md-35 {
    line-height: 35px !important;
  }

  .lh-md-36 {
    line-height: 36px !important;
  }

  .lh-md-37 {
    line-height: 37px !important;
  }

  .lh-md-38 {
    line-height: 38px !important;
  }

  .lh-md-39 {
    line-height: 39px !important;
  }

  .lh-md-40 {
    line-height: 40px !important;
  }

  .lh-md-41 {
    line-height: 41px !important;
  }

  .lh-md-42 {
    line-height: 42px !important;
  }

  .lh-md-43 {
    line-height: 43px !important;
  }

  .lh-md-44 {
    line-height: 44px !important;
  }

  .lh-md-45 {
    line-height: 45px !important;
  }

  .lh-md-46 {
    line-height: 46px !important;
  }

  .lh-md-47 {
    line-height: 47px !important;
  }

  .lh-md-48 {
    line-height: 48px !important;
  }

  .lh-md-49 {
    line-height: 49px !important;
  }

  .lh-md-50 {
    line-height: 50px !important;
  }

  .lh-md-51 {
    line-height: 51px !important;
  }

  .lh-md-52 {
    line-height: 52px !important;
  }

  .lh-md-53 {
    line-height: 53px !important;
  }

  .lh-md-54 {
    line-height: 54px !important;
  }

  .lh-md-55 {
    line-height: 55px !important;
  }

  .lh-md-56 {
    line-height: 56px !important;
  }

  .lh-md-57 {
    line-height: 57px !important;
  }

  .lh-md-58 {
    line-height: 58px !important;
  }

  .lh-md-59 {
    line-height: 59px !important;
  }

  .lh-md-60 {
    line-height: 60px !important;
  }

  .lh-md-61 {
    line-height: 61px !important;
  }

  .lh-md-62 {
    line-height: 62px !important;
  }

  .lh-md-63 {
    line-height: 63px !important;
  }

  .lh-md-64 {
    line-height: 64px !important;
  }

  .lh-md-65 {
    line-height: 65px !important;
  }

  .lh-md-66 {
    line-height: 66px !important;
  }

  .lh-md-67 {
    line-height: 67px !important;
  }

  .lh-md-68 {
    line-height: 68px !important;
  }

  .lh-md-69 {
    line-height: 69px !important;
  }

  .lh-md-70 {
    line-height: 70px !important;
  }

  .lh-md-71 {
    line-height: 71px !important;
  }

  .lh-md-72 {
    line-height: 72px !important;
  }

  .lh-md-73 {
    line-height: 73px !important;
  }

  .lh-md-74 {
    line-height: 74px !important;
  }

  .lh-md-75 {
    line-height: 75px !important;
  }

  .lh-md-76 {
    line-height: 76px !important;
  }

  .lh-md-77 {
    line-height: 77px !important;
  }

  .lh-md-78 {
    line-height: 78px !important;
  }

  .lh-md-79 {
    line-height: 79px !important;
  }

  .lh-md-80 {
    line-height: 80px !important;
  }

  .lh-md-81 {
    line-height: 81px !important;
  }

  .lh-md-82 {
    line-height: 82px !important;
  }

  .lh-md-83 {
    line-height: 83px !important;
  }

  .lh-md-84 {
    line-height: 84px !important;
  }

  .lh-md-85 {
    line-height: 85px !important;
  }

  .lh-md-86 {
    line-height: 86px !important;
  }

  .lh-md-87 {
    line-height: 87px !important;
  }

  .lh-md-88 {
    line-height: 88px !important;
  }

  .lh-md-89 {
    line-height: 89px !important;
  }

  .lh-md-90 {
    line-height: 90px !important;
  }

  .lh-md-91 {
    line-height: 91px !important;
  }

  .lh-md-92 {
    line-height: 92px !important;
  }

  .lh-md-93 {
    line-height: 93px !important;
  }

  .lh-md-94 {
    line-height: 94px !important;
  }

  .lh-md-95 {
    line-height: 95px !important;
  }

  .lh-md-96 {
    line-height: 96px !important;
  }

  .lh-md-97 {
    line-height: 97px !important;
  }

  .lh-md-98 {
    line-height: 98px !important;
  }

  .lh-md-99 {
    line-height: 99px !important;
  }

  .lh-md-100 {
    line-height: 100px !important;
  }

  .mt-md-0 {
    margin-top: 0rem !important;
  }

  .mt-md-1 {
    margin-top: 1rem !important;
  }

  .mt-md-2 {
    margin-top: 2rem !important;
  }

  .mt-md-3 {
    margin-top: 3rem !important;
  }

  .mt-md-4 {
    margin-top: 4rem !important;
  }

  .mt-md-5 {
    margin-top: 5rem !important;
  }

  .mt-md-6 {
    margin-top: 6rem !important;
  }

  .mt-md-7 {
    margin-top: 7rem !important;
  }

  .mt-md-8 {
    margin-top: 8rem !important;
  }

  .mt-md-9 {
    margin-top: 9rem !important;
  }

  .mt-md-10 {
    margin-top: 10rem !important;
  }

  .mt-md-11 {
    margin-top: 11rem !important;
  }

  .mt-md-12 {
    margin-top: 12rem !important;
  }

  .mt-md-13 {
    margin-top: 13rem !important;
  }

  .mt-md-14 {
    margin-top: 14rem !important;
  }

  .mt-md-15 {
    margin-top: 15rem !important;
  }

  .mb-md-0 {
    margin-bottom: 0rem !important;
  }

  .mb-md-1 {
    margin-bottom: 1rem !important;
  }

  .mb-md-2 {
    margin-bottom: 2rem !important;
  }

  .mb-md-3 {
    margin-bottom: 3rem !important;
  }

  .mb-md-4 {
    margin-bottom: 4rem !important;
  }

  .mb-md-5 {
    margin-bottom: 5rem !important;
  }

  .mb-md-6 {
    margin-bottom: 6rem !important;
  }

  .mb-md-7 {
    margin-bottom: 7rem !important;
  }

  .mb-md-8 {
    margin-bottom: 8rem !important;
  }

  .mb-md-9 {
    margin-bottom: 9rem !important;
  }

  .mb-md-10 {
    margin-bottom: 10rem !important;
  }

  .mb-md-11 {
    margin-bottom: 11rem !important;
  }

  .mb-md-12 {
    margin-bottom: 12rem !important;
  }

  .mb-md-13 {
    margin-bottom: 13rem !important;
  }

  .mb-md-14 {
    margin-bottom: 14rem !important;
  }

  .mb-md-15 {
    margin-bottom: 15rem !important;
  }

  .pt-md-0 {
    padding-top: 0rem !important;
  }

  .pt-md-1 {
    padding-top: 1rem !important;
  }

  .pt-md-2 {
    padding-top: 2rem !important;
  }

  .pt-md-3 {
    padding-top: 3rem !important;
  }

  .pt-md-4 {
    padding-top: 4rem !important;
  }

  .pt-md-5 {
    padding-top: 5rem !important;
  }

  .pt-md-6 {
    padding-top: 6rem !important;
  }

  .pt-md-7 {
    padding-top: 7rem !important;
  }

  .pt-md-8 {
    padding-top: 8rem !important;
  }

  .pt-md-9 {
    padding-top: 9rem !important;
  }

  .pt-md-10 {
    padding-top: 10rem !important;
  }

  .pt-md-11 {
    padding-top: 11rem !important;
  }

  .pt-md-12 {
    padding-top: 12rem !important;
  }

  .pt-md-13 {
    padding-top: 13rem !important;
  }

  .pt-md-14 {
    padding-top: 14rem !important;
  }

  .pt-md-15 {
    padding-top: 15rem !important;
  }

  .pb-md-0 {
    padding-bottom: 0rem !important;
  }

  .pb-md-1 {
    padding-bottom: 1rem !important;
  }

  .pb-md-2 {
    padding-bottom: 2rem !important;
  }

  .pb-md-3 {
    padding-bottom: 3rem !important;
  }

  .pb-md-4 {
    padding-bottom: 4rem !important;
  }

  .pb-md-5 {
    padding-bottom: 5rem !important;
  }

  .pb-md-6 {
    padding-bottom: 6rem !important;
  }

  .pb-md-7 {
    padding-bottom: 7rem !important;
  }

  .pb-md-8 {
    padding-bottom: 8rem !important;
  }

  .pb-md-9 {
    padding-bottom: 9rem !important;
  }

  .pb-md-10 {
    padding-bottom: 10rem !important;
  }

  .pb-md-11 {
    padding-bottom: 11rem !important;
  }

  .pb-md-12 {
    padding-bottom: 12rem !important;
  }

  .pb-md-13 {
    padding-bottom: 13rem !important;
  }

  .pb-md-14 {
    padding-bottom: 14rem !important;
  }

  .pb-md-15 {
    padding-bottom: 15rem !important;
  }
}
@media (min-width: 922px) {
  .mt-lg-0 {
    margin-top: 0rem !important;
  }

  .mt-lg-1 {
    margin-top: 1rem !important;
  }

  .mt-lg-2 {
    margin-top: 2rem !important;
  }

  .mt-lg-3 {
    margin-top: 3rem !important;
  }

  .mt-lg-4 {
    margin-top: 4rem !important;
  }

  .mt-lg-5 {
    margin-top: 5rem !important;
  }

  .mt-lg-6 {
    margin-top: 6rem !important;
  }

  .mt-lg-7 {
    margin-top: 7rem !important;
  }

  .mt-lg-8 {
    margin-top: 8rem !important;
  }

  .mt-lg-9 {
    margin-top: 9rem !important;
  }

  .mt-lg-10 {
    margin-top: 10rem !important;
  }

  .mt-lg-11 {
    margin-top: 11rem !important;
  }

  .mt-lg-12 {
    margin-top: 12rem !important;
  }

  .mt-lg-13 {
    margin-top: 13rem !important;
  }

  .mt-lg-14 {
    margin-top: 14rem !important;
  }

  .mt-lg-15 {
    margin-top: 15rem !important;
  }

  .mb-lg-0 {
    margin-bottom: 0rem !important;
  }

  .mb-lg-1 {
    margin-bottom: 1rem !important;
  }

  .mb-lg-2 {
    margin-bottom: 2rem !important;
  }

  .mb-lg-3 {
    margin-bottom: 3rem !important;
  }

  .mb-lg-4 {
    margin-bottom: 4rem !important;
  }

  .mb-lg-5 {
    margin-bottom: 5rem !important;
  }

  .mb-lg-6 {
    margin-bottom: 6rem !important;
  }

  .mb-lg-7 {
    margin-bottom: 7rem !important;
  }

  .mb-lg-8 {
    margin-bottom: 8rem !important;
  }

  .mb-lg-9 {
    margin-bottom: 9rem !important;
  }

  .mb-lg-10 {
    margin-bottom: 10rem !important;
  }

  .mb-lg-11 {
    margin-bottom: 11rem !important;
  }

  .mb-lg-12 {
    margin-bottom: 12rem !important;
  }

  .mb-lg-13 {
    margin-bottom: 13rem !important;
  }

  .mb-lg-14 {
    margin-bottom: 14rem !important;
  }

  .mb-lg-15 {
    margin-bottom: 15rem !important;
  }

  .pt-lg-0 {
    padding-top: 0rem !important;
  }

  .pt-lg-1 {
    padding-top: 1rem !important;
  }

  .pt-lg-2 {
    padding-top: 2rem !important;
  }

  .pt-lg-3 {
    padding-top: 3rem !important;
  }

  .pt-lg-4 {
    padding-top: 4rem !important;
  }

  .pt-lg-5 {
    padding-top: 5rem !important;
  }

  .pt-lg-6 {
    padding-top: 6rem !important;
  }

  .pt-lg-7 {
    padding-top: 7rem !important;
  }

  .pt-lg-8 {
    padding-top: 8rem !important;
  }

  .pt-lg-9 {
    padding-top: 9rem !important;
  }

  .pt-lg-10 {
    padding-top: 10rem !important;
  }

  .pt-lg-11 {
    padding-top: 11rem !important;
  }

  .pt-lg-12 {
    padding-top: 12rem !important;
  }

  .pt-lg-13 {
    padding-top: 13rem !important;
  }

  .pt-lg-14 {
    padding-top: 14rem !important;
  }

  .pt-lg-15 {
    padding-top: 15rem !important;
  }

  .pb-lg-0 {
    padding-bottom: 0rem !important;
  }

  .pb-lg-1 {
    padding-bottom: 1rem !important;
  }

  .pb-lg-2 {
    padding-bottom: 2rem !important;
  }

  .pb-lg-3 {
    padding-bottom: 3rem !important;
  }

  .pb-lg-4 {
    padding-bottom: 4rem !important;
  }

  .pb-lg-5 {
    padding-bottom: 5rem !important;
  }

  .pb-lg-6 {
    padding-bottom: 6rem !important;
  }

  .pb-lg-7 {
    padding-bottom: 7rem !important;
  }

  .pb-lg-8 {
    padding-bottom: 8rem !important;
  }

  .pb-lg-9 {
    padding-bottom: 9rem !important;
  }

  .pb-lg-10 {
    padding-bottom: 10rem !important;
  }

  .pb-lg-11 {
    padding-bottom: 11rem !important;
  }

  .pb-lg-12 {
    padding-bottom: 12rem !important;
  }

  .pb-lg-13 {
    padding-bottom: 13rem !important;
  }

  .pb-lg-14 {
    padding-bottom: 14rem !important;
  }

  .pb-lg-15 {
    padding-bottom: 15rem !important;
  }
}
@media (min-width: 1200px) {
  .lh-xl-0 {
    line-height: 0px !important;
  }

  .lh-xl-1 {
    line-height: 1px !important;
  }

  .lh-xl-2 {
    line-height: 2px !important;
  }

  .lh-xl-3 {
    line-height: 3px !important;
  }

  .lh-xl-4 {
    line-height: 4px !important;
  }

  .lh-xl-5 {
    line-height: 5px !important;
  }

  .lh-xl-6 {
    line-height: 6px !important;
  }

  .lh-xl-7 {
    line-height: 7px !important;
  }

  .lh-xl-8 {
    line-height: 8px !important;
  }

  .lh-xl-9 {
    line-height: 9px !important;
  }

  .lh-xl-10 {
    line-height: 10px !important;
  }

  .lh-xl-11 {
    line-height: 11px !important;
  }

  .lh-xl-12 {
    line-height: 12px !important;
  }

  .lh-xl-13 {
    line-height: 13px !important;
  }

  .lh-xl-14 {
    line-height: 14px !important;
  }

  .lh-xl-15 {
    line-height: 15px !important;
  }

  .lh-xl-16 {
    line-height: 16px !important;
  }

  .lh-xl-17 {
    line-height: 17px !important;
  }

  .lh-xl-18 {
    line-height: 18px !important;
  }

  .lh-xl-19 {
    line-height: 19px !important;
  }

  .lh-xl-20 {
    line-height: 20px !important;
  }

  .lh-xl-21 {
    line-height: 21px !important;
  }

  .lh-xl-22 {
    line-height: 22px !important;
  }

  .lh-xl-23 {
    line-height: 23px !important;
  }

  .lh-xl-24 {
    line-height: 24px !important;
  }

  .lh-xl-25 {
    line-height: 25px !important;
  }

  .lh-xl-26 {
    line-height: 26px !important;
  }

  .lh-xl-27 {
    line-height: 27px !important;
  }

  .lh-xl-28 {
    line-height: 28px !important;
  }

  .lh-xl-29 {
    line-height: 29px !important;
  }

  .lh-xl-30 {
    line-height: 30px !important;
  }

  .lh-xl-31 {
    line-height: 31px !important;
  }

  .lh-xl-32 {
    line-height: 32px !important;
  }

  .lh-xl-33 {
    line-height: 33px !important;
  }

  .lh-xl-34 {
    line-height: 34px !important;
  }

  .lh-xl-35 {
    line-height: 35px !important;
  }

  .lh-xl-36 {
    line-height: 36px !important;
  }

  .lh-xl-37 {
    line-height: 37px !important;
  }

  .lh-xl-38 {
    line-height: 38px !important;
  }

  .lh-xl-39 {
    line-height: 39px !important;
  }

  .lh-xl-40 {
    line-height: 40px !important;
  }

  .lh-xl-41 {
    line-height: 41px !important;
  }

  .lh-xl-42 {
    line-height: 42px !important;
  }

  .lh-xl-43 {
    line-height: 43px !important;
  }

  .lh-xl-44 {
    line-height: 44px !important;
  }

  .lh-xl-45 {
    line-height: 45px !important;
  }

  .lh-xl-46 {
    line-height: 46px !important;
  }

  .lh-xl-47 {
    line-height: 47px !important;
  }

  .lh-xl-48 {
    line-height: 48px !important;
  }

  .lh-xl-49 {
    line-height: 49px !important;
  }

  .lh-xl-50 {
    line-height: 50px !important;
  }

  .lh-xl-51 {
    line-height: 51px !important;
  }

  .lh-xl-52 {
    line-height: 52px !important;
  }

  .lh-xl-53 {
    line-height: 53px !important;
  }

  .lh-xl-54 {
    line-height: 54px !important;
  }

  .lh-xl-55 {
    line-height: 55px !important;
  }

  .lh-xl-56 {
    line-height: 56px !important;
  }

  .lh-xl-57 {
    line-height: 57px !important;
  }

  .lh-xl-58 {
    line-height: 58px !important;
  }

  .lh-xl-59 {
    line-height: 59px !important;
  }

  .lh-xl-60 {
    line-height: 60px !important;
  }

  .lh-xl-61 {
    line-height: 61px !important;
  }

  .lh-xl-62 {
    line-height: 62px !important;
  }

  .lh-xl-63 {
    line-height: 63px !important;
  }

  .lh-xl-64 {
    line-height: 64px !important;
  }

  .lh-xl-65 {
    line-height: 65px !important;
  }

  .lh-xl-66 {
    line-height: 66px !important;
  }

  .lh-xl-67 {
    line-height: 67px !important;
  }

  .lh-xl-68 {
    line-height: 68px !important;
  }

  .lh-xl-69 {
    line-height: 69px !important;
  }

  .lh-xl-70 {
    line-height: 70px !important;
  }

  .lh-xl-71 {
    line-height: 71px !important;
  }

  .lh-xl-72 {
    line-height: 72px !important;
  }

  .lh-xl-73 {
    line-height: 73px !important;
  }

  .lh-xl-74 {
    line-height: 74px !important;
  }

  .lh-xl-75 {
    line-height: 75px !important;
  }

  .lh-xl-76 {
    line-height: 76px !important;
  }

  .lh-xl-77 {
    line-height: 77px !important;
  }

  .lh-xl-78 {
    line-height: 78px !important;
  }

  .lh-xl-79 {
    line-height: 79px !important;
  }

  .lh-xl-80 {
    line-height: 80px !important;
  }

  .lh-xl-81 {
    line-height: 81px !important;
  }

  .lh-xl-82 {
    line-height: 82px !important;
  }

  .lh-xl-83 {
    line-height: 83px !important;
  }

  .lh-xl-84 {
    line-height: 84px !important;
  }

  .lh-xl-85 {
    line-height: 85px !important;
  }

  .lh-xl-86 {
    line-height: 86px !important;
  }

  .lh-xl-87 {
    line-height: 87px !important;
  }

  .lh-xl-88 {
    line-height: 88px !important;
  }

  .lh-xl-89 {
    line-height: 89px !important;
  }

  .lh-xl-90 {
    line-height: 90px !important;
  }

  .lh-xl-91 {
    line-height: 91px !important;
  }

  .lh-xl-92 {
    line-height: 92px !important;
  }

  .lh-xl-93 {
    line-height: 93px !important;
  }

  .lh-xl-94 {
    line-height: 94px !important;
  }

  .lh-xl-95 {
    line-height: 95px !important;
  }

  .lh-xl-96 {
    line-height: 96px !important;
  }

  .lh-xl-97 {
    line-height: 97px !important;
  }

  .lh-xl-98 {
    line-height: 98px !important;
  }

  .lh-xl-99 {
    line-height: 99px !important;
  }

  .lh-xl-100 {
    line-height: 100px !important;
  }

  .mt-xl-0 {
    margin-top: 0rem !important;
  }

  .mt-xl-1 {
    margin-top: 1rem !important;
  }

  .mt-xl-2 {
    margin-top: 2rem !important;
  }

  .mt-xl-3 {
    margin-top: 3rem !important;
  }

  .mt-xl-4 {
    margin-top: 4rem !important;
  }

  .mt-xl-5 {
    margin-top: 5rem !important;
  }

  .mt-xl-6 {
    margin-top: 6rem !important;
  }

  .mt-xl-7 {
    margin-top: 7rem !important;
  }

  .mt-xl-8 {
    margin-top: 8rem !important;
  }

  .mt-xl-9 {
    margin-top: 9rem !important;
  }

  .mt-xl-10 {
    margin-top: 10rem !important;
  }

  .mt-xl-11 {
    margin-top: 11rem !important;
  }

  .mt-xl-12 {
    margin-top: 12rem !important;
  }

  .mt-xl-13 {
    margin-top: 13rem !important;
  }

  .mt-xl-14 {
    margin-top: 14rem !important;
  }

  .mt-xl-15 {
    margin-top: 15rem !important;
  }

  .mb-xl-0 {
    margin-bottom: 0rem !important;
  }

  .mb-xl-1 {
    margin-bottom: 1rem !important;
  }

  .mb-xl-2 {
    margin-bottom: 2rem !important;
  }

  .mb-xl-3 {
    margin-bottom: 3rem !important;
  }

  .mb-xl-4 {
    margin-bottom: 4rem !important;
  }

  .mb-xl-5 {
    margin-bottom: 5rem !important;
  }

  .mb-xl-6 {
    margin-bottom: 6rem !important;
  }

  .mb-xl-7 {
    margin-bottom: 7rem !important;
  }

  .mb-xl-8 {
    margin-bottom: 8rem !important;
  }

  .mb-xl-9 {
    margin-bottom: 9rem !important;
  }

  .mb-xl-10 {
    margin-bottom: 10rem !important;
  }

  .mb-xl-11 {
    margin-bottom: 11rem !important;
  }

  .mb-xl-12 {
    margin-bottom: 12rem !important;
  }

  .mb-xl-13 {
    margin-bottom: 13rem !important;
  }

  .mb-xl-14 {
    margin-bottom: 14rem !important;
  }

  .mb-xl-15 {
    margin-bottom: 15rem !important;
  }
}
/*# sourceMappingURL=spacing.css.map */