@charset "UTF-8";
/* Header */
#header {
  background: #fff;
}
#header .container-fluid {
  padding-left: 15px;
  padding-right: 15px;
}
#header .alert-box {
  color: #fff;
  background: #FF7451;
}
#header .alert-box .alert {
  font-size: 20px;
  margin: 0;
  padding: 10px 20px;
}
#header .alert-box .alert p {
  display: inline-block;
}
#header .alert-box strong {
  color: #fff;
}
#header .alert-box .more-details {
  position: relative;
  display: inline-block;
}
#header .alert-box .more-details:hover {
  cursor: help;
}
#header .alert-box .more-details:hover::before {
  width: 0;
}
#header .alert-box .more-details:hover .details-content {
  opacity: 1;
  visibility: visible;
  margin-top: 0;
}
#header .alert-box .more-details::before {
  position: absolute;
  z-index: 2;
  bottom: 3px;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  content: "";
  color: transparent;
  background: #ffffff;
  height: 2px;
  pointer-events: none;
  -webkit-transition: width 0.2s;
  -o-transition: width 0.2s;
  transition: width 0.2s;
}
#header .alert-box .more-details .details-content {
  opacity: 0;
  visibility: hidden;
  margin-top: 16px;
  position: absolute;
  background: #333;
  width: 320px;
  font-size: 14px;
  padding: 20px;
  top: calc(100% + 4px);
  left: 50%;
  font-weight: 400;
  line-height: 1.42;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  z-index: 992;
}
#header .alert-box .more-details .details-content::after {
  content: "";
  position: absolute;
  left: 50%;
  top: -8px;
  border: 4px solid transparent;
  border-bottom-color: transparent;
  border-bottom-color: #333333;
  pointer-events: none;
  z-index: 11;
}
#header .alert-box .more-details .details-content a {
  font-weight: 800;
  color: #fff;
  text-decoration: underline;
}
#header .alert-box .more-details .details-content a:hover {
  color: #48CAB2;
}
#header .alert-box .close {
  color: #fff;
  padding: 5px;
  opacity: 1;
  position: absolute;
  right: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
#header .alert-box .close:hover {
  color: #333;
}
#header .alert-box.closed {
  margin-top: -1px;
}

.header-2 #hor-menu .nav {
  text-align: center;
}

.header-3 #hor-menu .nav {
  text-align: right;
}

.header-4 .header-middle {
  padding-top: 18px;
}
.header-4 #search-form.default {
  margin-left: 10px;
}
.header-4 #hor-menu .gdz-megamenu .nav.level0 > li.sub-home > a {
  padding-left: 0;
}
.header-4 #hor-menu .gdz-megamenu .nav.level0 > li > a {
  line-height: 63px;
}
.header-4 #hor-menu .gdz-megamenu .nav.level0 > li > a span::before {
  bottom: 19px;
}
.header-4 .sticky-wrapper {
  margin-top: -8px;
}
.header-4 .sticky-wrapper.sticky {
  margin-top: 0;
}

.header-5 .right-module-header {
  padding-bottom: 0;
}

.header-6 .header-middle {
  padding-top: 23px;
}
.header-6 .sticky-wrapper {
  margin-top: -7px;
}
.header-6 #hor-menu .gdz-megamenu .nav.level0 > li > a {
  line-height: 64px;
}
.header-6 #hor-menu .gdz-megamenu .nav.level0 > li > a span::before {
  bottom: 22px;
}

.header-7 .header-middle, .header-8 .header-middle, .header-10 .header-middle {
  padding: 18px 0;
}
.header-7 #search-form.default, .header-8 #search-form.default, .header-10 #search-form.default {
  min-width: 470px;
  margin: 0 auto;
}
.header-7 .sticky-wrapper, .header-8 .sticky-wrapper, .header-10 .sticky-wrapper {
  background-color: #333;
}
.header-7 #hor-menu .gdz-megamenu .nav.level0 > li:first-child > a, .header-8 #hor-menu .gdz-megamenu .nav.level0 > li:first-child > a, .header-10 #hor-menu .gdz-megamenu .nav.level0 > li:first-child > a {
  padding-left: 0;
}
.header-7 #hor-menu .gdz-megamenu .nav.level0 > li.open > a, .header-8 #hor-menu .gdz-megamenu .nav.level0 > li.open > a, .header-10 #hor-menu .gdz-megamenu .nav.level0 > li.open > a {
  color: #48CAB2;
}
.header-7 #hor-menu .gdz-megamenu .nav.level0 > li.sub-home > a, .header-8 #hor-menu .gdz-megamenu .nav.level0 > li.sub-home > a, .header-10 #hor-menu .gdz-megamenu .nav.level0 > li.sub-home > a {
  color: #48CAB2;
}
.header-7 #hor-menu .gdz-megamenu .nav.level0 > li > a, .header-8 #hor-menu .gdz-megamenu .nav.level0 > li > a, .header-10 #hor-menu .gdz-megamenu .nav.level0 > li > a {
  line-height: 40px;
  color: #fff;
}
.header-7 #hor-menu .gdz-megamenu .nav.level0 > li > a span::before, .header-8 #hor-menu .gdz-megamenu .nav.level0 > li > a span::before, .header-10 #hor-menu .gdz-megamenu .nav.level0 > li > a span::before {
  bottom: 8px;
}
.header-7 .buy-theme, .header-8 .buy-theme, .header-10 .buy-theme {
  text-transform: uppercase;
  color: #48CAB2;
  font-size: 13px;
  font-weight: 800;
  position: relative;
  letter-spacing: 0.7px;
}
.header-7 .buy-theme::before, .header-8 .buy-theme::before, .header-10 .buy-theme::before {
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: "";
  color: transparent;
  background-color: #48CAB2;
  height: 2px;
  -webkit-transition: width 0.25s linear;
  -o-transition: width 0.25s linear;
  transition: width 0.25s linear;
}
.header-7 .buy-theme:hover::before, .header-8 .buy-theme:hover::before, .header-10 .buy-theme:hover::before {
  width: 100%;
}

.header-11 #hor-menu .nav {
  text-align: right;
}

.sticky #cart_block .ajax_cart_quantity {
  background: transparent;
  color: #333;
  top: -9px;
  right: -9px;
}

.vermenu {
  position: relative;
}
.vermenu.show .vermenu-btn .pt-icon .open-icon {
  display: none;
}
.vermenu.show .vermenu-btn .pt-icon .close-icon {
  display: block;
}

.vermenu-btn {
  background: #48CAB2;
  color: #fff;
  line-height: 39px;
  margin-bottom: 0;
  padding: 1px 15px 0;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 800;
  cursor: pointer;
  position: relative;
  letter-spacing: 1px;
  width: 210px;
}
.vermenu-btn span {
  color: #fff;
}
.vermenu-btn .pt-icon {
  margin-right: 10px;
}
.vermenu-btn .pt-icon .open-icon svg {
  width: 24px;
  height: 24px;
}
.vermenu-btn .pt-icon .close-icon {
  display: none;
}
.vermenu-btn .pt-icon .close-icon svg {
  width: 16px;
  margin-right: 8px;
}

#search-form.default .search-result-area {
  position: absolute;
  top: calc(100% + 0px);
  left: 0;
  width: 100%;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
  z-index: 1000;
  background-color: #fff;
}
#search-form.default .search-result-area .search-result-content {
  padding: 20px;
  margin-top: 0;
}
#search-form.default .search-result-area .search-result-content .search_product_list {
  margin: 0;
}
#search-form.default .search-result-area .search-result-content .row {
  margin-left: 0;
  margin-right: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#search-form.default .search-result-area .search-result-content .item {
  padding: 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}
#search-form.default .search-result-area .search-result-content .item .search-product-image {
  width: 78px;
  min-width: 78px;
}
#search-form.default .search-result-area .search-result-content .item .product-info {
  width: 100%;
  margin-top: 0;
  margin-left: 18px;
}
#search-form.default .search-result-area .search-result-content .item .product-info a {
  font-size: 16px;
}
#search-form.default .search-result-area .search-result-content .item .product-info .price {
  display: none;
}

.site-logo-text {
  font-size: 26px;
  font-weight: 800;
  display: block;
  letter-spacing: 0.3px;
}

.top-panel {
  font-size: 14px;
  border-bottom: 1px solid #ebebeb;
  padding: 7px 0 5px;
}
.top-panel p {
  margin-bottom: 0;
}
.top-panel .call-us {
  text-align: center;
}
.top-panel .call-us strong {
  color: #333;
}
.top-panel .content .item {
  text-align: center;
}
.top-panel .content .item p {
  display: inline-block;
}
.top-panel .content .item p strong {
  color: #333;
}
.top-panel .content .item .pt-link-underline {
  color: #48CAB2;
  font-weight: 800;
  position: relative;
}
.top-panel .content .item .pt-link-underline:hover::before {
  width: 0;
}
.top-panel .content .item .pt-link-underline::before {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  content: "";
  color: transparent;
  background: #48CAB2;
  height: 1px;
  -webkit-transition: width 0.2s;
  -o-transition: width 0.2s;
  transition: width 0.2s;
}
.top-panel .social ul {
  margin-bottom: 0;
  text-align: right;
}
.top-panel .social ul li {
  display: inline-block;
  padding-left: 12px;
}
.top-panel .social ul li a {
  color: #777;
  position: relative;
}
.top-panel .social ul li a:hover {
  color: #333;
}
.top-panel .social ul li a:hover::before {
  width: 100%;
}
.top-panel .social ul li a::before {
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: "";
  color: transparent;
  background-color: #333;
  height: 1px;
  -webkit-transition: width 0.25s linear;
  -o-transition: width 0.25s linear;
  transition: width 0.25s linear;
}

.header-sticky {
  position: relative;
}

.sticky #hor-menu .gdz-megamenu .nav.level0 > li > a {
  line-height: 53px;
}
.sticky #hor-menu .gdz-megamenu .nav.level0 > li > a span::before {
  bottom: 15px;
}

.gdz-megamenu {
  position: static;
}
.gdz-megamenu .nav > li.item-fullwidth {
  position: static;
}
.gdz-megamenu .nav > li.item-fullwidth .mega-col-nav {
  padding-left: 15px;
  padding-right: 15px;
}
.gdz-megamenu .dropdown-menu.fullwidth {
  width: 100%;
}
.gdz-megamenu .dropdown-menu.fullwidth > .mega-dropdown-inner {
  max-width: 1170px;
  margin: auto;
  padding: 0;
}
.gdz-megamenu .nav > .menu-item .mega-nav li.has-label.sale > a span::after {
  background-color: #E12C43;
  content: "Sale";
}
.gdz-megamenu .nav > .menu-item .mega-nav li.has-label.new > a span::after {
  background-color: #42A5F6;
  content: "New";
}
.gdz-megamenu .nav > .menu-item .mega-nav li.has-label.featured > a span::after {
  background-color: #ffba0a;
  content: "Featured";
}
.gdz-megamenu .nav > .menu-item .mega-nav li.has-label.out-of-stock > a span::after {
  background-color: #333;
  content: "Out Of Stock";
}
.gdz-megamenu .nav > .menu-item .mega-nav li.has-label > a span::after {
  color: #ffffff;
  display: inline-block;
  font-size: 12px;
  line-height: 15px;
  padding: 0 4px;
  font-weight: 400;
  margin-left: 4px;
  position: relative;
  top: -2px;
}
.gdz-megamenu .nav > .menu-item .mega-nav li.group > a {
  font-size: 18px;
  display: block;
  padding-bottom: 11px;
  padding-top: 8px;
  font-weight: 800;
}
.gdz-megamenu .nav > .menu-item.item-fullwidth .mega-nav li > a {
  padding-left: 0;
  padding-right: 0;
}
.gdz-megamenu .nav > .menu-item .mega-nav li > a,
.gdz-megamenu .nav > .menu-item .mega-nav li .mod-content .title {
  border-bottom: medium none;
  line-height: 31px;
  padding: 0 40px;
  letter-spacing: 0;
  display: block;
  position: relative;
  font-size: 16px;
  font-weight: 400;
  color: #333;
  text-transform: initial;
}
.gdz-megamenu .nav > .menu-item .mega-nav li > a:hover,
.gdz-megamenu .nav > .menu-item .mega-nav li .mod-content .title:hover {
  color: #48CAB2;
}
.gdz-megamenu .nav > li.sub-home > a {
  color: #48CAB2;
}
.gdz-megamenu .nav > li.sub-home > a span::before {
  width: 100%;
}
.gdz-megamenu .nav > li.sub-home .mega-col-nav .mod-content .mod-content:hover .image {
  top: 0;
  opacity: 1;
  visibility: visible;
}
.gdz-megamenu .nav > li.sub-home .mega-col-nav .mod-content .mod-content .image {
  width: auto;
  position: absolute;
  right: -34px;
  top: -5px;
  visibility: hidden;
  z-index: 3;
  max-width: 141px;
  -webkit-box-shadow: 0 0 10px rgba(51, 51, 51, 0.06);
          box-shadow: 0 0 10px rgba(51, 51, 51, 0.06);
  opacity: 0;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.gdz-megamenu .nav > li.open > a {
  color: #48CAB2;
}
.gdz-megamenu .nav > li.open > a span::before {
  width: 100%;
}
.gdz-megamenu .nav > li > a:hover span::before {
  width: 100%;
}
.gdz-megamenu .nav > li > a span {
  position: relative;
}
.gdz-megamenu .nav > li > a span::before {
  position: absolute;
  bottom: 28px;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: "";
  color: transparent;
  background-color: #48CAB2;
  height: 2px;
  -webkit-transition: width 0.25s linear;
  -o-transition: width 0.25s linear;
  transition: width 0.25s linear;
}
.gdz-megamenu .sub-women .row + .row {
  margin-top: 28px;
}
.gdz-megamenu .sub-women .sub-product-carousel {
  margin-top: 5px;
  margin-bottom: 28px;
}
.gdz-megamenu .sub-women .sub-product-carousel .owl-nav {
  position: absolute;
  top: -46px;
  right: 4px;
}
.gdz-megamenu .sub-women .sub-product-carousel .owl-nav button {
  position: static;
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
}
.gdz-megamenu .sub-women .sub-product-carousel .owl-nav button:hover {
  background-color: transparent;
}
.gdz-megamenu .sub-women .sub-product-carousel .owl-nav button:hover::before {
  color: #333;
}
.gdz-megamenu .sub-women .product-miniature .product-miniature .product-info {
  margin-top: 6px;
}
.gdz-megamenu .sub-women .product-miniature .content_price {
  font-size: 18px;
  margin-left: 0;
}
.gdz-megamenu .sub-women .pb-banner {
  position: relative;
  overflow: hidden;
}
.gdz-megamenu .sub-women .pb-banner:hover img {
  -webkit-transform: scale3d(1.1, 1.1, 1);
          transform: scale3d(1.1, 1.1, 1);
}
.gdz-megamenu .sub-women .pb-banner:hover .banner-content .text-1::before {
  width: 100%;
}
.gdz-megamenu .sub-women .pb-banner img {
  transition: transform 1s, -webkit-transform 1s;
}
.gdz-megamenu .sub-women .pb-banner.right .banner-content .text-1, .gdz-megamenu .sub-women .pb-banner.right .banner-content .text-2 {
  color: #fff;
}
.gdz-megamenu .sub-women .pb-banner.right .banner-content .text-1::before, .gdz-megamenu .sub-women .pb-banner.right .banner-content .text-2::before {
  background-color: #fff;
}
.gdz-megamenu .sub-women .pb-banner .banner-content {
  top: 18px;
  left: 25px;
  position: absolute;
  text-align: left;
  margin-top: 0;
}
.gdz-megamenu .sub-women .pb-banner .banner-content .text-1 {
  font-size: 24px;
  font-weight: 800;
  position: relative;
  display: inline-block;
  color: #333;
  margin-bottom: 6px;
}
.gdz-megamenu .sub-women .pb-banner .banner-content .text-1::before {
  position: absolute;
  bottom: 1px;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: "";
  color: transparent;
  background-color: #333;
  height: 2px;
  -webkit-transition: width 0.25s linear;
  -o-transition: width 0.25s linear;
  transition: width 0.25s linear;
}
.gdz-megamenu .sub-women .pb-banner .banner-content .text-2 {
  font-size: 16px;
  max-width: 275px;
  color: #333;
  line-height: 1.2;
}
.gdz-megamenu .banner-men {
  text-align: center;
  margin-top: 11px;
}
.gdz-megamenu .banner-men:hover a .text-1::before {
  width: 100%;
}
.gdz-megamenu .banner-men a {
  text-align: center;
}
.gdz-megamenu .banner-men a img {
  margin-bottom: 16px;
}
.gdz-megamenu .banner-men a .text-1 {
  font-size: 24px;
  font-weight: 800;
  position: relative;
  display: inline-block;
  color: #333;
  margin-bottom: 8px;
  line-height: 28px;
}
.gdz-megamenu .banner-men a .text-1::before {
  position: absolute;
  bottom: 1px;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: "";
  color: transparent;
  background-color: #333;
  height: 2px;
  -webkit-transition: width 0.25s linear;
  -o-transition: width 0.25s linear;
  transition: width 0.25s linear;
}
.gdz-megamenu .banner-men a .text-2 {
  font-size: 16px;
  display: block;
  color: #333;
  line-height: 19px;
}

.search-result-area {
  position: absolute;
  top: calc(100% + 15px);
  left: 0;
  width: 100%;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
}

#search-form.default {
  margin-left: 0;
  margin-right: auto;
  max-width: 350px;
  position: relative;
}
#search-form.default .gdz-search-input {
  border: 1px solid #ebebeb;
  font-size: 16px;
  height: 44px;
  letter-spacing: 0;
  padding: 9px 18px 10px 18px;
}
#search-form.default .button-search {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  padding: 0 10px;
}
#search-form.default .button-search svg {
  width: 24px;
  height: 23px;
  color: #333;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
#search-form.default .button-search svg:hover {
  color: #48CAB2;
}

#gdz_ajax_search .label-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 4px;
}
#gdz_ajax_search .label-form p {
  color: #777;
  margin-bottom: 0;
  width: 100%;
  font-size: 16px;
}
#gdz_ajax_search .label-form i svg {
  width: 16px;
  height: 16px;
  cursor: pointer;
  color: #d0d0d0;
  -webkit-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s;
}
#gdz_ajax_search .label-form i svg:hover {
  color: #48CAB2;
}
#gdz_ajax_search form {
  border-bottom: 1px solid #ebebeb;
}
#gdz_ajax_search .gdz-search-input {
  border: none;
  color: #333;
  background: #fff none repeat scroll 0 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-size: 24px;
  height: 55px;
  margin: 0;
  padding: 0;
  font-weight: 800;
  text-transform: initial;
}
#gdz_ajax_search .gdz-search-input::-webkit-input-placeholder {
  color: #333;
}
#gdz_ajax_search .gdz-search-input::-moz-placeholder {
  color: #333;
}
#gdz_ajax_search .gdz-search-input:-ms-input-placeholder {
  color: #333;
}
#gdz_ajax_search .gdz-search-input::-ms-input-placeholder {
  color: #333;
}
#gdz_ajax_search .gdz-search-input::placeholder {
  color: #333;
}
#gdz_ajax_search .search-form .button-search {
  padding: 0;
  color: #333;
  -webkit-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s;
}
#gdz_ajax_search .search-form .button-search:hover {
  color: #48CAB2;
}

.dropdown #search-form-dropdown {
  left: auto;
  right: -30px;
  width: 400px;
}
.dropdown #search-form-dropdown .search_product_list .item.col-lg-2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 15px;
}
.dropdown #search-form-dropdown .search_product_list .item.col-lg-2 .search-product-image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  max-width: 25%;
  padding: 0 15px;
}
.dropdown #search-form-dropdown .search_product_list .item.col-lg-2 .product-info {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 75%;
          flex: 0 0 75%;
  max-width: 75%;
  padding: 0 15px;
  margin-top: 0;
}
.dropdown#gdz_ajax_search .gdz-search-input {
  font-size: 16px;
  font-weight: 400;
}

.fullwidth #search-form-dropdown, .fullscreen #search-form-dropdown {
  position: fixed;
  top: -146px;
  left: 0;
  right: 0;
  padding: 31px 15px;
  background: #fff;
  opacity: 0;
  visibility: hidden;
  display: block;
  z-index: 1000;
}
.fullwidth #search-form-dropdown.show, .fullscreen #search-form-dropdown.show {
  top: -1px;
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.fullwidth #search-form-dropdown .content_price .price.new, .fullscreen #search-form-dropdown .content_price .price.new {
  color: #48CAB2;
  font-weight: 400;
  font-size: 18px;
}
.fullwidth .search_product_list .row .row, .fullscreen .search_product_list .row .row {
  margin-left: 0;
  margin-right: 0;
}

.fullscreen #search-form-dropdown {
  height: 100%;
}

.left-module-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.left-module-header > div {
  margin-right: 7px;
}

.right-module-header {
  padding-bottom: 5px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.right-module-header > div + div {
  margin-left: 17px;
}
.right-module-header .wishlist svg {
  width: 23px;
  padding-top: 1px;
}
.right-module-header .currency-info {
  margin-left: 9px;
}
.right-module-header svg {
  width: 24px;
  height: 24px;
}
.right-module-header .block-collapse {
  padding-top: 3px;
}
.right-module-header .block-collapse svg {
  margin-left: -2px;
}

.block-collapse > a {
  font-size: 14px;
  color: #777;
}
.block-collapse > a:hover {
  color: #48CAB2;
}
.block-collapse > a svg {
  width: 14px;
  height: 14px;
  color: #d0d0d0;
}

.user-info .header-collapse {
  top: calc(100% + 28px);
}

#cart_block {
  font-size: 14px;
}
#cart_block .ajax_cart_quantity {
  background: #333;
  color: #fff;
  width: 18px;
  height: 18px;
  font-size: 12px;
  font-weight: 800;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: -14px;
  right: -12px;
}
#cart_block .cart-button {
  margin-top: 20px;
  text-align: center;
}
#cart_block .cart-button a + a {
  margin-top: 27px;
}
#cart_block .cart_block_list {
  margin-bottom: 22px;
  max-height: 254px;
  overflow: auto;
}
#cart_block .billing-info {
  padding-top: 22px;
  border-top: 1px solid #ebebeb;
}
#cart_block .billing-info .label, #cart_block .billing-info .value {
  font-size: 18px;
  font-weight: 800;
  line-height: 33px;
  padding: 0;
  color: #333;
}

.shoppingcart-box.sidebar .shoppingcartbox {
  padding: 0;
}
.shoppingcart-box.sidebar .shoppingcartbox .cart_block_list {
  max-height: initial;
}
.shoppingcart-box .shoppingcartbox {
  padding: 32px 40px 30px;
}
.shoppingcart-box .cart-title {
  font-size: 18px;
  color: #333;
  font-weight: 800;
}
.shoppingcart-box .product-link-cart {
  display: block;
  font-size: 16px;
  width: 100%;
  line-height: 19px;
  padding-bottom: 7px;
}
.shoppingcart-box .property-value span + span::before {
  content: ",";
  position: relative;
  left: -3px;
}
.shoppingcart-box .remove-from-cart {
  margin-bottom: auto;
}

.product-cart-details .price.new {
  font-weight: 800;
  color: #48CAB2;
}

.dropdown-menu.sidebar {
  position: fixed;
  display: block;
  font-size: 14px;
  width: 315px;
  padding: 30px 20px;
  top: 0;
  left: auto;
  right: -315px;
  background-color: #fff;
  height: 100%;
  -webkit-box-shadow: 0px 4px 6px rgba(51, 51, 51, 0.08);
          box-shadow: 0px 4px 6px rgba(51, 51, 51, 0.08);
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  z-index: 1000;
}
.dropdown-menu.sidebar.show {
  right: 0;
}

.header-collapse {
  position: absolute;
  min-width: 194px;
  top: calc(100% + 26px);
  border-top: 1px solid #ebebeb;
  left: auto;
  right: calc(100% - 43px);
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 6px rgba(51, 51, 51, 0.08);
          box-shadow: 0px 4px 6px rgba(51, 51, 51, 0.08);
  z-index: 1000;
}
.header-collapse ul {
  padding: 31px 0;
  margin-bottom: 0;
}
.header-collapse ul li {
  padding: 0 40px;
  font-size: 14px;
}
.header-collapse ul li > a {
  text-transform: capitalize;
}

.cart-collapse {
  position: absolute;
  right: calc(100% - 32px);
  border-top: 1px solid #ebebeb;
  top: calc(100% + 28px);
  width: 360px;
  padding: 0;
  border-radius: 0;
  background-color: #fff;
  -webkit-box-shadow: 0px 4px 6px rgba(51, 51, 51, 0.08);
          box-shadow: 0px 4px 6px rgba(51, 51, 51, 0.08);
  z-index: 1000;
}

.collapse-item {
  color: #777;
}

.vermenu .dropdown-menu {
  padding: 0;
  z-index: 1001;
}
.vermenu .gdz-megamenu .nav {
  padding: 9px 0;
}
.vermenu .gdz-megamenu .nav > .menu-item .mega-nav li {
  padding: 0;
}
.vermenu .gdz-megamenu .nav > .menu-item .mega-nav li.open.mega > a::before {
  color: #48CAB2;
}
.vermenu .gdz-megamenu .nav > .menu-item .mega-nav li.mega > a {
  padding: 0 15px;
}
.vermenu .gdz-megamenu .nav > .menu-item .mega-nav li.mega > a::before {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 5px;
  font-family: yanka;
  font-size: 14px;
  content: "";
  color: #d0d0d0;
  -webkit-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s;
  z-index: -1;
}
.vermenu .gdz-megamenu .nav > li {
  width: 100%;
}
.vermenu .gdz-megamenu .nav > li.open > a .caret::after {
  color: #48CAB2;
}
.vermenu .gdz-megamenu .nav > li a {
  padding: 0 15px;
  width: 100%;
  line-height: 34px;
}
.vermenu .gdz-megamenu .nav > li a > i {
  font-size: 28px;
  margin-right: 6px;
  position: relative;
  bottom: 4px;
}
.vermenu .gdz-megamenu .nav > li a span::before {
  display: none;
}
.vermenu .gdz-megamenu .nav > li a .caret {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 50%;
  right: 5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20px;
  height: 20px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.vermenu .gdz-megamenu .nav > li a .caret::after {
  font-family: yanka;
  font-size: 14px;
  content: "";
  color: #d0d0d0;
  -webkit-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s;
  z-index: -1;
}
.vermenu .gdz-megamenu .dropdown-menu {
  top: 0;
  left: 100%;
}

.open-button {
  color: #333;
}
.open-button:hover {
  color: #48CAB2;
}
.open-button > svg {
  width: 24px;
  height: 24px;
}

#mobile-header .right-module-header .row > .btn-group + .btn-group {
  margin-left: 25px;
}

@media (min-width: 1200px) {
  .top-panel .call-us {
    text-align: left;
  }

  .site-logo-text {
    padding-bottom: 10px;
  }

  #header .container-fluid {
    padding-left: 50px;
    padding-right: 50px;
  }
}
/*# sourceMappingURL=header.css.map */