@import '../config/variables.scss';

/* Category */
#category #wrapper > .container {
    padding: 0 20px;
}
.category-title h3{
	font-size: 36px;
    line-height: 43px;
    font-weight: 800;
    padding: 0;
    color: #333333;
    text-align: center;
    margin-bottom: 40px;
    span{
    	color: #D0D0D0;
    	font-weight: 400;
    }
}
#category{
	.sidebar-column{
		.block-custom-html, .block-bestseller{
			display: none;
		}
	}
}
.title-block h3, 
#search_filters .facet-title{
	transition: color 0.2s;
	&:hover{
		color: $active;
	}
}
#search_filters .btn-clear-all {
    background: transparent;
    padding: 0;
    border: 0;
    font-size: 13px;
    font-weight: 800;
    line-height: 28px;
    color: #333;
    text-transform: capitalize;
    position: relative;
    letter-spacing: 0;
    @include underline(6, #333, 2)
	&:hover::before{
		width: 100%;
	}
}
#search_filters{
	#filter-block ul{
		margin-bottom: 0;
	}
	.filter-block{
		font-size: 16px;
		.js-search-link{
			color: #d0d0d0;
			margin-right: 5px;
			&:hover{
				color: $active;
			}
			&::before {
			    content: "\e908";
			    font-family: 'yanka';
			    font-size: 11px;
			    width: 16px;
			    height: 16px;
			}
		}
	}
}
.view-mode{
	.button {
		display: inline-block;
		.view-grid{
			&.active span{
				border-color: #333;
			}
			&:hover span{
				border-color: #333;
			}
			&.view-grid-2{
				margin-right: 4px;
				span{
					width: 11px;
				}
			}
			&.view-grid-4{
				margin-left: 4px;
				span{
					width: 5px;
				}
			}
			&.view-grid-6{
				margin-left: 4px;
				display: none;
				span{
					width: 3px;
				}
			}
			span{
				width: 7px;
				height: 12px;
				display: block;
				float: left;
				border: 1px solid #D0D0D0;
				transition: border 0.2s;
				margin: 0 0.5px;
			}
		}
		.view-list{
			margin-left: 4px;
			&.active span{
				background-color: #333;
			}
			&:hover span{
				background-color: #333;
			}
			span{
				width: 24px;
				height: 5px;
				display: block;
				position: relative;
				background-color: #D0D0D0;
				transition: background-color 0.2s;
				&:first-child{
					margin-bottom: 2px;
				}
				&::before{
					content: '';
					position: absolute;
					top: 0;
					left: 6px;
					background-color: #ffffff;
					display: block;
					width: 2px;
					height: 5px;
				}
			}
		}
		a{
			display: inline-block;
		}
	}
}
#product_list{
	margin-top: 33px;
	.pagination{
		display: block;
		font-size: 14px;
		ul li{
			&.current a{
				color: $active;
			}
			a{
				color: #777;
				&:hover{
					color: $active;
				}
			}
		}
	}
}
.products-list{
	.col-product{
		flex: 0 0 100%;
		max-width: 100%;
		margin-bottom: 70px;
	}
	.product-miniature{
		display: flex;
		text-align: left;
		&:hover{
			box-shadow: none;
			.btn-group{
				display: none;
			}
		}
		&::before{
			content: "";
			position: absolute;
			bottom: -30px;
			width: 100%;
			height: .1rem;
			background-color: #ebebeb;
			left: 0;
			right: 0;
		}
		.product-preview{
			width: 220px;
			min-width: 220px;
			.wrapp-buttons{
				display: none;
			}
			.product-action{
				display: none;
			}
			.specific_prices{
				display: none;
			}
		}
		.product-link{
			font-size: 18px;
		}
		h3.product-title{
			padding-bottom: 3px;
		}
		.product-info{
			padding: 0 20px;
			text-align: left;
			transition: none;
			margin-top: -10px;
			#review{
				display: none;
			}
			.category-name{
				display: inline-block;
			}
			.product_action{
				display: none !important;
			}
			.addToWishlist{
				display: inline-flex;
				position: absolute;
				right: 3.5rem;
				top: 2.8rem;
			}
			.variant-links{
				display: flex;
				position: static;
				margin-top: 0;
				justify-content: flex-start;
			}
		}
		.product-list-action{
			display: flex;
			flex-direction: column;
			width: 166px;
    		min-width: 166px;
    		.cart-button{
    			padding-bottom: 4px;
    			margin-bottom: 4px;
    			padding-left: 21px;
    			padding-right: 21px;
    			&:hover{
    				.text-addcart{
    					margin-left: 7px;
    				}
    			}
    		}
    		.content_price{
    			margin-left: 0;
    			margin-bottom: 15px;
    			.price{
    				display: inline-block;
    			}
    		}
    		.text-addcart{
    			width: auto;
			    font-size: 13px;
			    line-height: 1;
			    margin-left: 7px;
			    transition: none;
    		}
    		a.product-btn{
    			font-size: 14px;
			    display: flex;
			    align-items: center;
			    font-weight: 700;
			    margin-top: 11px;
			    svg{
			    	width: 24px;
			    	height: 24px;
			    }
			    span{
			    	margin-left: 9px;
			    }
    		}
		}
		.product-list-reviews{
			justify-content: flex-start;
		}
		.product-short-desc{
			display: block;
			font-size: 16px;
			margin-top: 16px;
			line-height: 25px;
		}
	}
}
.col-product{
	padding: 0 15px;
	flex: 0 0 50%;
	max-width: 50%;
	margin-bottom: 60px;
}

#category{
	.sidebar-column{
		margin-top: 2px;
	}
	.breadcrumb-wrapper{
		margin-bottom: 93px;
	}
	.breadcrumb-nav{
		margin-bottom: 0;
	}
	#footer{
		margin-top: 7rem;
	}
}
#search{
	#footer{
		margin-top: 7rem;
	}
}

#products-top{
	margin: 0;
	border: 0;
	padding: 0;
	.page-pagination{
		display: none;
	}
	.pagination{
		margin: 0;
		padding: 0;
		border: 0;
		justify-content: center;
		margin-bottom: 20px;
	}
	.select-title{
		position:relative;
	}
	.sort-by {
		display: flex;
		justify-content: center;
		align-items: center;
		.label-sort-by{
			font-weight: 400;
			color: #333;
			font-size: 1.2rem;
			letter-spacing: -.01em;
			margin-right: 1.6rem;
		}
	}
	.block-pagination{
		display: block;
	}
}
#special-block .product-miniature + .product-miniature{
	margin-top: 30px;
}
.block-custom-html{
	margin-top: 50px;
	text-align: center;
	.html-block{
		&:hover{
			.banner-text .top-text::before{
				width: 100%;
			}
			.image img{
				width: 100%;
				transform: scale3d(1.1, 1.1, 1);
			}
		}
	}
	.image{
		display: block;
		overflow: hidden;
		img{
			transition: transform 1s, -webkit-transform 1s;
		}
	}
	.banner-text{
		margin-top: 16px;
		.top-text {
			font-size: 24px;
			font-weight: 800;
			color: #333;
			padding-bottom: 3px;
			position: relative;
			display: inline-block;
			@include underline(4, #333, 2)
		}
		.bottom-text {
			font-size: 16px;
			color: #333;
		}
	}
}


@media (min-width: 576px){
	#content-wrapper #search_filters_wrapper{
		max-width: 350px;
	}
}
@media (min-width: 768px){
	.col-product{
		flex: 0 0 33.333333%;
		max-width: 33.333333%;
	}
	.grid-2{
		.products{
			.col-product{
				flex: 0 0 50%;
				max-width: 50%;
			}
		}
	}
	.grid-3{
		.products{
			.col-product{
				flex: 0 0 33.333333%;
				max-width: 33.333333%;
			}
		}
	}
	.grid-4{
		.products{
			.col-product{
				flex: 0 0 25%;
				max-width: 25%;
			}
		}
	}
	.grid-5{
		.products{
			.col-product{
				flex: 0 0 20%;
				max-width: 20%;
			}
		}
	}
	.grid-6{
		.products{
			.col-product{
				flex: 0 0 16.666667%;
				max-width: 16.666667%;
			}
		}
	}
	#products-top{
		.view-mode{
			display: block;
		}
		.inlude_sort_by {
			margin-right: 15px;
		}
		.sort-by{
			justify-content: flex-end;
		}
		.pagination{
			justify-content: flex-start;
			margin-bottom: 0;
		}
	}
}

@media (min-width: 992px){
	#category{
		.sidebar-column{
			.block-custom-html, .block-bestseller{
				display: block;
			}
		}
	}
}
