// Product Details pages
@import '../config/variables.scss';

#product{
	.breadcrumb-wrapper{
		margin-bottom: 100px;
	}
}
.product-cover .zoom-icon svg{
    width: 24px;
    height: 24px;
    color: #333;
    transition: .2s all;
    &:hover{
    	color: $active;
    }
}
.product-images{
	button{
		border: none;
    	background-color: transparent;
    	&:hover::before{
    		color: #333;
    	}
    	&::before{
    		font-family: 'yanka';
		    font-size: 23px;
		    color: #d0d0d0;
		    -webkit-transition: color 0.2s;
		    transition: color 0.2s;
    	}
    	&.slick-prev{
    		&::before{
    			content: "\e903";
    		}
    	}
    	&.slick-next{
    		&::before{
    			content: "\e902";
    		}
    	}
	}
}
.jms-videos.popup{
	.icon-video{
		color: #FF0000;
		transition: color .2s;
		&:hover{
			color: #333;
		}
		svg{
			width: 30px;
			height: 30px;
		}
	}
	iframe {
	    max-width: 100%;
	    border: 40px solid #fff;
	}
	a.popup-close {
	    color: #d0d0d0;
	    cursor: pointer;
	    position: absolute;
	    right: 20px;
	    top: 15px;
	    transition: color .2s;
	    &:hover{
	    	color: #333;
	    }
	}
}
#product-modal .modal-dialog{
	background-color: transparent;
}
.accordion{
	.panel-title{
		margin-bottom: 0;
	}
	.panel-body{
		padding-top: 2rem;
	}
}
.product-description{
	&.panel-collapse{
		margin-bottom: 2rem;
	}
	p{
		color: #777;
		margin-bottom: 0;
	}
}
.images-container{
	&.grid, &.thumbs-vertical{
		.product-images{
			margin-left: -10px;
			margin-right: -10px;
		}
		.thumb-container{
			margin-bottom: 2rem;
			width: 50%;
			float: left;
			padding: 0 10px;
			&::after{
				display: none;
			}
			> .thumb{
				border-color: #ebebeb;
			}
		}
	}
}
.product-images .thumb-container{
    position: relative;
    list-style-type: none;
}
.productModal-carousel{
	.owl-stage-outer{
		overflow: hidden;
	}
}
.product-layout-gallery, .product-layout-3columns{
	.thumb-container{
		margin-bottom: 10px;
		.thumb{
			width: 100%;
		}
	}
	.mask > .row{
		margin-left: -5px;
		margin-right: -5px;
		.thumb-container{
			padding-left: 5px;
			padding-right: 5px;
		}
	}
}

.product-layout-3columns{
	.product-quantity{
		.product-btn.cart-button{
			margin-right: 0;
			margin-bottom: 2rem;
		}
		.add{
			display: block;
		}
	}
	.block-social{
		margin-top: 2rem;
	}
	.product-action{
		border: 1px solid #ebebeb;
    	padding: 20px 20px;
	}
}

.pt-tabs-top01 {
  	margin-top: 32px;
  	svg{
  		width: 153px;
  		height: 24px;
  		color: #d0d0d0;
  	}
}
.container-indent-tab {
	margin: 142px 0 0;
	.no-gutters{
		.row{
			margin: 0;
		}
		.col-sm-6{
			padding: 0;
		}
	}
	+ .container-indent-tab{
		margin-top: 126px;
	}
}
#more_info_block{
	&.tabs{
		.tab-content {
		    padding-top: 56px;
		}
		> ul{
			position: relative;
			&::before{
				content:"";
				width: 1000%;
				height: 1px;
				background-color: #ebebeb;
				position: absolute;
				bottom: 0;
				left: 50%;
				transform: translateX(-50%); 
			}
			li{
				+ li{
					margin-left: 30px;
				}
				a{
					padding: 0 20px;
				    color: #333;
				    text-transform: capitalize;
				    font-size: 18px;
				    font-weight: 800;
				    padding: 0;
				    position: relative;
				    line-height: 52px;
				    border: 0;
				    border-bottom: 2px solid transparent;
				    &.active{
				    	color: $active;
				    	border-bottom-color: $active;
				    }
				}
			}
		}
	}
	.tab-fullwidth-1{
		.pt-title{
			font-size: 24px;
			padding-bottom: 25px;
		}
		.pt-list-dot, .pt-list-number{
			li{
				margin: 0;
				display: block;
				a{
					font-weight: 400;
					line-height: 28px;
					color: #777;
					text-transform: initial;
					&:hover{
						color: $active;
					}
				}
			}
		}
		dl dt {
			font-size: 24px;
			line-height: 35px;
			color: #333333;
			font-weight: 800;
			padding: 0 0 20px 0;
			&:not(:first-child){
				margin-top: 39px;
			}
		}
		.pt-list-number{
			margin-top: 23px;
		}
		.row.pt-col-smallindent {
			margin: 0 -5px;
			.col-md-12{
				margin-bottom: 10px;
			}
			> div{
				padding: 0 5px;
			}
		}
	}
}
.block-fullwidth{
	margin-top: 45px;
	margin-bottom: 100px;
	 ~ .container .line{
	 	display: none;
	 }
	#more_info_block{
		.panel-body{
			max-width: 1200px;
		    width: 100%;
		    padding-right: 15px;
		    padding-left: 15px;
		    margin-right: auto;
		    margin-left: auto;
		}
		.panel.panel-default{
			border-bottom: 1px solid #ebebeb;
		}
		.panel-title{
			padding-left: 15px;
			padding-right: 15px;
			> a .pt-icon{
				display: none;
			}
		}
	}
}
#product .product-name{
	text-transform: initial;
}
.product-name{
	text-transform: initial;
	font-size: 36px;
    font-weight: 800;
    line-height: 44px;
}
.rating{
	margin-bottom: 27px;
}
.product-comments-additional-info .comments-note{
	color: $active;
	font-weight: 800;
}
.product-prices.content_price {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	.old.price{
		font-size: 24px;
		margin-bottom: 0;
		text-decoration: line-through;
		margin-right: 5px;
		+ .price.new{
			color: #e12c43;
		}
	}
	.price.new{
		font-size: 36px;
		font-weight: 800;
		margin-bottom: 0;
		color: $active;
	}
	#gdz_productvideo{
		margin-top: 2rem;
		flex: 0 0 100%;
		max-width: 100%;
	}
}
.product-information{
	.blockreassurance_product{
		margin-top: 43px;
	}
	.other-info{
		font-size: 16px;
		line-height: 25px;
		label{
			margin-bottom: 0;
		}
		> li .editable{
			font-weight: 800;
		    color: #333;
		    text-transform: capitalize;
		}
	}
	.specific_prices{
		margin-bottom: 3rem;
		.countdown-section{
			position: relative;
			display: inline-flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			color: #fff;
			border-radius: .3rem;
			min-width: 5.15rem;
			line-height: 1;
			padding-top: 1.4rem;
			padding-bottom: 1.4rem;
			background-color: rgba(204,102,102,0.85);
			.countdown-amount {
			    display: inline-block;
				color: #fff;
				font-weight: 500;
				font-size: 1.8rem;
				line-height: 1;
				letter-spacing: -.03em;
				margin-bottom: .4rem;
				padding-right: 0;
			}
			.countdown-period {
				text-align: center;
			    display: block;
			    font-size: 1rem;
			    font-weight: 400;
			    color: #fff;
			    text-transform: lowercase;
			    width: 100%;
			    padding-left: .2rem;
			    padding-right: .2rem;
			    white-space: nowrap;
			    overflow: hidden;
			    text-overflow: ellipsis;
			}
			&:not(:last-child){
				margin-right: 1.6rem;
				&::after{
					color: #333333;
					content: ':';
					display: inline-block;
					font-weight: 400;
					font-size: 2rem;
					line-height: 1;
					position: absolute;
					left: 100%;
					margin-left: .6rem;
					margin-top: -.1rem;
					top: 50%;
					transform: translateY(-50%);
				}
			}
		}
	}
}
.blockreassurance_product{
	display: flex;
    font-size: 14px;
    font-weight: 800;
    margin-bottom: 40px;
    > div{
    	display: flex;
    	align-items: center;
    	&:hover .block-title::before{
    		width: 100%;
    	}
    	+ div{
    		margin-left: 30px;
    	}
    }
    .block-title{
    	margin-bottom: 0;
    	position: relative;
    	@include underline(3, #333, 2)
    }
    .item-product{
    	width: 25px;
    	height: 25px;
    	padding-top: 0;
    	margin-right: 7px;
    }
}
.product-variants-item{
	&.size, &.taille{
		input{
			+ span{
				display: flex;
				width: 44px;
			    height: 44px;
			    align-items: center;
			    justify-content: center;
			    border: 1px solid #ebebeb;
			    transition: .2s all;
			    z-index: 0;
			}
			&:checked + span, &:hover + span{
			    position: relative;
			    border: 2px solid #333;
			}
		}
	}
}

.product-variants{
	font-size: 16px;
	.select-option.bar{
		display: none;
	}
	ul li + li{
		margin-left: 6px;
	}
	.collapse .radio-label{
		font-weight: 800;
		color: #333;
		margin-left: 5px;
	}
	.select-option{
		position: relative;
		&::before{
			content: "";
		    position: absolute;
		    pointer-events: none;
		}
		&::after{
			font-family: 'yanka';
		    font-size: 14px;
		    line-height: 1;
		    content: "\e903";
		    width: 12px;
		    height: 7px;
		    line-height: 1;
		    right: 18px;
		    position: absolute;
		    top: 50%;
		    margin-top: -6px;
		    color: #D0D0D0;
		    pointer-events: none;
		}
		select{
			color: #333;
			height: 44px;
			font-weight: 800;
			margin-bottom: 0;
			padding: 9px 50px 7px 18px;
			background: transparent;
			border: 1px solid #ebebeb;
			min-width: 270px;
			-moz-appearance: none;
			-webkit-appearance: none;
			cursor: pointer;
		}
	}
}
.product-add-to-cart, .cart-overview{
	.bootstrap-touchspin{
		display: flex;
	    justify-content: center;
	    align-items: center;
	    z-index: 0;
	    background: #f8f8f8;
	    width: 138px;
	}
	.cart-button{
		height: 54px;
		width: 100%;
    	justify-content: center;
		text-transform: uppercase;
		padding: 0;
		svg{
			width: 24px;
			height: 24px;
		}
	}
	.addToWishlist{
		display: flex;
	    justify-content: center;
	    align-items: center;
	    svg{
	    	width: 24px;
		    height: 24px;
		    margin-right: 12px;
	    }
	}
	#quantity_wanted{
		width: 100%;
	    height: 54px;
	    border: 0;
	    text-align: center;
	    background: transparent;
	    font-size: 20px;
	    font-weight: 800;
	    padding: 0 50px;
	    color: #333;
	}
	.btn-touchspin{
		background-color: transparent;
		border-radius: 0;
	    padding: 0;
	    width: 54px;
	    height: 54px;
	    display: inline-block;
	    position: absolute;
	    top: 0;
	    z-index: 9;
	    &:hover svg{
	    	color: $active;
	    }
	    svg{
	    	color: #d0d0d0;
	    	transition: color 0.2s;

	    }
		i{
			display: none;
		}
		&::before{
			font-family: "yanka";
			line-height: 1;
		}
	}
	.bootstrap-touchspin-up{
		right: 0;
	}
	.bootstrap-touchspin-down{
		left: 0;
	}
}
.product-quantity{
	display: flex;
	.text-addcart {
	    width: auto;
	    line-height: normal;
	    font-size: 13px;
	    margin-left: 7px;
	}
}
.guaranteed{
	margin-top: 48px;
	padding: 11px 0;
	border: 1px solid #ebebeb;
	position: relative;
	img{
		margin: 0 auto;
	}
	span {
		font-size: 18px;
		line-height: 21px;
		padding: 0 15px;
		background: #fff;
		position: absolute;
		top: -13px;
		left: 50%;
		-webkit-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		transform: translateX(-50%);
		min-width: 280px;
		font-weight: 800;
		color: #333;
		text-transform: capitalize;
	}
}
#more_info_block{
	.panel-group{
		margin-bottom: 0;
	}
	.panel.panel-default {
		padding: 15px 0;
		border: 0;
		margin-top: 0;
		box-shadow: none;
	}
	.panel-title {
	    padding: 0;
	    > a{
	    	&:hover{
	    		color: $active;
	    	}
	    	&.collapsed .pt-icon{
	    		top: 0;
	    		transform: scale(1);
	    	}
	    	.pt-icon{
				margin-left: 4px;
				display: inline-block;
				transform: scale(1, -1);
				transition: 0.15s all;
				position: relative;
				top: 2px;
			}
	    	svg{
				width: 12px;
				height: 7px;
			}
		}
	}
	.panel-body{
		border-top: 0;
		padding: 0;
		margin-top: -4px;
	}
	.panel-heading{
		border: 0;
		padding: 0;
		background: transparent;
		h4{
			padding: 0;
		}
		a{
			font-size: 18px;
			font-weight: 800;
			position: relative;
			display: block;
			color: $active;
			line-height: 24px;
			&.collapsed{
				color: #333;
				&:hover{
		    		color: $active;
		    	}
				i{
					transform: rotate(0);
				}
			}
			i{
				position: absolute;
				right: -6px;
				top: 1px;
				transform: rotate(45deg);
				transition: .4s all;
			}
		}
	}
	.panel-body {
		margin-top: 24px;
		color: #777;
		label + span{
			color: #333;
		}
	}
	.product-description{
		ul{
			margin-bottom: 0;
			margin-top: 21px;
		}
		p{
			margin-bottom: 20px;
		}
	}
	#product-comments-list-header{
		.ratings-text{
			display: none;
		}
		.grade-stars .star-content{
			left: 15px;
		}
	}
}
#product-comments{
	.product-comment-list-item{
		h4{
			font-size: 18px;
			color: #333;
			font-weight: 800;
			padding-bottom: 0;
			margin-bottom: 3px;
		}
	}
	.comment-buttons{
		width: 100%;
    	display: block;
		&::after{
			content: "";
			display: table;
			clear: both;
		}
		.useful-review, .not-useful-review{
			display: none;
		}
		.report-abuse {
			cursor: pointer;
			float: right;
			font-size: 14px;
			font-weight: 800;
			color: #333;
			display: inline-block;
			position: relative;
			margin-top: 3px;
			@include underline(6, #333, 1)
			&::before{
				width: 100%;
			}
			&:hover::before{
				width: 0;
			}
		}
	}
	.comment-date {
		display: flex;
		font-size: 14px;
		color: #333;
		font-weight: 800;
		margin-bottom: 6px;
		span{
			font-weight: 400;
			margin-right: 5px;
			margin-left: 1px;
		}
	}
	.comments-note {
		color: #777;
		font-size: 14px;
		span{
			position: relative;
			bottom: 3px;
			right: 5px;
		}
	}
}
#product .line{
	padding: 152px 0 43px;
}
.line{
	position: relative;
	&::before{
		content:"";
		width: 1000%;
		height: 1px;
		background-color: #ebebeb;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
	}
}
.same-category{
	padding: 0 5px;
	.title{
		margin-bottom: 32px;
	}
}

/* Sticky bar */
#sticky-bar {
	position: fixed;
    z-index: 10000;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px 15px 30px;
    background-color: #f8f8f8;
    box-shadow: 0 0px 8px rgba(0,0,0,0.3);
	&.hidden{
		opacity: 0;
		visibility: hidden;
	}
	.product-title{
		font-size: 16px;
	    line-height: 23px;
	    color: #333333;
	    font-weight: 400;
	}
	.price{
		line-height: 22px;
		&.old{
			+ .price.new{
				color: #e12c43;
			}
		}
		&.new{
			color: $active;
			font-weight: 800;
		}
	}
	.col-right{
		form{
			display: flex;
			align-items: center;
			> *{
				display: none;
			}
			.product-add-to-cart{
				display: block;
				.product-variants{
					display: none;
				}
			}
			.product-variants-item{
				&.size, &.taille{
					input{
						+ span{
							width: 28px;
						    height: 28px;
						    background-color: #fff;
						}
					}
				}
			}
			.product-variants-item.size input, 
			.product-variants-item.taille input{
				width: 28px;
				height: 28px;
			}
			.product-variants-item .color{
				width: 28px;
				height: 28px;
			}
			.product-variants-item .input-color{
				width: 28px;
				height: 28px;
			}
			.product-variants{
				display: flex;
    			align-items: center;
    			.control-label{
    				display: none;
    			}
    			.product-variants-item{
    				margin-bottom: 0;
    				margin-right: 15px;
    			}
    			.select-option.bar{
    				display: inline-block;
    			}
    			.select-option select{
    				min-width: 120px;
    				background-color: #fff;
    			}
    			.right-group{
    				display: none;
    			}
			}
		}
	}
	.product-cover{
		margin-right: 2rem;
		img{
			max-width: 60px;
		}
	}
	.product-prices.content_price{
		> *{
			display: none;
		}
		.price{
			display: inline-block;
			&.new{
				font-size: 1.6rem;
			}
			&.old{
				font-size: 1.4rem;
			}
		}
	}
	#product-availability{
		display: none;
	}
	#quantity_wanted{
		max-width: 4.8rem;
		padding: 0 1rem;
		height: 44px;
	}
	.product-quantity{
		display: flex;
		align-items: center;
		.control-label{
			display: none;
		}
		.qty{
			margin-bottom: 0;
			margin-right: 10px;
		}
		.product-btn.cart-button{
			margin-bottom: 0;
		}
	}
	.product-add-to-cart{
		.bootstrap-touchspin{
			background-color: #fff;
	    	border: 1px solid #ebebeb;
		}
		.btn-touchspin{
			width: 44px;
			height: 44px;
			&:hover svg{
				color: $active;
			}
		}
	}
	.cart-button{
		padding: 5px 20px 4px;
    	height: 44px;
		.icon-cart{
			display: none;
		}
		.text-addcart{
			margin-left: 0;
		}
	}
	.addToWishlist{
		display: none;
	}
}

@media (max-width: 1199px){
	.inner-wrapper-sticky{
		position: static !important;
		top: auto !important;
		width: auto !important;
		bottom: auto !important;
		transform: none !important;
	}
}

@media (min-width: 768px){
	.images-container.grid .thumb-container, 
	.images-container.thumbs-vertical .thumb-container {
		width: 100%;
	}
}


@media screen and (min-width: 992px) and (max-width: 1199px) {
	.details-action-wrapper {
		margin-left: 1rem;
	}

	.product-details-sidebar .product-details-quantity {
		max-width: 91px;
	}
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	.product-details-action {
		flex-direction: column;
		align-items: flex-start;
	}

	.details-action-wrapper {
		margin-left: 0;
		margin-top: 1.5rem;
	}

	.product-details-action .btn-cart {
		min-width: 198px;
	}

	.product-details-tab {
		.nav.nav-pills .nav-item {
			& + .nav-item {
				margin-left: 1rem;
			}

			.nav-link {
				padding-left: 1.5rem;
				padding-right: 1.5rem;
			}
		}
	}
}

#product-modal{
	display: block;
	opacity: 0;
	visibility: visible;
	z-index: -1;
	&.fade{
		transition: none;
	}
	&.show{
		opacity: 1;
		visibility: visible;
		transition: opacity .15s linear;
		z-index: 99999;
	}
	.modal-body{
		padding: 0;
	}
	.modal-content{
		border: 0;
		box-shadow: none;
		background: transparent;
	}
	.modal-dialog{
		margin: 0 auto;
		width: 100%;
		max-width: 572px;
	}
	&.modal{
		&.fade .modal-dialog{
			top: 50%;
			transform: translate(0,-60%);
		}
		&.show .modal-dialog{
			top: 50%;
			transform: translate(0,-50%);
		}
	}
	.thumb{
		width: 100%;
	}
	.owl-theme .owl-controls div{
		top: 50%;
		&.owl-prev{
			left: 25px;
		}
		&.owl-next{
			right: 25px;
		}
	}
}


@media (min-width: 1200px){
	.product-detail{
		.pd-left-content{
			padding-right: 10px;
		}
	}
}
