/* Checkout page */
#cart .breadcrumb-wrapper {
  margin-bottom: 77px; }

#cart #footer {
  margin-top: 88px; }

.cart-block h1 {
  font-size: 36px;
  margin: 0 0 20px;
  text-align: center;
  padding: 0;
  letter-spacing: 0; }

.cart-items {
  border-top: 1px solid #ebebeb;
  list-style: none; }
  .cart-items li {
    border-bottom: 1px solid #ebebeb;
    padding: 3rem 0; }
  .cart-items li.cart-item-title {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.5;
    color: #999;
    padding-bottom: 1.4rem;
    padding-top: 1.4rem;
    display: none; }

.card.cart-summary .btn-checkout {
  padding: 16px 15px;
  width: 100%;
  letter-spacing: 0.4px;
  font-size: 17px; }

.card.cart-summary .checkout a:active {
  color: #fff; }

.card.cart-summary .checkout a:focus {
  color: #fff; }

.cart-box .btn-shopping:hover {
  color: #fff;
  background: #141414;
  border-color: #141414 !important; }

.cart-box .btn-shopping:active {
  color: #fff;
  background: #141414;
  border-color: #141414 !important; }

.cart-box .btn-shopping:focus {
  color: #fff;
  background: #141414;
  border-color: #141414 !important; }

.text-xs-center {
  text-align: center; }

.product-image .product-line-info {
  text-align: left; }

.product-line-info .product-info-value:not(:last-child) {
  padding-bottom: 12px; }

.product-line-info .label.product-name {
  font-size: 18px;
  display: block;
  width: 100%;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  font-weight: 500;
  text-align: left;
  white-space: normal; }

.product-price .value {
  font-size: 20px;
  color: #000; }

body#checkout #cart-summary-product-list .media-left {
  max-width: 60px;
  margin-right: 1rem; }
  body#checkout #cart-summary-product-list .media-left img {
    width: 100%; }

.product-qty .bootstrap-touchspin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #ebebeb; }
  .product-qty .bootstrap-touchspin .input-group-btn-vertical .touchspin-up::after {
    content: "";
    width: 10px;
    height: 10px;
    display: block;
    background: url("../img/icon/plus.png") no-repeat center; }
  .product-qty .bootstrap-touchspin .input-group-btn-vertical .touchspin-down::after {
    content: "";
    width: 10px;
    height: 10px;
    display: block;
    background: url("../img/icon/minus.png") no-repeat center; }

.product-qty .input-group-btn-vertical {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 31px;
  border-left: 1px solid #ebebeb; }
  .product-qty .input-group-btn-vertical button:hover i {
    color: #141414; }

.product-qty .js-cart-line-product-quantity {
  background: transparent; }

.product-qty .btn-touchspin {
  padding: 0;
  border-radius: 0;
  border: 0;
  background: transparent !important;
  z-index: 99;
  height: 22px; }
  .product-qty .btn-touchspin i {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #858585; }

.product-qty .btn-touchspin.bootstrap-touchspin-up {
  border-bottom: 1px solid #ebebeb; }

.row_cs {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.row_cs.remove-button {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.product-right .product-qty {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.product-right .product-total {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.product-line-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0; }
  .product-line-grid > .row_cs {
    padding: 0; }
  .product-line-grid .product-link {
    font-size: 20px;
    line-height: 29px;
    color: #333333;
    font-weight: 800; }
    .product-line-grid .product-link:hover {
      color: #48CAB2; }
  .product-line-grid .product-line-info .value {
    font-size: 16px;
    line-height: 25px;
    color: #333333;
    font-weight: 800; }

.product-image.media-middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 100px; }

.js-cart-line-product-quantity.form-control {
  text-align: center;
  height: 54px;
  padding: 0;
  border: none;
  background-color: #f8f8f8; }

.product-line-grid-right {
  text-align: center; }
  .product-line-grid-right .price, .product-line-grid-right .product-price {
    font-size: 24px;
    line-height: 35px;
    color: #48CAB2;
    font-weight: 800; }

.cart-line-product-actions .remove-from-cart svg {
  width: 24px;
  height: 24px; }

.cart-line-product-actions .remove-from-cart:hover {
  color: #48CAB2; }

.alert.alert-danger.js-error {
  position: relative;
  margin-top: 2.25rem;
  background: #F54337;
  color: #fff;
  width: 100%;
  text-align: center;
  padding: 0 10px;
  display: none; }
  .alert.alert-danger.js-error i {
    position: relative;
    top: 6px; }
  .alert.alert-danger.js-error span {
    font-size: 14px; }

.cart-summary-line {
  padding: 9px 0;
  border-bottom: 1px solid #ebebeb; }
  .cart-summary-line .value {
    float: right; }

.cart-detailed-totals h3 {
  color: #000;
  padding-bottom: 25px; }

.label-title {
  padding: 17px 0;
  color: #fff;
  background: #0070c9; }
  .label-title > div {
    padding: 0;
    font-size: 20px; }

.cart-grid .cart-overview .label-title::before {
  content: "";
  display: table; }

.cart-grid .cart-overview .label-title::after {
  content: "";
  display: table;
  clear: both; }

.cart-grid .cart-overview.js-cart {
  margin-bottom: 50px; }
  .cart-grid .cart-overview.js-cart .no-items {
    display: block;
    padding: 30px 0; }

.cart-grid-right .right-box {
  width: 100%;
  background-color: #f8f8f8;
  padding: 40px; }
  .cart-grid-right .right-box .cart-summary {
    border: none;
    background-color: transparent; }

.cart-grid-right #block-reassurance {
  clear: both;
  margin-top: 2rem; }

.cart-summary .label {
  font-size: 18px;
  padding: 0;
  font-weight: 800;
  color: #333; }

.cart-summary-totals .cart-summary-line {
  border-bottom: 0px; }

.cart-detailed-actions .btn {
  width: 100%; }

.promo-input {
  height: 40px;
  font-size: 14px;
  padding: 0 15px; }

.block-promo {
  margin-bottom: 20px; }

.btn-continue-shopping {
  font-size: 14px;
  font-weight: 800;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .btn-continue-shopping:hover span::before {
    width: 100%; }
  .btn-continue-shopping svg {
    width: 24px;
    height: 24px; }
  .btn-continue-shopping span {
    position: relative;
    margin-left: 10px;
    color: #333; }
    .btn-continue-shopping span::before {
      position: absolute;
      bottom: 5px;
      left: 0;
      right: 0;
      margin: auto;
      width: 0%;
      content: '';
      color: transparent;
      background-color: #333;
      height: 2px;
      -webkit-transition: width 0.25s linear;
      -o-transition: width 0.25s linear;
      transition: width 0.25s linear; }

/*# sourceMappingURL=cart.css.map */