/* Demo 11 Homepage 11 */
.h11-list-category .pb-banner .pb-banner-img img {
  width: 100%;
  transition: transform 1s, -webkit-transform 1s; }

.h11-list-category .pb-banner:hover .pb-banner-img img {
  -webkit-transform: scale3d(1.1, 1.1, 1);
  transform: scale3d(1.1, 1.1, 1); }

.h11-list-category .pb-banner:hover .pb-banner-title::before {
  width: 100%; }

.h11-list-category .pb-banner.white .pb-banner-title::before {
  background-color: #fff; }

.h11-list-category .pb-banner .pb-banner-title {
  margin-right: auto;
  position: relative; }
  .h11-list-category .pb-banner .pb-banner-title::before {
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '';
    color: transparent;
    background-color: #333;
    height: 2px;
    -webkit-transition: width 0.25s linear;
    -o-transition: width 0.25s linear;
    transition: width 0.25s linear; }

.h11-list-category .container > .row {
  margin: 0 -5px; }

.h11-list-category .layout-column {
  padding: 0 5px; }

.h11-list-category .pb-banner .pb-banner-title::before {
  bottom: 3px; }

.h11-list-category .pb-text-content {
  padding: 20px 28px;
  border: 1px solid #ebebeb; }
  .h11-list-category .pb-text-content ul {
    margin-bottom: 0; }
    .h11-list-category .pb-text-content ul li {
      font-size: 16px;
      line-height: 31px; }
      .h11-list-category .pb-text-content ul li a {
        color: #777;
        position: relative; }
        .h11-list-category .pb-text-content ul li a::before {
          position: absolute;
          bottom: 0px;
          left: 0;
          right: 0;
          margin: auto;
          width: 0%;
          content: '';
          color: transparent;
          background-color: #777;
          height: 1px;
          -webkit-transition: width 0.25s linear;
          -o-transition: width 0.25s linear;
          transition: width 0.25s linear; }
        .h11-list-category .pb-text-content ul li a:hover::before {
          width: 100%; }
  .h11-list-category .pb-text-content p {
    margin-bottom: 0; }
  .h11-list-category .pb-text-content .see-all {
    color: #48CAB2;
    font-size: 14px;
    font-weight: 800;
    display: inline-block;
    margin-top: -10px;
    position: relative; }
    .h11-list-category .pb-text-content .see-all::before {
      position: absolute;
      bottom: 5px;
      left: 0;
      right: 0;
      margin: auto;
      width: 0%;
      content: '';
      color: transparent;
      background-color: #48CAB2;
      height: 2px;
      -webkit-transition: width 0.25s linear;
      -o-transition: width 0.25s linear;
      transition: width 0.25s linear; }
    .h11-list-category .pb-text-content .see-all:hover::before {
      width: 100%; }

.h11-banner-text-center {
  margin-top: 10px; }
  .h11-banner-text-center .pb-banner .pb-banner-img img {
    width: 100%;
    transition: transform 1s, -webkit-transform 1s; }
  .h11-banner-text-center .pb-banner:hover .pb-banner-img img {
    -webkit-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1); }
  .h11-banner-text-center .row {
    margin-left: -5px;
    margin-right: -5px; }
  .h11-banner-text-center .layout-column {
    padding: 0 5px; }
  .h11-banner-text-center .pb-banner:hover .pb-banner-title {
    color: #fff;
    background: #48CAB2; }
  .h11-banner-text-center .pb-banner .pb-banner-title {
    background: #fff;
    padding: 8px 33px;
    font-weight: 800;
    display: inline-block;
    margin: 0 auto;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s; }

.h11-product-flex .special-products .productbox-1 .content_price .price.new {
  color: #f8353e; }

.h11-product-flex .product-miniature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.h11-product-flex .product-preview {
  width: 27%; }

.h11-product-flex .productbox-1 .product-title {
  padding-bottom: 4px !important; }

.h11-product-flex .product-info {
  width: 73%;
  padding-left: 20px;
  text-align: left;
  margin-top: -7px;
  padding-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .h11-product-flex .product-info #review {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
    margin-top: 5px; }

.h11-product-flex .content_price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 0; }
  .h11-product-flex .content_price span + span {
    margin-left: 10px; }

.h11-product-flex .filter-products > div {
  margin-bottom: 3rem !important; }

.h11-product-flex .variant-links,
.h11-product-flex .cart-button,
.h11-product-flex .btn-group {
  display: none !important; }

/*# sourceMappingURL=home-11.css.map */