.h12-slider .gdz-slider-wrapper .btn i {
	margin-right: .5rem;
	margin-left: 0;
}
.productbox-3 .wrapp-buttons {
	left: 2rem;
	right: auto;
}
.icon-box-side .pb-service-box .pb-service-icon {
	text-align: right;
}
.pb-service-box .pb-service-content{
	text-align: right;
}