#addon-mkjzg7gym .pb-heading {
	text-align: right !important;
}
#addon-wdqjxw4rm .pb-heading {
	text-align: right !important;
}
#addon-x7m6t4iu5 .pb-heading {
	text-align: right !important;
}
.pb-hotdeal .countdown .countdown-section:not(:last-child)::before {
	left: -.2rem;
	right: auto;
}
.pb-service-box .pb-service-content{
	text-align: right;
}
.h13-newsletter #newsletter-btn {
	border-radius: .2rem 0 0 .2rem;
}
.h13-newsletter .email_subscription .form-control {
	border-left: 0;
	border-radius: 0 .2rem .2rem 0;
	border-right: 1px solid #ebebeb;
}
.pb-blog .entry-body{
	text-align: right;
}

@media (min-width: 768px){
	.addon-tab .nav-tabs.tab-right {
		text-align: left;
	}
}