.js-product-miniature .category-title {
	text-align: center;
}
.js-product-miniature .category-title h3 {
	font-size: 36px;
	color: #17171f;
	letter-spacing: 1.5px;
}
#category #content-wrapper{
	position: unset;
}
#category #content-wrapper,
#category #left-column,
#category #right-column{
	padding-top: 90px;
}
.block-categories ul {
	padding:0px;
	list-style:none;
}
.block-categories ul li {
		line-height: 35px;
		position: relative;
}
.block-categories ul li .navbar-toggler {
		display: inline-flex;
    cursor: pointer;
    align-items: center;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 99;
}
.block-categories .sub-list {
	padding-left:15px;
}
#search_filters .filter-box {
	margin-bottom: 12px;
	border-bottom: 1px solid #e5e5e5;
}
#search_filters .facet {
	margin-bottom: 21px;
	margin-right: 0px;
}
#search_filters .facet.color {
	margin-bottom: 0;
	border-bottom: 0;
}
#search_filters .facet.color .flex-box{
	margin-bottom: 7px;
}
#search_filters .btn-default.js-search-filters-clear-all {
	display: flex;
	align-items: center;
	letter-spacing: 1px;
}
#search_filters .btn-default.js-search-filters-clear-all i{
	font-size: 15px;
	margin-left: -3px;
	margin-right: 5px;
}
#search_filters .facet.color .facet-title.collapsed + .flex-box{
	margin-bottom: 0;
}
.block-categories .title-block h3,
#search_filters .facet-title {
	font-size: 1.25rem;
  color: #000;
  letter-spacing: 0.7px;
	cursor: pointer;
	margin-bottom: 1.25rem;
}
#_desktop_search_filters_clear_all {
	margin-bottom: 42px;
}
.facet.filter-by {
	margin-top: 40px;
}
#search_filters .facet .facet-title.collapsed > i,
.block-categories .title-block h3.collapsed i{
	transform: unset;
}
#search_filters .facet .title {
	position:relative;
}
#search_filters .facet .navbar-toggler {
	position: absolute;
	top:0px;
	right:0px;
}
#category-sub-menu .navbar-toggler.collapsed .closing {
	display:block;
}
#category-sub-menu .navbar-toggler .closing,
#category-sub-menu .navbar-toggler.collapsed .opening,
#search_filters .facet .title .navbar-toggler .closing,
#search_filters .facet .title.collapsed .navbar-toggler .opening {
	display:none;
}

#search_filters .facet .title.collapsed .navbar-toggler .closing {
	display:block;
}
#search_filters .facet li {
	position: relative;
	line-height: 32px;
}
#search_filters .facet.size ul li {
	float: left;
	width: 50%;
}

.filters-panel .view-mode > a > span {
	font-size: 18px;
}
.filters-panel .view-mode > a > span.fa-list-ul {
	font-size:19px;
}
.filters-panel .text {
	color: #111;
	font-size: 13px;
	font-weight: 400;
	margin-right: 10px;
}
.filters-panel .right {
	text-align:right;
}
.filters-panel .product-sort .dropdown-menu {
	border-radius:0;
}
.filter-bottom {
  border-top: 1px solid #e1e1e1;
  clear: both;
  float: left;
  padding-top: 10px;
  width: 100%;
}
.filter-bottom ul.pagination {
  margin: 0;
}

.filters-panel.bottom {
  border-bottom: medium none;
  border-top: 1px solid #e1e1e1;
  padding-top: 20px;
  float:left;
  width:100%;
}
.facet ul {
    padding: 0px;
}
.facet ul li {
    list-style: none;
}
#search_filters .custom-checkbox {
	margin-right: 12px;
	display: inline-block;
	width: 11px;
	height: 11px;
	position: relative;
	top: 10px;
}
#search_filters .custom-checkbox > input{
	opacity: 0;
}
#search_filters .facet.color .custom-checkbox {
	margin-right: 10px;
	margin-bottom: 10px;
}
/*customs checkbox*/
#category .facet-label .checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 11px;
	width: 11px;
	border: 1px solid #b7b7b7;
}
#category .facet-label input:checked ~ .checkmark {
  border-color: #141414;
}
#category .facet-label .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
#category .facet-label input:checked ~ .checkmark:after {
  display: block;
}
#category .facet-label .checkmark::after {
	content: "\f17b";
	font-family: LineAwesome;
	font-size: 6px;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	left: 50%;
}
/**/
.facet-label.active a{
	color: $active !important;
}
.facet.color ul li a {
	display: none;
}
.facet.color ul{
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 0;
}
#search_filters .facet.Color {
	margin-bottom: 33px;
}
#search_filters .facet.Color li {
	width: 50%;
	float: left;
	line-height: 31px;
}
#js-product-list-header {
	margin-bottom:30px;
}
#category .facet .facet-label {
	margin-bottom: 0;
	display: flex;
}
#category .facet .facet-label .search-link{
	width: 100%;
}
#category .facet.size ul li a .magnitude {
	display: none;
}
#category .facet.size ul li{
	border-bottom: 0;
}
#category .facet.Color ul li .custom-checkbox input,
#category .facet.Color ul li .custom-checkbox .checkmark {
    display: none;
}
#category .facet.Color ul li .custom-checkbox .color {
	border-radius: 50%;
	display: block;
	height: 12px;
	width: 12px;
	cursor: pointer;
	position: relative;
}
#category .facet.Color ul li .custom-checkbox input:checked ~ span {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 0;
}
#category .facet.Color ul li .custom-checkbox input:checked ~ .color::after {
	content: "\f17b";
	font-family: LineAwesome;
	font-size: 10px;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	left: 50%;
}
#category .facet >.flex-box {
	width: 100%;
}
#category .facet >.flex-box ul {
	width:100%;
}
#category .facet > .flex-box ul::after {
	content: "";
	display: table;
	clear: both;
}
#category .color-style .custom-checkbox .magnitude {
	margin-left:5px;
	font-size: 14px;
}
#category .facet .color-style .facet-label {
	width:100%;
	display: flex;
}
#products-top {
  margin-bottom:30px;
}
#active-filter {
  margin-bottom:30px;
}
#js-active-search-filters {
    align-items: center;
    background: #f3f4f7 none repeat scroll 0 0;
    display: flex;
    margin-top: 50px;
    padding: 15px;
}
#js-active-search-filters.hide {
  display:none;
}
#js-active-search-filters .active-filter-title {
    margin: 0 15px 0 0;
    padding: 0;
}
#js-active-search-filters > ul {
    align-items: center;
    display: flex;
    margin-bottom: 0;
}
#js-active-search-filters > ul li {
    background: #fff none repeat scroll 0 0;
    display: inline-block;
    line-height: 32px;
    margin-right: 20px;
    padding: 0 10px;
    vertical-align: middle;
}
.filter-block .js-search-link i {
    font-size: 15px;
    line-height: 33px;
    margin-left: 5px;
}
.view-mode i {
    font-size:39px;
    opacity: 0.7;
}
.view-mode .active i {
    opacity: 1;
}
.inlude_sort_by {
    display: inline-flex;
    align-items: center;
    border: 2px solid #ebebeb;
    padding: 0.5px 13px;
}
.products-sort-order .select-title {
    display: flex;
    align-items: center;
}
.products-sort-order .select-title span {
    cursor: pointer;
    display: block;
    line-height: 31px;
    overflow: hidden;
    padding: 0 17px;
    white-space: nowrap;
    color: #000;
}
.products-sort-order .dropdown-menu {
    left: auto;
    min-width: 180px;
    padding: 15px 17px;
    position: absolute;
    right: -13px;
    background: #fff;
    top: calc(100% + 10px);
}
.products-sort-order .dropdown-menu a {
    display: block;
    line-height: 30px;
    color: #555;
    padding: 0 5px;
}
.products-sort-order .dropdown-menu a:hover,
.products-sort-order .dropdown-menu a.current {
    background: #f2f2f2;
}
.products.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}
.products-grid .js-product-miniature {
		float: left;
		margin-left: 0;
		margin-right: 30px;
		padding: 0;
		width: calc((100% - 60px) / 3);
		margin-bottom: 27px;
}
.products-grid.grid-1 .js-product-miniature {
		width: 100%;
		margin-right: 0px;
}
.products-grid.grid-2 .js-product-miniature {
    width: calc((100% - 30px)/2);
    margin-right: 30px !important;
}
.products-grid.grid-3 .js-product-miniature {
    width: calc((100% - 60px)/3);
    margin-right: 30px !important;
}
.products-grid.grid-4 .js-product-miniature {
    width: calc((100% - 90px)/4);
    margin-right: 30px!important;
}
.products-grid.grid-5 .js-product-miniature {
		width: calc((100% - 120px)/5);
		margin-right: 30px !important;
}
.products-grid.grid-6 .js-product-miniature {
		width: calc((100% - 150px)/6);
    margin-right: 30px !important;
}
.products-grid.grid-2 .js-product-miniature:nth-child(2n),
.products-grid.grid-3 .js-product-miniature:nth-child(3n),
.products-grid.grid-4 .js-product-miniature:nth-child(4n),
.products-grid.grid-5 .js-product-miniature:nth-child(5n),
.products-grid.grid-6 .js-product-miniature:nth-child(6n) {
    margin-right: 0 !important;
}
.products-grid.grid-1-2-1-2 .js-product-miniature:nth-child(3n+1) {
		width:100%;
		padding:0px 25%;
		margin-right: 0 !important;
}
.products-grid.grid-1-2-1-2 .js-product-miniature:nth-child(3n+2),
.products-grid.grid-1-2-1-2 .js-product-miniature:nth-child(3n+3) {
		width: calc((100% - 30px)/2);
}
.products-grid.grid-1-2-1-2 .js-product-miniature:nth-child(3n+3) {
		margin-right: 0 !important;
}

.products-grid.grid-1-3-1-3 .js-product-miniature:nth-child(4n+1) {
		width:100%;
		padding:0px 25%;
		margin-right: 0 !important;
}
.products-grid.grid-1-3-1-3 .js-product-miniature:nth-child(4n+2),
.products-grid.grid-1-3-1-3 .js-product-miniature:nth-child(4n+3),
.products-grid.grid-1-3-1-3 .js-product-miniature:nth-child(4n+4) {
		width: calc((100% - 60px)/3);
}
.products-grid.grid-1-3-1-3 .js-product-miniature:nth-child(4n+4) {
		margin-right: 0 !important;
}
.products-grid.grid-2-1-2-1 .js-product-miniature:nth-child(3n+3) {
		width:100%;
		padding:0px 25%;
		margin-right: 0 !important;
}
.products-grid.grid-2-1-2-1 .js-product-miniature:nth-child(3n+1),
.products-grid.grid-2-1-2-1 .js-product-miniature:nth-child(3n+2) {
		width: calc((100% - 30px)/2);
}
.products-grid.grid-2-1-2-1 .js-product-miniature:nth-child(3n+2) {
		margin-right: 0 !important;
}
.products-grid.grid-3-1-3-1 .js-product-miniature:nth-child(4n+4) {
		width:100%;
		padding:0px 25%;
		margin-right: 0 !important;
}
.products-grid.grid-3-1-3-1 .js-product-miniature:nth-child(4n+1),
.products-grid.grid-3-1-3-1 .js-product-miniature:nth-child(4n+2),
.products-grid.grid-3-1-3-1 .js-product-miniature:nth-child(4n+3) {
		width: calc((100% - 60px)/3);
}
.products-grid.grid-3-1-3-1 .js-product-miniature:nth-child(4n+3) {
		margin-right: 0 !important;
}

.js-product-miniature .preview img {
	width: 100%;
}
.products-list .product-preview {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 30px;
}
.pagination {
    margin: 20px 0 0;
    padding-top: 20px;
		padding-right:0px;
    border-top: 1px solid #ebebeb;
}
.pagination ul {
	list-style: none;
	float:right;
}
.pagination li {
    display: inline-block;
    float: none;
    margin-left: 15px;
}
/***** PRODUCT BOX *****/
.js-product-miniature .product-info {
	margin-top:15px;
}
.js-product-miniature .product-title {
		font-size:17px;
}
.js-product-miniature .product-short-desc {
		display:none;
}
.js-product-miniature .category-name {
		font-size: 90%;
		margin-bottom:5px;
}
.js-product-miniature .product-preview {
		position:relative;
}
.js-product-miniature .product-preview img {
		width:100%;
}
.js-product-miniature:hover .product-preview img {
		opacity: 0.7;
}
.js-product-miniature:hover .product-preview:before {
		content: "";
}
/***** Product Box *****/
.productbox-1 {
		text-align:center;
}
.productbox-1 .variant-links {
		display: inline-block;
		text-align: center;
}
.productbox-1 .content_price {
		margin-bottom:0.5rem;
}
.productbox-1 .product-buttons {
    display: inline-flex;
    align-items: stretch;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-left: 7px;
    padding-right: 7px;
    max-width: calc(100% - 20px);
		background: #FFF;
    box-shadow: 1px 1px 1px rgba(0,0,0,.1);
    transition: all .3s ease;
}
.productbox-1 .wrapp-buttons {
    visibility: hidden;
    text-align: center;
    transition: opacity .3s ease,visibility .3s ease,-webkit-transform .3s ease;
    transition: opacity .3s ease,visibility .3s ease,transform .3s ease;
    transition: opacity .3s ease,visibility .3s ease,transform .3s ease,-webkit-transform .3s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.productbox-1 .wrapp-buttons {
    position: absolute;
    right: 0;
    bottom: 10px;
    left: 0;
}
.productbox-1 .wrapp-buttons {
    opacity: 0;
    -webkit-transform: translateY(25px) translateZ(0);
    transform: translateY(25px) translateZ(0);
}
.productbox-1:hover .wrapp-buttons {
    visibility: visible;
}
.productbox-1:hover .wrapp-buttons {
    opacity: 1;
    -webkit-transform: translateY(0) translateZ(0);
    transform: translateY(0) translateZ(0);
}
.product-buttons .btn-icon {
    max-width: 43px;
    width: 100vw;
    flex: 1 1 auto;
		padding:5px;
}
.productbox-1 .btn-icon i {
		font-size:30px;
}
/***** Product Box 2 *****/
.productbox-2 .product-info {
		position: relative;
}
.productbox-2 .product-action {
		align-items: center;
		display: flex;
}
.productbox-2 .variant-links {
		right: 0px;
		margin: 0;
		opacity: 0.7;
		position: absolute;
		visibility: visible;
		display: inline-block;
		line-height: 1;
}
.productbox-2 .product-cart {
		display:none;
}
.productbox-2:hover .product-cart {
		display: block;
    -webkit-transition-delay: 50ms;
    -o-transition-delay: 50ms;
    transition-delay: 50ms;
		bottom: 0px;
    float: left;
    position: absolute;
}
.productbox-2 .product-cart a {
    cursor: pointer;
    display: block;
    opacity: 0;
    -webkit-transform: translateX(-15px);
    -ms-transform: translateX(-15px);
    -o-transform: translateX(-15px);
    transform: translateX(-15px);
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}
.productbox-2:hover .product-cart a {
    opacity: 1;
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px);
    -webkit-transition-delay: 0.3s;
    -o-transition-delay: 0.3s;
    transition-delay: 0.3s;
		display: flex;
		align-items: center;
}
.productbox-2:hover .content_price {
		opacity: 0;
}
.productbox-2 .text-addcart,
.productbox-2 .text-outofstock {
		font-weight: 700;
		font-size: 0.8125em;
		text-transform: uppercase;
		display: inline-block;
}
.productbox-2 .product-cart .ptw-icon {
		font-size:20px;
		margin-right:5px;
}
.productbox-2 .product-buttons {
		position: absolute;
		bottom:20px;
		right:15px;
		opacity: 0;
		list-style: none;
		padding:0px;
		margin: 0px;
}
.productbox-2 .product-buttons i {
		font-size: 24px;
}
.productbox-2:hover .product-buttons {
	opacity: 1;
}
/*.productbox-2 .quick-view {
	position: absolute;
	bottom:10px;
	right:10px;
	opacity: 0;
}

.productbox-2 .quick-view i {
	font-size:24px;
}*/
/***** Product Box 3 *****/
.productbox-3 .product-button {
		position:absolute;
		top:calc(50% - 125px);
		left: 50%;
		transform: translate(-50%,50%);
		opacity: 0;
		transition: all 0.3s;
}
.productbox-3:hover .product-button {
		position:absolute;
		top:calc(50% - 80px);
		left: 50%;
		transform: translate(-50%,50%);
		opacity: 1;
}
.productbox-3 .product-button a {
		min-width:150px;
		margin-bottom:10px;
}
.item .js-product-miniature {
		margin-bottom: 30px;
}
.products-list .js-product-miniature {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 28px;
		width:100%;
}
.products-list .product-preview {
    width: 31.5%;
}
.products-list .product-info {
		width: 68.5%;
    border-top: 0 none;
    padding: 0 30px;
    text-align: left;
    margin-top: -3px;
}
.products-list .product-short-desc {
		display:block;
}
.variant-links a {
		display: inline-block;
		width:13px;
		height:13px;
		border:1px solid #ddd;
		border-radius: 50%;
		float:left;
		margin:0px 0px 0px 4px;
}
.product-img2 {
		display:none!important;
}
.js-product-miniature:hover .swap-image .product-img2 {
		display:block!important;
}
.js-product-miniature:hover .swap-image .product-img1 {
		display:none;
}
