/* Demo 10*/
@import '../config/variables.scss';

#header .header-6{
	.top-panel{
		display: none;
	}
	.container-fluid{
		max-width: 1200px;
		padding-left: 15px;
		padding-right: 15px;
	}
}

.pt-parallax-01 {
	display: flex;
	align-items: center;
	&:nth-child(2){
		margin-top: 100px;
		.pt-description{
			padding-left: 0;
			padding-right: 28px;
		}
	}
	.pt-img {
		position: relative;
		width: 58.33333%;
	}
	.pt-description {
	    width: 41.66667%;
	    padding-left: 44px;
	    .pt-title-01 {
		    font-size: 18px;
		    line-height: 26px;
		    color: #333333;
		    font-weight: 800;
		}
		.pt-title-02 {
		    font-size: 36px;
		    line-height: 43px;
		    color: #333333;
		    font-weight: 800;
		    margin-top: 8px;
		}
		p {
		    margin-top: 21px;
		}
		.btn-default{
			margin-top: 24px;
		}
	}
	.pt-img-sub {
		position: absolute;
		right: 12px;
		top: 50%;
		transform: translateY(-50%);
	}
}

.pt-parallax-02 {
	display: flex;
	align-items: center;
	position: relative;
	.pt-img {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
		-ms-flex-wrap: nowrap;
		flex-wrap: nowrap;
		width: 100%;
		.pt-item{
			width: 50%;
			img{
				width: 100%;
				height: auto;
				position: relative;
				z-index: 1;
			}
			&:first-child{
				padding-right: 15px;
			}
			&:last-child{
				padding-left: 15px;
			}
		}
	}
	.pt-description{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
		z-index: 2;
		.pt-title-01 {
			color: #333;
		    font-size: 18px;
		    line-height: 26px;
		    font-weight: 800;
		}
		.pt-title-02 {
			color: #333;
		    font-size: 36px;
		    line-height: 43px;
		    font-weight: 800;
		}
		.btn-default{
			margin-top: 25px;
		}
	}
}

@media (max-width: 991px){
	.pt-parallax-list img {
	    -webkit-transition: inherit !important;
	    transition: inherit !important;
	    -webkit-transform: inherit !important;
	    transform: inherit !important;
	}
	.pt-parallax-01{
		.pt-img-main{
			width: 90%;
		}
		.pt-img-sub{
			bottom: -30px;
	    	right: 0px;
	    	max-width: 75%;
		}
	}
}

@media (max-width: 767px){
	.pt-parallax-01{
		flex-direction: column;
		+ .pt-parallax-01{
			.pt-description{
				margin-top: 0;
				margin-bottom: 40px;
			}
		}
		.pt-img {
		    width: 100%;
		}
		.pt-description {
		    width: 100%;
		    margin-top: 40px;
		    padding-left: 0;
		}
	}
	.pt-parallax-02{
		flex-direction: column;
		.pt-description{
			position: static;
		    transform: none;
		    margin-top: 20px;
		}
	}
}