@import '../config/variables.scss';

.jms-banner .banner-content p {
	margin-bottom: 0;
}
.h1-banner-type-1{
	.container-fluid{
		padding-left: 10px;
		padding-right: 10px;
	}
	.owl-dots{
		margin-top: 18px;
	}
	.owl_carousel .owl-nav button{
		&.owl-next {
			right: 18px;
		}
		&.owl-prev {
			left: 18px;
		}
	}
	.jms-banner{
		top: 0;
		overflow: visible;
		position: relative;
		transition: 0.25s top;
		img{
			width: 100%;
		}
		&:hover{
			top: -70px;
			.text-2::before{
				width: 100%;
			}
			img{
				transform: none;
			}
			.banner-content .button{
				opacity: 1;
				visibility: visible;
			}
		}
	}
	.banner-content{
		position: relative;
		left: 0;
		top: 0;
		text-align: center;
		margin-top: 35px;
		.text-1{
			font-size: 18px;
			line-height: 26px;
			color: #333;
			font-weight: 800;
			display: block;
		}
		.text-2{
			font-size: 36px;
			line-height: 46px;
			color: #333;
			font-weight: 800;
			display: inline-block;
			position: relative;
			@include underline(4, #333, 3);
			&::before{
				transition-delay: 0.25s;
			}
		}
		.text-3{
			font-size: 18px;
			line-height: 28px;
			margin-top: 9px;
		}
		.button{
			width: 100%;
			position: absolute;
			left: 50%;
			top: 100%;
			transform: translateX(-50%);
			opacity: 0;
			visibility: hidden;
		}
		.btn-default{
			margin-top: 24px;
			padding-left: 20px;
			padding-right: 20px;
		}
	}
}

.h1-banner-type-2{
	@include hoverBannerEffect();
	@include hoverBannerTitleEffect();
	.container-fluid{
		padding: 0 10px;
	}
	.row{
		margin-left: -5px;
		margin-right: -5px;
	}
	
	.layout-column, .grid_column{
		padding: 0 5px;
		margin-bottom: 10px;
	}
	.pb-banner-subtitle{
		font-weight: 800;
		margin-bottom: 10px;
	}
	.pb-banner-title{
		padding-bottom: 1px;
	}
	.pb-banner-desc{
		margin-bottom: 34px;
	}
	.btn{
		letter-spacing: 0.5px;
		padding: 0px 28px;
		display: none;
	}
}
.page-index #footer{
	margin-top: 10px;
}


@media (min-width: 768px){
	.h1-banner-type-2 .btn{
		display: flex;
	}
}
@media (min-width: 992px){
	.h1-banner-type-2 .layout-column, .h1-banner-type-2 .grid_column {
	    margin-bottom: 0px;
	}
}
@media (min-width: 1200px){
	.h1-banner-type-1 .banner-content .text-2{
		font-size: 48px;
    	line-height: 58px;
	}
}