/* Demo 16 Homepage 16 */
@import '../config/variables.scss';

.header-6{
	.container-fluid{
		max-width: 1200px;
	}
	.top-panel{
		display: none;
	}
}
.h16-lookbook{
	.row{
		margin-left: -5px;
		margin-right: -5px;
	}
	.layout-column{
		padding: 0 5px;
	}
	.feature-box{
		padding: 0;
		.image{
			margin-right: 0;
			img{
				width: 100%;
			}
		}
		&.content-left .pt-hotspot{
			&.active .pt-hotspot-content{
				right: 15px;
				left: auto;
			}
			.pt-hotspot-content{
				left: auto;
				right: 35px;
			}
		}
	}
	.pt-description{
		padding-right: 20px;
	}
	.pt-hotspot {
	    position: absolute;
	    color: #ffffff;
	    font-size: 14px;
	    line-height: 1;
	    cursor: pointer;
	    width: 30px;
	    height: 30px;
	    &.active{
	    	.pt-btn{
	    		padding: 10px;
	    		&::after{
	    			background: #333;
	    		}
	    	}
	    	.pt-hotspot-content{
		    	opacity: 1;
		    	visibility: visible;
		    	left: 15px;
		    }
		}
	    .pt-btn{
	    	width: 30px;
			height: 30px;
			padding: 5px;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 2;
			background: rgba(255, 255, 255, 0.8);
			border-radius: 50%;
			transition: padding 0.2s;
			&::after{
				content: '';
				display: block;
				width: 100%;
				height: 100%;
				background-color: $active;
				border-radius: 50%;
				transition: background-color 0.2s;
			}
	    }
	    .pt-hotspot-content{
	    	opacity: 0;
	    	visibility: hidden;
	    	position: absolute;
	    	top: 15px;
	    	left: 35px;
	    	display: flex;
	    	width: 320px;
	    	padding: 20px;
	    	box-shadow: 0px 4px 6px rgba(51, 51, 51, 0.06);
	    	background: #fff;
	    	transition: .4s all;
	    	z-index: 9;
	    	.pt-btn-close{
	    		line-height: 1;
			    position: absolute;
			    top: 20px;
			    right: 20px;
			    font-size: 16px;
			    transition: color 0.2s;
			    color: #D0D0D0;
	    		&::before {
	    			content: "\e909";
				    font-family: 'yanka';
				}
				&:hover{
					color: #333;
				}
			}
	    	.pt-title{
	    		font-size: 16px;
				line-height: 19px;
				font-weight: 400;
				color: #333333;
				margin-top: -2px;
				padding-right: 12px;
				padding-bottom: 0;
	    	}
	    	.pt-price {
			    font-size: 14px;
			    line-height: 20px;
			    font-weight: 800;
			    color: #48CAB2;
			    padding-right: 12px;
			    margin-top: 3px;
			    .old-price{
			    	color: #777777;
					text-decoration: line-through;
					font-weight: 400;
			    }
			    .new-price{
			    	color: #f8353e;
			    }
			}
	    	.pt-img{
	    		width: 80px;
	    		margin-right: 13px;
	    	}
	    }
	}
}