/* Demo 2 Homepage 2 */
@import '../config/variables.scss';

.h2-banner{
	@include hoverImageEffect();
	.pb-heading{
		margin-top: 12px;
		margin-bottom: -1px;
	}
	.pb-text-content{
		p{
			margin-bottom: 13px;
		}
	}
	.pb-button{
		margin-top: 10px;
	}
}

