@font-face {
  font-family: 'icomoon';
  src:  url('icomoon.eot?s47fan');
  src:  url('icomoon.eot?s47fan#iefix') format('embedded-opentype'),
    url('icomoon.ttf?s47fan') format('truetype'),
    url('icomoon.woff?s47fan') format('woff'),
    url('icomoon.svg?s47fan#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.ptw-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-skype_two:before {
  content: "\e985";
}
.icon-facebook_two:before {
  content: "\ea22";
}
.icon-linkedin_two:before {
  content: "\ea23";
}
.icon-youtube_two:before {
  content: "\ea24";
}
.icon-whatsapp_two:before {
  content: "\ea25";
}
.icon-twitter_two:before {
  content: "\ea26";
}
.icon-instagram_two:before {
  content: "\ea27";
}
.icon-facebook_bold:before {
  content: "\ea28";
}
.icon-facebook_light:before {
  content: "\ea29";
}
.icon-facebook_medium:before {
  content: "\ea2a";
}
.icon-instagram_bold:before {
  content: "\ea2b";
}
.icon-instagram_light:before {
  content: "\ea2c";
}
.icon-instagram_medium:before {
  content: "\ea2d";
}
.icon-linkedin_bold:before {
  content: "\ea2e";
}
.icon-linkedin_light:before {
  content: "\ea2f";
}
.icon-linkedin_medium:before {
  content: "\ea30";
}
.icon-pinterest_bold:before {
  content: "\ea31";
}
.icon-pinterest_light:before {
  content: "\ea32";
}
.icon-pinterest_medium:before {
  content: "\ea33";
}
.icon-skype_bold .path1:before {
  content: "\ea34";
  color: rgb(0, 0, 0);
}
.icon-skype_bold .path2:before {
  content: "\ea35";
  margin-left: -0.880859375em;
  color: rgb(6, 5, 5);
}
.icon-skype_light .path1:before {
  content: "\ea36";
  color: rgb(0, 0, 0);
}
.icon-skype_light .path2:before {
  content: "\ea37";
  margin-left: -0.880859375em;
  color: rgb(6, 5, 5);
}
.icon-skype_medium .path1:before {
  content: "\ea38";
  color: rgb(0, 0, 0);
}
.icon-skype_medium .path2:before {
  content: "\ea39";
  margin-left: -0.880859375em;
  color: rgb(6, 5, 5);
}
.icon-twitter_bold:before {
  content: "\ea3a";
}
.icon-twitter_light:before {
  content: "\ea3b";
}
.icon-twitter_medium:before {
  content: "\ea3c";
}
.icon-whatsapp_bold .path1:before {
  content: "\ea3d";
  color: rgb(0, 0, 0);
}
.icon-whatsapp_bold .path2:before {
  content: "\ea3e";
  margin-left: -0.880859375em;
  color: rgb(6, 5, 5);
}
.icon-whatsapp_light .path1:before {
  content: "\ea3f";
  color: rgb(0, 0, 0);
}
.icon-whatsapp_light .path2:before {
  content: "\ea40";
  margin-left: -0.880859375em;
  color: rgb(6, 5, 5);
}
.icon-whatsapp_medium .path1:before {
  content: "\ea41";
  color: rgb(0, 0, 0);
}
.icon-whatsapp_medium .path2:before {
  content: "\ea42";
  margin-left: -0.880859375em;
  color: rgb(6, 5, 5);
}
.icon-youtube_bold:before {
  content: "\ea43";
}
.icon-youtube_light:before {
  content: "\ea44";
}
.icon-youtube_medium:before {
  content: "\ea45";
}
.icon-cart-1_bold:before {
  content: "\e986";
}
.icon-cart-1_light:before {
  content: "\e987";
}
.icon-cart-1_medium:before {
  content: "\e988";
}
.icon-cart-2_bold:before {
  content: "\e989";
}
.icon-cart-2_light:before {
  content: "\e98a";
}
.icon-cart-2_medium:before {
  content: "\e98b";
}
.icon-cart-3_bold:before {
  content: "\e98c";
}
.icon-cart-3_light:before {
  content: "\e98d";
}
.icon-cart-3_medium:before {
  content: "\e98e";
}
.icon-cart-4_bold:before {
  content: "\e98f";
}
.icon-cart-4_light:before {
  content: "\e990";
}
.icon-cart-4_medium:before {
  content: "\e991";
}
.icon-cart-5_bold:before {
  content: "\e992";
}
.icon-cart-5_light:before {
  content: "\e993";
}
.icon-cart-5_medium:before {
  content: "\e994";
}
.icon-cart-6_bold:before {
  content: "\e995";
}
.icon-cart-6_light:before {
  content: "\e996";
}
.icon-cart-6_medium:before {
  content: "\e997";
}
.icon-cart-7_bold:before {
  content: "\e998";
}
.icon-cart-7_light:before {
  content: "\e999";
}
.icon-cart-7_medium:before {
  content: "\e99a";
}
.icon-cart-8_bold:before {
  content: "\e99b";
}
.icon-cart-8_light:before {
  content: "\e99c";
}
.icon-cart-8_medium:before {
  content: "\e99d";
}
.icon-cart-9_bold:before {
  content: "\e99e";
}
.icon-cart-9_light:before {
  content: "\e99f";
}
.icon-cart-9_medium:before {
  content: "\e9a0";
}
.icon-cart-10_bold:before {
  content: "\e9a1";
}
.icon-cart-10_light:before {
  content: "\e9a2";
}
.icon-cart-10_medium:before {
  content: "\e9a3";
}
.icon-cart-11_bold:before {
  content: "\e9a4";
}
.icon-cart-11_light:before {
  content: "\e9a5";
}
.icon-cart-11_medium:before {
  content: "\e9a6";
}
.icon-cart-12_bold:before {
  content: "\e9a7";
}
.icon-cart-12_light:before {
  content: "\e9a8";
}
.icon-cart-12_medium:before {
  content: "\e9a9";
}
.icon-cart-13_bold:before {
  content: "\e9aa";
}
.icon-cart-13_light:before {
  content: "\e9ab";
}
.icon-cart-13_medium:before {
  content: "\e9ac";
}
.icon-cart-14_bold:before {
  content: "\e9ad";
}
.icon-cart-14_light:before {
  content: "\e9ae";
}
.icon-cart-14_medium:before {
  content: "\e9af";
}
.icon-cart-15_bold:before {
  content: "\e9b0";
}
.icon-cart-15_light:before {
  content: "\e9b1";
}
.icon-cart-15_medium:before {
  content: "\e9b2";
}
.icon-cart-16:before {
  content: "\e9b3";
}
.icon-cart-17:before {
  content: "\e9b4";
}
.icon-cart-18:before {
  content: "\e9b5";
}
.icon-cart-19:before {
  content: "\e9b6";
}
.icon-cart-20:before {
  content: "\e9b7";
}
.icon-closed-4:before {
  content: "\e9b8";
}
.icon-delete-1:before {
  content: "\e9b9";
}
.icon-delete-4:before {
  content: "\e9ba";
}
.icon-grid-1:before {
  content: "\e9bb";
}
.icon-grid-6:before {
  content: "\e9bc";
}
.icon-grid-7:before {
  content: "\e9bd";
}
.icon-grid-8:before {
  content: "\e9be";
}
.icon-list-3:before {
  content: "\e9bf";
}
.icon-list-4:before {
  content: "\e9c0";
}
.icon-list-5:before {
  content: "\e9c1";
}
.icon-list-6:before {
  content: "\e9c2";
}
.icon-search-1_bold:before {
  content: "\e9c3";
}
.icon-search-1_light:before {
  content: "\e9c4";
}
.icon-search-1_medium:before {
  content: "\e9c5";
}
.icon-search-2_bold:before {
  content: "\e9c6";
}
.icon-search-2_light:before {
  content: "\e9c7";
}
.icon-search-2_medium:before {
  content: "\e9c8";
}
.icon-search-3_bold:before {
  content: "\e9c9";
}
.icon-search-3_light:before {
  content: "\e9ca";
}
.icon-search-3_medium:before {
  content: "\e9cb";
}
.icon-search-4_bold:before {
  content: "\e9cc";
}
.icon-search-4_light:before {
  content: "\e9cd";
}
.icon-search-4_medium:before {
  content: "\e9ce";
}
.icon-search-5_bold:before {
  content: "\e9cf";
}
.icon-search-5_light:before {
  content: "\e9d0";
}
.icon-search-5_medium:before {
  content: "\e9d1";
}
.icon-search-6_bold:before {
  content: "\e9d2";
}
.icon-search-6_light:before {
  content: "\e9d3";
}
.icon-search-6_medium:before {
  content: "\e9d4";
}
.icon-search-7_bold:before {
  content: "\e9d5";
}
.icon-search-7_light:before {
  content: "\e9d6";
}
.icon-search-7_medium:before {
  content: "\e9d7";
}
.icon-search-8_bold:before {
  content: "\e9d8";
}
.icon-search-8_light:before {
  content: "\e9d9";
}
.icon-search-8_medium:before {
  content: "\e9da";
}
.icon-search-9_bold:before {
  content: "\e9db";
}
.icon-search-9_light:before {
  content: "\e9dc";
}
.icon-search-9_medium:before {
  content: "\e9dd";
}
.icon-search-10_bold:before {
  content: "\e9de";
}
.icon-search-10_light:before {
  content: "\e9df";
}
.icon-search-10_medium:before {
  content: "\e9e0";
}
.icon-user-1_bold:before {
  content: "\e9e1";
}
.icon-user-1_light:before {
  content: "\e9e2";
}
.icon-user-1_medium:before {
  content: "\e9e3";
}
.icon-user-2_bold:before {
  content: "\e9e4";
}
.icon-user-2_light:before {
  content: "\e9e5";
}
.icon-user-2_medium:before {
  content: "\e9e6";
}
.icon-user-3:before {
  content: "\e9e7";
}
.icon-user-4_bold:before {
  content: "\e9e8";
}
.icon-user-4_light:before {
  content: "\e9e9";
}
.icon-user-4_medium:before {
  content: "\e9ea";
}
.icon-user-5_bold:before {
  content: "\e9eb";
}
.icon-user-5_light:before {
  content: "\e9ec";
}
.icon-user-5_medium:before {
  content: "\e9ed";
}
.icon-user-6_bold:before {
  content: "\e9ee";
}
.icon-user-6_light:before {
  content: "\e9ef";
}
.icon-user-6_medium:before {
  content: "\e9f0";
}
.icon-user-7_bold:before {
  content: "\e9f1";
}
.icon-user-7_light:before {
  content: "\e9f2";
}
.icon-user-7_medium:before {
  content: "\e9f3";
}
.icon-user-8_bold:before {
  content: "\e9f4";
}
.icon-user-8_light:before {
  content: "\e9f5";
}
.icon-user-8_medium:before {
  content: "\e9f6";
}
.icon-user-9_bold:before {
  content: "\e9f7";
}
.icon-user-9_light:before {
  content: "\e9f8";
}
.icon-user-9_medium:before {
  content: "\e9f9";
}
.icon-user-10_bold:before {
  content: "\e9fa";
}
.icon-user-10_light:before {
  content: "\e9fb";
}
.icon-user-10_medium:before {
  content: "\e9fc";
}
.icon-user-11:before {
  content: "\e9fd";
}
.icon-user-12_bold:before {
  content: "\e9fe";
}
.icon-user-12_light:before {
  content: "\e9ff";
}
.icon-user-12_medium:before {
  content: "\ea00";
}
.icon-user-13_bold:before {
  content: "\ea01";
}
.icon-user-13_light:before {
  content: "\ea02";
}
.icon-user-13_medium:before {
  content: "\ea03";
}
.icon-user-14_bold:before {
  content: "\ea04";
}
.icon-user-14_light:before {
  content: "\ea05";
}
.icon-user-14_medium:before {
  content: "\ea06";
}
.icon-user-15_bold:before {
  content: "\ea07";
}
.icon-user-15_light:before {
  content: "\ea08";
}
.icon-user-15_medium:before {
  content: "\ea09";
}
.icon-wishlist-1_bold:before {
  content: "\ea0a";
}
.icon-wishlist-1_light:before {
  content: "\ea0b";
}
.icon-wishlist-1_medium:before {
  content: "\ea0c";
}
.icon-wishlist-2_bold:before {
  content: "\ea0d";
}
.icon-wishlist-2_light:before {
  content: "\ea0e";
}
.icon-wishlist-2_medium:before {
  content: "\ea0f";
}
.icon-wishlist-3_bold:before {
  content: "\ea10";
}
.icon-wishlist-3_light:before {
  content: "\ea11";
}
.icon-wishlist-3_medium:before {
  content: "\ea12";
}
.icon-wishlist-4_bold:before {
  content: "\ea13";
}
.icon-wishlist-4_light:before {
  content: "\ea14";
}
.icon-wishlist-4_medium:before {
  content: "\ea15";
}
.icon-wishlist-5_bold:before {
  content: "\ea16";
}
.icon-wishlist-5_light:before {
  content: "\ea17";
}
.icon-wishlist-5_medium:before {
  content: "\ea18";
}
.icon-wishlist-6_bold:before {
  content: "\ea19";
}
.icon-wishlist-6_light:before {
  content: "\ea1a";
}
.icon-wishlist-6_medium:before {
  content: "\ea1b";
}
.icon-wishlist-7_bold:before {
  content: "\ea1c";
}
.icon-wishlist-7_light:before {
  content: "\ea1d";
}
.icon-wishlist-7_medium:before {
  content: "\ea1e";
}
.icon-wishlist-8:before {
  content: "\ea1f";
}
.icon-wishlist-9:before {
  content: "\ea20";
}
.icon-wishlist-10:before {
  content: "\ea21";
}
.icon-calendar1_bold:before {
  content: "\e900";
}
.icon-calendar1_light:before {
  content: "\e901";
}
.icon-calendar1_medium:before {
  content: "\e902";
}
.icon-calendar2_bold:before {
  content: "\e903";
}
.icon-calendar2_light:before {
  content: "\e904";
}
.icon-calendar2_medium:before {
  content: "\e905";
}
.icon-close_bold:before {
  content: "\e906";
}
.icon-close_light:before {
  content: "\e907";
}
.icon-close_medium:before {
  content: "\e908";
}
.icon-closed-2_bold:before {
  content: "\e909";
}
.icon-closed-2_light:before {
  content: "\e90a";
}
.icon-closed-2_medium:before {
  content: "\e90b";
}
.icon-closed-rounded_bold:before {
  content: "\e90c";
}
.icon-closed-rounded_light:before {
  content: "\e90d";
}
.icon-closed-rounded_medium:before {
  content: "\e90e";
}
.icon-comment1_bold:before {
  content: "\e90f";
}
.icon-comment1_light:before {
  content: "\e910";
}
.icon-comment1_medium:before {
  content: "\e911";
}
.icon-comment2_bold:before {
  content: "\e912";
}
.icon-comment2_light:before {
  content: "\e913";
}
.icon-comment2_medium:before {
  content: "\e914";
}
.icon-comment3_bold:before {
  content: "\e915";
}
.icon-comment3_light:before {
  content: "\e916";
}
.icon-comment3_medium:before {
  content: "\e917";
}
.icon-deleted-1_bold:before {
  content: "\e918";
}
.icon-deleted-1_light:before {
  content: "\e919";
}
.icon-deleted-1_medium:before {
  content: "\e91a";
}
.icon-deleted-2_bold:before {
  content: "\e91b";
}
.icon-deleted-2_light:before {
  content: "\e91c";
}
.icon-deleted-2_medium:before {
  content: "\e91d";
}
.icon-grid1_bold:before {
  content: "\e91e";
}
.icon-grid1_light:before {
  content: "\e91f";
}
.icon-grid1_medium:before {
  content: "\e920";
}
.icon-grid2_bold:before {
  content: "\e921";
}
.icon-grid2_light:before {
  content: "\e922";
}
.icon-grid2_medium:before {
  content: "\e923";
}
.icon-grid3_bold:before {
  content: "\e924";
}
.icon-grid3_light:before {
  content: "\e925";
}
.icon-grid3_medium:before {
  content: "\e926";
}
.icon-grid4_bold:before {
  content: "\e927";
}
.icon-grid4_light:before {
  content: "\e928";
}
.icon-grid4_medium:before {
  content: "\e929";
}
.icon-left_bold:before {
  content: "\e92a";
}
.icon-left-double_bold:before {
  content: "\e92b";
}
.icon-left-double_light:before {
  content: "\e92c";
}
.icon-left-double_medium:before {
  content: "\e92d";
}
.icon-left_light:before {
  content: "\e92e";
}
.icon-left_medium:before {
  content: "\e92f";
}
.icon-left-rounded_bold:before {
  content: "\e930";
}
.icon-left-rounded_light:before {
  content: "\e931";
}
.icon-left-rounded_medium:before {
  content: "\e932";
}
.icon-left-rounded-2_bold:before {
  content: "\e933";
}
.icon-left-rounded-2_light:before {
  content: "\e934";
}
.icon-left-rounded-2_medium:before {
  content: "\e935";
}
.icon-left-rounded-3_bold:before {
  content: "\e936";
}
.icon-left-rounded-3_light:before {
  content: "\e937";
}
.icon-left-rounded-3_medium:before {
  content: "\e938";
}
.icon-less_bold:before {
  content: "\e939";
}
.icon-less_light:before {
  content: "\e93a";
}
.icon-less_medium:before {
  content: "\e93b";
}
.icon-less-rounded_bold:before {
  content: "\e93c";
}
.icon-less-rounded_light:before {
  content: "\e93d";
}
.icon-less-rounded_medium:before {
  content: "\e93e";
}
.icon-list-1_bold:before {
  content: "\e93f";
}
.icon-list-1_light:before {
  content: "\e940";
}
.icon-list-1_medium:before {
  content: "\e941";
}
.icon-list-2_bold:before {
  content: "\e942";
}
.icon-list-2_light:before {
  content: "\e943";
}
.icon-list-2_medium:before {
  content: "\e944";
}
.icon-list-3_bold:before {
  content: "\e945";
}
.icon-list-3_light:before {
  content: "\e946";
}
.icon-list-3_medium:before {
  content: "\e947";
}
.icon-list-4_bold:before {
  content: "\e948";
}
.icon-list-4_light:before {
  content: "\e949";
}
.icon-list-4_medium:before {
  content: "\e94a";
}
.icon-list-5_bold:before {
  content: "\e94b";
}
.icon-list-5_light:before {
  content: "\e94c";
}
.icon-list-5_medium:before {
  content: "\e94d";
}
.icon-menu-1_bold:before {
  content: "\e94e";
}
.icon-menu-1_light:before {
  content: "\e94f";
}
.icon-menu-1_medium:before {
  content: "\e950";
}
.icon-menu2_bold:before {
  content: "\e951";
}
.icon-menu2_light:before {
  content: "\e952";
}
.icon-menu2_medium:before {
  content: "\e953";
}
.icon-menu3_bold:before {
  content: "\e954";
}
.icon-menu3_light:before {
  content: "\e955";
}
.icon-menu3_medium:before {
  content: "\e956";
}
.icon-menu4-bold:before {
  content: "\e957";
}
.icon-menu4-light:before {
  content: "\e958";
}
.icon-menu4-medium:before {
  content: "\e959";
}
.icon-more_bold:before {
  content: "\e95a";
}
.icon-more_light:before {
  content: "\e95b";
}
.icon-more_medium:before {
  content: "\e95c";
}
.icon-more-rounded_bold:before {
  content: "\e95d";
}
.icon-more-rounded_light:before {
  content: "\e95e";
}
.icon-more-rounded_medium:before {
  content: "\e95f";
}
.icon-preview-1_bold:before {
  content: "\e960";
}
.icon-preview-1_light:before {
  content: "\e961";
}
.icon-preview-1_medium:before {
  content: "\e962";
}
.icon-preview-2_bold:before {
  content: "\e963";
}
.icon-preview-2_light:before {
  content: "\e964";
}
.icon-preview-2_medium:before {
  content: "\e965";
}
.icon-preview-3_bold:before {
  content: "\e966";
}
.icon-preview-3_light:before {
  content: "\e967";
}
.icon-preview-3_medium:before {
  content: "\e968";
}
.icon-right_bold:before {
  content: "\e969";
}
.icon-right-double_bold:before {
  content: "\e96a";
}
.icon-right-double_light:before {
  content: "\e96b";
}
.icon-right-double_medium:before {
  content: "\e96c";
}
.icon-right_light:before {
  content: "\e96d";
}
.icon-right_medium:before {
  content: "\e96e";
}
.icon-right-rounded_bold:before {
  content: "\e96f";
}
.icon-right-rounded_light:before {
  content: "\e970";
}
.icon-right-rounded_medium:before {
  content: "\e971";
}
.icon-right-rounded-2_bold:before {
  content: "\e972";
}
.icon-right-rounded-2_light:before {
  content: "\e973";
}
.icon-right-rounded-2_medium:before {
  content: "\e974";
}
.icon-right-rounded-3_bold:before {
  content: "\e975";
}
.icon-right-rounded-3_light:before {
  content: "\e976";
}
.icon-right-rounded-3_medium:before {
  content: "\e977";
}
.icon-right-simple_bold:before {
  content: "\e978";
}
.icon-right-simple_light:before {
  content: "\e979";
}
.icon-right-simple_medium:before {
  content: "\e97a";
}
.icon-send_bold:before {
  content: "\e97b";
}
.icon-send_light:before {
  content: "\e97c";
}
.icon-send_medium:before {
  content: "\e97d";
}
.icon-send-2_bold:before {
  content: "\e97e";
}
.icon-send-2_light:before {
  content: "\e97f";
}
.icon-send-2_medium:before {
  content: "\e980";
}
.icon-send-3_bold:before {
  content: "\e981";
}
.icon-send-3_light:before {
  content: "\e982";
}
.icon-send-3_medium:before {
  content: "\e983";
}
.icon-grid4_medium1:before {
  content: "\e984";
}
