@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?xmx3ao');
  src:  url('fonts/icomoon.eot?xmx3ao#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?xmx3ao') format('truetype'),
    url('fonts/icomoon.woff?xmx3ao') format('woff'),
    url('fonts/icomoon.svg?xmx3ao#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wishlist1_light:before {
  content: "\e999";
}
.icon-wishlist1_medium:before {
  content: "\e99a";
}
.icon-wishlist1_bold:before {
  content: "\e99b";
}
.icon-wishlist2_light:before {
  content: "\e99c";
}
.icon-wishlist2_medium:before {
  content: "\e99d";
}
.icon-wishlist2_bold:before {
  content: "\e99e";
}
.icon-wishlist3_light:before {
  content: "\e99f";
}
.icon-wishlist3_medium:before {
  content: "\e9a0";
}
.icon-wishlist3_bold:before {
  content: "\e9a1";
}
.icon-wishlist4_light:before {
  content: "\e9a2";
}
.icon-wishlist4_medium:before {
  content: "\e9a3";
}
.icon-wishlist4_bold:before {
  content: "\e9a4";
}
.icon-wishlist5_light:before {
  content: "\e9a5";
}
.icon-wishlist5_medium:before {
  content: "\e9a6";
}
.icon-wishlist5_bold:before {
  content: "\e9a7";
}
.icon-wishlist6_light:before {
  content: "\e9a8";
}
.icon-wishlist6_medium:before {
  content: "\e9a9";
}
.icon-wishlist6_bold:before {
  content: "\e9aa";
}
.icon-wishlist7_light:before {
  content: "\e9ab";
}
.icon-wishlist7_medium:before {
  content: "\e9ac";
}
.icon-wishlist7_bold:before {
  content: "\e9ad";
}
.icon-wishlist8:before {
  content: "\e9ae";
}
.icon-wishlist9:before {
  content: "\e9af";
}
.icon-wishlist10:before {
  content: "\e9b0";
}
.icon-users1_light:before {
  content: "\e96e";
}
.icon-users1_medium:before {
  content: "\e96f";
}
.icon-users1_bold:before {
  content: "\e970";
}
.icon-users2_light:before {
  content: "\e971";
}
.icon-users2_medium:before {
  content: "\e972";
}
.icon-users3_light:before {
  content: "\e973";
}
.icon-users3_medium:before {
  content: "\e974";
}
.icon-users3_bold:before {
  content: "\e975";
}
.icon-users4_light:before {
  content: "\e976";
}
.icon-users4_medium:before {
  content: "\e977";
}
.icon-users4_bold:before {
  content: "\e978";
}
.icon-users5_light:before {
  content: "\e979";
}
.icon-users5_medium:before {
  content: "\e97a";
}
.icon-users5_bold:before {
  content: "\e97b";
}
.icon-users6_light:before {
  content: "\e97c";
}
.icon-users6_medium:before {
  content: "\e97d";
}
.icon-users6_bold:before {
  content: "\e97e";
}
.icon-users7_light:before {
  content: "\e97f";
}
.icon-users7_medium:before {
  content: "\e980";
}
.icon-users7_bold:before {
  content: "\e981";
}
.icon-users8_light:before {
  content: "\e982";
}
.icon-users8_medium:before {
  content: "\e983";
}
.icon-users8_bold:before {
  content: "\e984";
}
.icon-users9_light:before {
  content: "\e985";
}
.icon-users9_medium:before {
  content: "\e986";
}
.icon-users9_bold:before {
  content: "\e987";
}
.icon-users10_light:before {
  content: "\e988";
}
.icon-users10_medium:before {
  content: "\e989";
}
.icon-users10_bold:before {
  content: "\e98a";
}
.icon-users11:before {
  content: "\e98b";
}
.icon-users12_light:before {
  content: "\e98c";
}
.icon-users12_medium:before {
  content: "\e98d";
}
.icon-users12_bold:before {
  content: "\e98e";
}
.icon-users14_light:before {
  content: "\e98f";
}
.icon-users14_medium:before {
  content: "\e990";
}
.icon-users14_bold:before {
  content: "\e991";
}
.icon-users15_light:before {
  content: "\e992";
}
.icon-users15_medium:before {
  content: "\e993";
}
.icon-users15_bold:before {
  content: "\e994";
}
.icon-users16_light:before {
  content: "\e995";
}
.icon-users16_medium:before {
  content: "\e996";
}
.icon-users16_bold:before {
  content: "\e997";
}
.icon-users21_bold:before {
  content: "\e998";
}
.icon-cart_icons1_1:before {
  content: "\e93c";
}
.icon-cart_icons1_2:before {
  content: "\e93d";
}
.icon-cart_icons1_3:before {
  content: "\e93e";
}
.icon-cart_icons2_1:before {
  content: "\e93f";
}
.icon-cart_icons2_2:before {
  content: "\e940";
}
.icon-cart_icons2_3:before {
  content: "\e941";
}
.icon-cart_icons3_1:before {
  content: "\e942";
}
.icon-cart_icons3_2:before {
  content: "\e943";
}
.icon-cart_icons3_3:before {
  content: "\e944";
}
.icon-cart_icons4_1:before {
  content: "\e945";
}
.icon-cart_icons4_2:before {
  content: "\e946";
}
.icon-cart_icons4_3:before {
  content: "\e947";
}
.icon-cart_icons5_1:before {
  content: "\e948";
}
.icon-cart_icons5_2:before {
  content: "\e949";
}
.icon-cart_icons5_3:before {
  content: "\e94a";
}
.icon-cart_icons6_1:before {
  content: "\e94b";
}
.icon-cart_icons6_2:before {
  content: "\e94c";
}
.icon-cart_icons6_3:before {
  content: "\e94d";
}
.icon-cart_icons7_1:before {
  content: "\e94e";
}
.icon-cart_icons7_2:before {
  content: "\e94f";
}
.icon-cart_icons7_3:before {
  content: "\e950";
}
.icon-cart_icons8_1:before {
  content: "\e951";
}
.icon-cart_icons8_2:before {
  content: "\e952";
}
.icon-cart_icons8_3:before {
  content: "\e953";
}
.icon-cart_icons9_1:before {
  content: "\e954";
}
.icon-cart_icons9_2:before {
  content: "\e955";
}
.icon-cart_icons9_3:before {
  content: "\e956";
}
.icon-cart_icons10_1:before {
  content: "\e957";
}
.icon-cart_icons10_2:before {
  content: "\e958";
}
.icon-cart_icons10_3:before {
  content: "\e959";
}
.icon-cart_icons11_1:before {
  content: "\e95a";
}
.icon-cart_icons11_2:before {
  content: "\e95b";
}
.icon-cart_icons11_3:before {
  content: "\e95c";
}
.icon-cart_icons12_1:before {
  content: "\e95d";
}
.icon-cart_icons12_2:before {
  content: "\e95e";
}
.icon-cart_icons12_3:before {
  content: "\e95f";
}
.icon-cart_icons13_1:before {
  content: "\e960";
}
.icon-cart_icons13_2:before {
  content: "\e961";
}
.icon-cart_icons13_3:before {
  content: "\e962";
}
.icon-cart_icons14_1:before {
  content: "\e963";
}
.icon-cart_icons14_2:before {
  content: "\e964";
}
.icon-cart_icons14_3:before {
  content: "\e965";
}
.icon-cart_icons15_1:before {
  content: "\e966";
}
.icon-cart_icons15_2:before {
  content: "\e967";
}
.icon-cart_icons15_3:before {
  content: "\e968";
}
.icon-cart_icons16:before {
  content: "\e969";
}
.icon-cart_icons17:before {
  content: "\e96a";
}
.icon-cart_icons18:before {
  content: "\e96b";
}
.icon-cart_icons19:before {
  content: "\e96c";
}
.icon-cart_icons20:before {
  content: "\e96d";
}
.icon-search1_2:before {
  content: "\e901";
}
.icon-search1_3:before {
  content: "\e902";
}
.icon-search2_1:before {
  content: "\e903";
}
.icon-search2_2:before {
  content: "\e904";
}
.icon-search2_3:before {
  content: "\e905";
}
.icon-search3_1:before {
  content: "\e906";
}
.icon-search3_2:before {
  content: "\e907";
}
.icon-search3_3:before {
  content: "\e908";
}
.icon-search4_1 .path1:before {
  content: "\e909";
  color: rgb(29, 29, 27);
}
.icon-search4_1 .path2:before {
  content: "\e90a";
  margin-left: -0.841796875em;
  color: rgb(0, 0, 0);
}
.icon-search4_1 .path3:before {
  content: "\e90b";
  margin-left: -0.841796875em;
  color: rgb(0, 0, 0);
}
.icon-search4_2 .path1:before {
  content: "\e90c";
  color: rgb(29, 29, 27);
}
.icon-search4_2 .path2:before {
  content: "\e90d";
  margin-left: -0.841796875em;
  color: rgb(0, 0, 0);
}
.icon-search4_2 .path3:before {
  content: "\e90e";
  margin-left: -0.841796875em;
  color: rgb(0, 0, 0);
}
.icon-search4_3 .path1:before {
  content: "\e90f";
  color: rgb(29, 29, 27);
}
.icon-search4_3 .path2:before {
  content: "\e910";
  margin-left: -0.841796875em;
  color: rgb(0, 0, 0);
}
.icon-search4_3 .path3:before {
  content: "\e911";
  margin-left: -0.841796875em;
  color: rgb(0, 0, 0);
}
.icon-search5_1 .path1:before {
  content: "\e912";
  color: rgb(29, 29, 27);
}
.icon-search5_1 .path2:before {
  content: "\e913";
  margin-left: -0.841796875em;
  color: rgb(29, 29, 27);
}
.icon-search5_1 .path3:before {
  content: "\e914";
  margin-left: -0.841796875em;
  color: rgb(29, 29, 27);
}
.icon-search5_1 .path4:before {
  content: "\e915";
  margin-left: -0.841796875em;
  color: rgb(0, 0, 0);
}
.icon-search5_1 .path5:before {
  content: "\e916";
  margin-left: -0.841796875em;
  color: rgb(0, 0, 0);
}
.icon-search5_2 .path1:before {
  content: "\e917";
  color: rgb(29, 29, 27);
}
.icon-search5_2 .path2:before {
  content: "\e918";
  margin-left: -0.841796875em;
  color: rgb(29, 29, 27);
}
.icon-search5_2 .path3:before {
  content: "\e919";
  margin-left: -0.841796875em;
  color: rgb(29, 29, 27);
}
.icon-search5_2 .path4:before {
  content: "\e91a";
  margin-left: -0.841796875em;
  color: rgb(0, 0, 0);
}
.icon-search5_2 .path5:before {
  content: "\e91b";
  margin-left: -0.841796875em;
  color: rgb(0, 0, 0);
}
.icon-search5_3 .path1:before {
  content: "\e91c";
  color: rgb(29, 29, 27);
}
.icon-search5_3 .path2:before {
  content: "\e91d";
  margin-left: -0.841796875em;
  color: rgb(29, 29, 27);
}
.icon-search5_3 .path3:before {
  content: "\e91e";
  margin-left: -0.841796875em;
  color: rgb(29, 29, 27);
}
.icon-search5_3 .path4:before {
  content: "\e91f";
  margin-left: -0.841796875em;
  color: rgb(0, 0, 0);
}
.icon-search5_3 .path5:before {
  content: "\e920";
  margin-left: -0.841796875em;
  color: rgb(0, 0, 0);
}
.icon-search6_1:before {
  content: "\e921";
}
.icon-search6_2:before {
  content: "\e922";
}
.icon-search6_3 .path1:before {
  content: "\e923";
  color: rgb(0, 0, 0);
}
.icon-search6_3 .path2:before {
  content: "\e924";
  margin-left: -0.841796875em;
  color: rgb(0, 0, 0);
}
.icon-search6_3 .path3:before {
  content: "\e925";
  margin-left: -0.841796875em;
  color: rgb(29, 29, 27);
}
.icon-search6_3 .path4:before {
  content: "\e926";
  margin-left: -0.841796875em;
  color: rgb(29, 29, 27);
}
.icon-search7_1 .path1:before {
  content: "\e927";
  color: rgb(0, 0, 0);
}
.icon-search7_1 .path2:before {
  content: "\e928";
  margin-left: -0.841796875em;
  color: rgb(0, 0, 0);
}
.icon-search7_1 .path3:before {
  content: "\e929";
  margin-left: -0.841796875em;
  color: rgb(29, 29, 27);
}
.icon-search7_1 .path4:before {
  content: "\e92a";
  margin-left: -0.841796875em;
  color: rgb(29, 29, 27);
}
.icon-search7_2 .path1:before {
  content: "\e92b";
  color: rgb(0, 0, 0);
}
.icon-search7_2 .path2:before {
  content: "\e92c";
  margin-left: -0.841796875em;
  color: rgb(0, 0, 0);
}
.icon-search7_2 .path3:before {
  content: "\e92d";
  margin-left: -0.841796875em;
  color: rgb(29, 29, 27);
}
.icon-search7_2 .path4:before {
  content: "\e92e";
  margin-left: -0.841796875em;
  color: rgb(29, 29, 27);
}
.icon-search7_3 .path1:before {
  content: "\e92f";
  color: rgb(0, 0, 0);
}
.icon-search7_3 .path2:before {
  content: "\e930";
  margin-left: -0.841796875em;
  color: rgb(0, 0, 0);
}
.icon-search7_3 .path3:before {
  content: "\e931";
  margin-left: -0.841796875em;
  color: rgb(29, 29, 27);
}
.icon-search7_3 .path4:before {
  content: "\e932";
  margin-left: -0.841796875em;
  color: rgb(29, 29, 27);
}
.icon-search8_1:before {
  content: "\e933";
}
.icon-search8_2:before {
  content: "\e934";
}
.icon-search8_3:before {
  content: "\e935";
}
.icon-search9_1:before {
  content: "\e936";
}
.icon-search9_2:before {
  content: "\e937";
}
.icon-search9_3:before {
  content: "\e938";
}
.icon-search10_1:before {
  content: "\e939";
}
.icon-search10_2:before {
  content: "\e93a";
}
.icon-search10_3:before {
  content: "\e93b";
}
.icon-search1_1:before {
  content: "\e900";
}
