/* Footer */
#footer {
  background-color: #f8f8f8; }
  #footer .footer-main {
    padding: 97px 0 53px; }
  #footer #footer-main .layout-column {
    padding-left: 15px;
    padding-right: 15px; }
  #footer #footer-main .block .block-title {
    font-size: 18px;
    line-height: 26px;
    padding: 0 0 12px 0;
    position: relative;
    text-align: left;
    margin-bottom: 0;
    font-weight: 800;
    letter-spacing: 0;
    text-transform: initial;
    margin-top: 0; }
  #footer #footer-main .block .block-socials .block-title {
    margin-top: 0;
    padding-bottom: 0;
    margin-right: 10px; }
  #footer .block-content ul li a {
    display: inline-block;
    padding: 5px 0;
    padding-top: 5px;
    font-size: 16px;
    line-height: 1.35;
    color: #777; }
    #footer .block-content ul li a:hover {
      color: #48CAB2; }
  #footer .block-content p {
    font-size: 16px;
    line-height: 23px; }
  #footer .block-store .block-content {
    margin-top: 5px; }
    #footer .block-store .block-content p + p {
      margin-top: 26px; }
    #footer .block-store .block-content strong {
      color: #333; }
  #footer .block-newsletter p {
    font-size: 14px;
    line-height: 20px; }
  #footer .email_subscription {
    margin-top: 12px;
    margin-bottom: 2px;
    padding-bottom: 0; }
    #footer .email_subscription input {
      background-color: #fff; }
    #footer .email_subscription .newsletter-desc {
      display: none; }
    #footer .email_subscription .btn-popup {
      display: none; }
    #footer .email_subscription .btn-icon {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      border: 0;
      background: transparent;
      height: 44px;
      min-width: 47px;
      max-width: 47px;
      position: absolute;
      right: 0;
      top: 0;
      padding: 0;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      color: #333;
      z-index: 9; }
      #footer .email_subscription .btn-icon:hover {
        color: #48CAB2; }
      #footer .email_subscription .btn-icon svg {
        width: 24px;
        height: 24px; }
  #footer .block .block-socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 17px; }
    #footer .block .block-socials .social-links {
      margin-bottom: 0;
      padding-bottom: 8px; }
      #footer .block .block-socials .social-links li {
        display: inline-block;
        min-width: 24px;
        text-align: center;
        margin-right: 8px; }
        #footer .block .block-socials .social-links li.pinterest a svg {
          width: 18px;
          height: 23px; }
        #footer .block .block-socials .social-links li a {
          font-size: 24px;
          color: #d0d0d0;
          padding: 0; }
          #footer .block .block-socials .social-links li a:hover {
            color: #333; }
          #footer .block .block-socials .social-links li a svg {
            width: 24px;
            height: 24px; }
  #footer #footer-copyright {
    padding-bottom: 76px; }
    #footer #footer-copyright .copyright {
      font-size: 14px;
      margin-bottom: 16px; }
      #footer #footer-copyright .copyright a {
        position: relative;
        color: #333 !important; }
        #footer #footer-copyright .copyright a:hover::before {
          width: 100%; }
        #footer #footer-copyright .copyright a::before {
          position: absolute;
          bottom: 2px;
          left: 0;
          right: 0;
          margin: auto;
          width: 0%;
          content: '';
          color: transparent;
          background-color: #333;
          height: 1px;
          -webkit-transition: width 0.25s linear;
          -o-transition: width 0.25s linear;
          transition: width 0.25s linear; }

/*# sourceMappingURL=footer.css.map */