#footer {
  @if $footer_bg != '' {
  background: $footer_bg;
  }
  @if $footer_width == 1 {
  margin:0 auto;
  max-width: $footer_container_width;
  .container {
    max-width: 100%;
  }
  } @else {
    .container {
      max-width: $footer_container_width;
    }
  }
}
#footer-main {
  @if $footer_padding_top != '' {
  padding-top:$footer_padding_top;
  }
  @if $footer_padding_right != '' {
  padding-right:$footer_padding_right;
  }
  @if $footer_padding_bottom != '' {
  padding-bottom:$footer_padding_bottom;
  }
  @if $footer_padding_left != '' {
  padding-left:$footer_padding_left;
  }
  @if $footer_text_color != '' {
    color:$footer_text_color;
  }
  li a {
    @if $footer_text_color != '' {
      color:$footer_text_color;
    }
  }
  .block .block-title {
    @if $footer_block_title_font_size != 'null' {
    font-size: $footer_block_title_font_size;
    }
    @if $footer_block_title_font_weight != '' {
    font-weight: $footer_block_title_font_weight;
    }
    @if $footer_block_title_font_style != '' {
    font-style: $footer_block_title_font_style;
    }
    @if $footer_block_title_font_transform != '' {
    text-transform: $footer_block_title_font_transform;
    }
  }
}
#footer-top {
  @if $footer_top_bg_color != '' {
  background: $footer_top_bg_color;
  }
  @if $footer_top_text_color != '' {
    color:$footer_top_text_color;
  }
  @if $footer_top_padding_top != '' {
  padding-top:$footer_top_padding_top;
  }
  @if $footer_top_padding_right != '' {
  padding-right:$footer_top_padding_right;
  }
  @if $footer_top_padding_bottom != '' {
  padding-bottom:$footer_top_padding_bottom;
  }
  @if $footer_top_padding_left != '' {
  padding-left:$footer_top_padding_left;
  }
}
#footer-copyright {
  @if $footer_copyright_bg_color != '' {
  background: $footer_copyright_bg_color;
  }
  @if $footer_copyright_text_color != '' {
    color:$footer_copyright_text_color;
  }
  @if $footer_copyright_padding_top != '' {
  padding-top:$footer_copyright_padding_top;
  }
  @if $footer_copyright_padding_right != '' {
  padding-right:$footer_copyright_padding_right;
  }
  @if $footer_copyright_padding_bottom != '' {
  padding-bottom:$footer_copyright_padding_bottom;
  }
  @if $footer_copyright_padding_left != '' {
  padding-left:$footer_copyright_padding_left;
  }
  @if $footer_copyright_font_size != 'null' {
  font-size: $footer_copyright_font_size;
  }
  @if $footer_copyright_font_weight != '' {
  font-weight: $footer_copyright_font_weight;
  }
  @if $footer_copyright_font_style != '' {
  font-style: $footer_copyright_font_style;
  }
  @if $footer_copyright_font_transform != '' {
  text-transform: $footer_copyright_font_transform;
  }
}
#footer-main .block .block-title {
  @if $footer_block_title_color != '' {
    color:$footer_block_title_color;
  }
}
