/* Blogs */
.pb-blog{
	.post-title{
		display: block;
		font-size: 24px;
		font-weight: 800;
	}
	.post-meta{
		display: flex;
		flex-wrap: wrap;
		li{
			font-size: 13px;
			text-transform: uppercase;
			position: relative;
			+ li{
				padding-left: 20px;
				&::before{
					content: "-";
					position: absolute;
					left: 7px;
				}
			}
		}
	}
}