/* Blogs */
.pb-blog{
	.post-thumb{
		overflow: hidden;
		img{
			transition: transform 1s, -webkit-transform 1s;
		}
		&:hover{
			img {
			    transform: scale3d(1.1, 1.1, 1);
			}
		}
	}
	.post-title{
		display: block;
		font-size: 24px;
		font-weight: 800;
		margin-top: 27px;
		margin-bottom: 16px;
		&:hover{
			text-decoration: underline;
		}
	}
	.post-intro{
		margin-top: -3px;
		p{
			margin-bottom: 13px;
		}
	}
	.post-meta{
		display: flex;
		flex-wrap: wrap;
		li{
			font-size: 13px;
			text-transform: uppercase;
			position: relative;
			+ li{
				padding-left: 20px;
				&::before{
					content: "-";
					position: absolute;
					left: 7px;
				}
			}
		}
	}
}