/* Product box */
@import '../config/variables.scss';

.product-miniature{
	position: relative;
	&:hover{
		.btn-group{
			opacity: 1;
			visibility: visible;
		}
	}
	.product-preview{
		position: relative;
		img{
			width: 100%;
			transition: opacity 0.3s;
		}
	}
	.product-btn{
		position: relative;
		&:hover .tooltip-wrap {
			opacity: 1;
			transform: translateY(-50%);
		}
	}
	.btn-group{
		display: flex;
		margin-top: 15px;
		a{
			margin-right: 15px;
		}
		svg{
			width: 24px;
			height: 24px;
		}
	}
	.product-info{
		margin-top: 10px;
	}
	.category-name{
		font-size: 13px;
		text-transform: uppercase;
		color: #777;
		&:hover{
			text-decoration: underline;
		}
	}
	h3.product-title{
		font-weight: 400;
		line-height: 1;
		padding-bottom: 9px;
		margin-top: -1px;
		+ .content_price{
			margin-left: 0;
			margin-bottom: 10px;
			margin-top: -7px;
		}
	}
	.product-link{
		display: block;
		overflow: hidden;
		width: 100%;
		margin-bottom: 0;
		padding-bottom: 4px;
		font-size: 16px;
		color: #333;
		text-transform: initial;
		&:hover{
			text-decoration: underline;
		}
	}
	.variant-links{
		margin-bottom: 12px;
		margin-left: 3px;
		.color{
			height: 20px;
			width: 20px;
			display: inline-block;
			margin-right: 7px;
			border-radius: 50%;
			position: relative;
			&.texture{
				width: 44px;
				height: 44px;
				background-size: cover;
			}
			&:first-child::after{
				border-width: 2px;
			}
			&.texture:first-child::after{
				border-width: 2px;
			}
			&:hover{
				&::before{
					border-width: 3px;
				}
				&::after{
					border-width: 2px;
				}
			}
			&::before{
				content: "";
				display: block;
				position: absolute;
				top: -2px;
				left: -2px;
				width: calc(100% + 4px);
				height: calc(100% + 4px);
				outline: 0;
				border-radius: 50%;
				transition: .12s linear;
				backface-visibility: hidden;
				border: 0 solid #fff;
			}
			&::after{
				content: "";
				display: block;
				position: absolute;
				top: -4px;
				left: -4px;
				width: calc(100% + 8px);
				height: calc(100% + 8px);
				outline: 0;
				backface-visibility: hidden;
				border-radius: 50%;
				transition: .12s linear;
				border: 0 solid #333;
			}
			&.texture{
				&:hover::after{
					border-width: 2px;
				}
				&::after{
					content: "";
					display: block;
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					outline: 0;
					backface-visibility: hidden;
					border-radius: 50%;
					transition: .12s linear;
					border: 0 solid #333;
				}
			}
		}
	}
	.content_price{
		margin-left: 20px;
		.price{
			display: block;
			line-height: 22px;
			&.new{
				color: $active;
				font-weight: 800;
			}
			&.old{
				opacity: 1;
			}
		}
	}
	button.cart-button {
		font-size: 0;
		width: 100%;
	   	background-color: #48CAB2;
	  	border: none;
	  	color: #ffffff;
	  	font-size: 13px;
	  	letter-spacing: 0.04em;
	  	line-height: 1;
	  	font-weight: 400;
	 	position: relative;
	  	outline: none;
	  	padding: 5px 10px 4px;
	  	display: inline-flex;
	  	justify-content: center;
	  	align-items: center;
	  	text-align: left;
	  	height: 44px;
	  	cursor: pointer;
	  	text-transform: uppercase;
	  	padding-bottom: 9px;
	  	&:hover{
	  		padding-left: 21px;
			padding-right: 21px;
			background: #333;
			+ .content_price{
				display: none;
			}
			.text-addcart, .text-outofstock, .text-added{
				width: 100%;
				font-size: 13px;
				line-height: normal;
				margin-left: 11px;
			}
	  	}
	  	.text-addcart, .text-outofstock, .text-added{
	  		font-size: 0;
	  	}
	  	transition: background-color 0.2s linear, padding 0.2s ease-out;
	  	&:focus{
	  		border-color: transparent;
		}
		&.disabled{
		  	opacity: 1;
		  	background: #333;
		  	cursor: not-allowed;
		}
		svg{
		  	width: 24px;
		  	height: 24px;
		}
	}
	.product-short-desc{
		display: none;
	}
	.product-list-action{
		display: none;
	}
}
.productbox-flex{
	display: flex;
	.product-preview{
		width: 100px;
		min-width: 100px;
	}
	.product-info{
		width: 73%;
	    padding-left: 20px;
	    text-align: left;
	    margin-top: -5px;
	    padding-bottom: 0;
	    min-height: auto;
	}
	h3.product-title{
		padding-bottom: 0;
	}
	.content_price{
		margin-left: 0;
		.price{
			display: inline-block;
			&.new{
				color: #e12c43;
			}
		}
	}
}

.icon-cart-disabled,
.icon-cart-hover{
  display: none;
}
.icon-cart-hover svg{
  fill: #fff;
}
.product-preview button.cart-button:hover .icon-cart-hover{
    display: block;
}
.product-preview button.cart-button.disabled .icon-cart-disabled{
  display: block;
}
.product-preview button.cart-button.disabled .icon-cart,
.product-preview button.cart-button.disabled:hover .icon-cart-hover,
.product-preview button.cart-button:hover .icon-cart{
  display: none;
}

.product-btn .fa-spin, .product-btn .fa-check{
  font-size: 20px;
  display: none; }

.product-btn.checked .fa-spin {
  display: none; }

.product-btn.checking .fa-check,
.product-btn.checked .fa-check {
  display: none; }

.product-btn.checking .fa-spin {
  display: inline-block;
}
.product-btn.checked .fa-check {
  display: inline-block;
}
.text-outofstock{
  display: none !important;
}
.ajax-add-to-cart.disabled .text-addcart {
  display: none !important; }

.ajax-add-to-cart.disabled .text-outofstock {
  cursor: not-allowed;
  display: flex !important;
  justify-content: center; }
.hotdeal-products{
    .countdown-box{
    	display: none;
        position: absolute;
        bottom: 10px;
        width: calc(100% - 20px);
        background: rgba(255,255,255,0.9);
        left: 10px;
        text-align: center;
        padding: 10px;
        .title-countdown {
            display: inline-block;
            font-size: 14px;
            line-height: 17px;
            color: #333;
            padding-bottom: 5px;
            text-transform: capitalize;
        }
    }
    .countdown-section {
        display: inline-flex;
        flex-direction: column;
        color: #333;
        padding: 0 12px;
        min-width: 50px;
    }
    .countdown-amount{
        font-size: 22px;
        line-height: 15px;
        display: block;
        font-weight: 700;
    }
    .countdown-period{
        display: block;
        padding-top: 4px;
        font-size: 12px;
        line-height: 18px;
        text-transform: uppercase;
    }
}
@media (min-width: 575px){
	.product-miniature button.cart-button{
		width: auto;
		 .text-addcart{
		 	font-size: 13px;
		 	margin-left: 10px;
		 }
	}
}
@media (min-width: 768px){
	.hotdeal-products .countdown-box{
		display: block;
	}
}
@media (min-width:1200px){
	.product-miniature .btn-group{
		margin-top: 0;
		display: block;
		opacity: 0;
		visibility: hidden;
		position: absolute;
		top: 20px;
		right: 20px;
		width: auto;
		transition: opacity 0.2s;
		a{
			margin-right: 0;
			&:not(:last-child){
			  	margin-bottom: 15px;
			}
		}
	}
	.product-miniature button.cart-button .text-addcart, 
	.product-miniature button.cart-button .text-outofstock, 
	.product-miniature button.cart-button .text-added{
		display: none;
	}
	.product-miniature button.cart-button:hover .text-addcart, 
	.product-miniature button.cart-button:hover .text-outofstock, 
	.product-miniature button.cart-button:hover .text-added{
		display: block;
	}
}