/* Testimonials */
@import '../config/variables.scss';

.pb-testimonial{
    .pb-testimonial-box {
    	&:hover{
			cursor: pointer;
			.pb-testimonial-comment h5::before{
				width: 100%;
			}
		}
        .pb-testimonial-img{
        	width: 80px;
			margin-right: 16px;
			border-radius: 50%;
			img{
				width: 80px;
				height: 80px;
				border-radius: 50%;
			}
        }
        .pb-testimonial-comment {
        	padding: 48px 40px 22px 53px;
			background: #f8f8f8;
			position: relative;
            h5{
            	display: inline-block;
            	padding-bottom: 11px;
            	margin-bottom: 0;
            	position: relative;
            	@include underline(12, #333, 2)
            }
            &::after{
				content: '';
				display: block;
				position: absolute;
				left: 76px;
				bottom: -17px;
				width: 0;
				height: 0;
				border-top: 17px solid #f8f8f8;
				border-right: 34px solid transparent;
			}
        }
        .pb-rating {
			position: absolute;
			right: 40px;
			top: 42px;
			i{
				color: #EBEBEB;
				+ i{
					margin-left: 1px;
				}
			}
		}
        .pb-reviewsbox-author {
			display: flex;
			align-items: center;
			font-size: 13px;
			margin-top: 24px;
		}
        .pb-testimonial-author{
        	font-size: 13px;
            font-weight: 800;
			color: #333;
			margin-right: 4px;
			margin-bottom: 0;
        }
        .pb-testimonial-position{
            position: relative;
            &::before{
            	content: "—";
            }
        }
    }
    .owl-dots{
        margin-top: 20px;
    }
}

@media (max-width: 767px){
	.pb-testimonial .pb-testimonial-box{
		.pb-testimonial-comment{
			padding: 15px 20px;
		}
		.pb-rating {
		    position: static;
		}
		.pb-testimonial-img{
			width: 60px;
			img{
				width: 60px;
				height: 60px;
			}
		}
	}
}