// Base
@import '../config/variables.scss';

html {
	font-size: 62.5%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	font-size-adjust: 100%;
}

html,
body {
    height: 100%;
}

body {
    font-size: 18px;
    color: #777;
    font-family: "Neue Einstellung", sans-serif, Arial, Helvetica, sans-serif;
    font-style: normal;
    line-height: 28px;
}
a{
    transition: all 0.2s;
    &:hover{
        color: $active;
    }
}
p {
    margin-bottom: 1.5rem;
}

ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0 0 1.5rem;
}

b,
strong {
    font-weight: 700;
}

em,
i {
    font-style: italic;
}

hr {
    border: none;
    border-top: 1px solid #ebebeb;
    margin: 3rem auto 2.5rem;
}

sub,
sup {
    position: relative;
    font-size: 70%;
    line-height: 0;
    vertical-align: baseline;
}

sup {
    top: -.5em;
}

sub {
    bottom: -.25em;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}
svg {
    width: 16px;
    height: 16px;
}
input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, textarea.form-control:focus, textarea:focus {
    border-color: transparent;
    outline: none;
    box-shadow: 0px 2px 12px rgba(51, 51, 51, 0.08);
}
input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
    border-radius: 0px;
    width: 100%;
    border: 1px solid #ebebeb;
    height: 44px;
    padding: 0 18px;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 800;
}
input:focus::placeholder,
textarea:focus::placeholder {
  color: transparent;
}
textarea::placeholder{
    color: #777;
    font-weight: 700;
    font-size: 16px;
}
.form-control{
    font-size: 14px;
    height: 44px;
    width: 100%;
    padding: 0 18px;
    font-weight: 800;
    border: 1px solid #ebebeb;
    box-shadow: none;
}
.form-control::placeholder{
    color: #777;
}
select, textarea {
    border-radius: 0px;
    width: 100%;
    border: 1px solid #ebebeb;
}
.modal-dialog{
    background-color: #fff;
}
.d-i-flex{
    display: inline-flex;
}
.btn, .btn-default {
  background-color: $active;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 0.04em;
  padding: 5px 20px 4px;
  line-height: 1;
  font-weight: 800;
  height: 44px;
  border: none;
  outline: none;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  border-radius: 0;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  &:hover{
    background-color: #333333;
    color: #ffffff;
    outline: none;
  }
  &.active{
    color: #fff;
    background-color: #333;
    &:hover{
        background-color: $active;
    }
  }
}
.btn.btn-border{
    background: transparent;
    color: #333333;
    font-size: 14px;
    border: none;
    height: 44px;
    display: inline-block;
    line-height: 44px;
    padding: 0 20px;
    letter-spacing: 0;
    text-transform: initial;
    &:hover::before{
        border: 2px solid #333;
    }
    &::before{
        content: '';
        position: absolute;
        display: inline-block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 1px solid #ebebeb;
        transition: all 0.2s;
    }
}
.btn-link {
    display: inline-block;
    text-align: center;
    font-size: 14px;
    color: #333;
    font-weight: 800;
    text-transform: capitalize;
    margin-top: 2px;
    position: relative;
    line-height: normal;
    @include underline(0, #333, 2);
    &:hover{
        color: #333;
        text-decoration: none;
        &::before{
            width: 100%;
        }
    }
}


.overflow-y-hidden{
    overflow-y: hidden;
}
.hidden{
    visibility: hidden;
}

#wrapper{
    position: relative;
    &::before{
        content: "";
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(20,20,20,0.5);
        transition: .2s all;
        z-index: 1000; 
    }
}
#index #wrapper > .row{
    margin: 0;
}
.pb-divider-separator{
     display: block;
}
.title{
    line-height: 43px;
    padding-bottom: 0;
    font-weight: 800;
}
.owl-item{
    position: relative;
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}
.container-fluid{
    .owl-carousel{
        &.brand-carousel{
            .owl-nav button{
                &.owl-prev {
                    left: 20px;
                }
                &.owl-next {
                    right: 20px;
                }
            }
        }
    }
}

.owl_carousel{
    position: relative;
    button.owl-dot{
        background: none;
        color: inherit;
        border: none;
        padding: 0 !important;
        font: inherit;
    }
    .owl-nav button{
        &.owl-prev, &.owl-next{
            background-color: #fff;
            color: inherit;
            border: none;
            padding: 0 !important;
            font: inherit;
        }
    }
    .owl-stage-outer {
        position: relative;
        overflow: hidden;
        -webkit-transform: translate3d(0px, 0px, 0px);
    }
}

.owl-carousel, .owl_carousel{
    .owl-item{
        display: flex;
        align-items: stretch;
    }
    .item{
        width: 100%;
        .product-miniature + .product-miniature{
            margin-top: 40px;
        }
    }
    .owl-nav{
        button{
            display: inline-flex;
            justify-content: center;
            align-items: center;
            height: 25px;
            width: 25px;
            text-align: center;
            cursor: pointer;
            z-index: 2;
            &:hover{
                background-color: #333;
                &::before{
                    color: #fff;
                }
            }
            &::before{
                font-family: 'yanka';
                font-size: 23px;
                line-height: 1;
                z-index: 2;
                top: 8px;
                left: 8px;
                color: #D0D0D0;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                width: 25px;
                height: 25px;
            }
            &.disabled{
                cursor: default;
                opacity: .7;
                &::before{
                    color: #ccc !important;
                }
            }
            span{
                display: none;
            }
            &.owl-prev{
                left: -25px;
                &::before{
                    content: "\e904";
                }
            }
            &.owl-next{
                right: -25px;
                &::before{
                    content: "\e905";
                }
            }
        }
    }
}
.brand-carousel{
    &.owl-carousel .owl-item img{
        width: auto;
    }
}
.brand-item{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 48px;
    width: 100%;
}
.fraction-slider .text-primary{
    letter-spacing: -.025em;
    sup{
        top: -2rem;
        font-size: 2rem;
        line-height: 1;
        letter-spacing: 0;
        + sup{
            margin-left: .8rem;
        }
    }
}
.pb-categorytab, .pb-producttab{
    .product-miniature{
        margin-bottom: 1.5rem;
    }
    .nav.nav-tabs{
        margin-bottom: 30px;
        .nav-item{
            margin: 0;
            .nav-link{
                color: #333;
                font-size: 13px;
                line-height: 20px;
                font-weight: 800;
                padding: 5px 12px;
                letter-spacing: 0.5px;
                display: inline-block;
                transition: color 0.2s;
                text-transform: uppercase;
                &.active, &:hover{
                    color: $active;
                }
            }
        }
    }
}


.owl-dots.disabled,
.owl-nav.disabled{
    display: none;
}

.email_subscription{
    .btn-icon{
        display: none;
    }
}
.icon-close{
    content: '\f191';
    font: normal normal 1.3rem/1 'molla';
    text-align: center;
}

.fs_loader .spinner {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  border: 5px solid #eee;
  display: inline-block;
  
  // Positioning
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  
  &:after, &:before {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  
  &:after {
    position: absolute;
    top: -5px;
    left: -5px;
    border: 5px solid transparent;
    border-top-color: #928a8a;
    animation: spin .5s linear infinite;
  }
}
body{
    &.page-index #footer{
        margin-top: 0;
    }
    .breadcrumb-wrapper{
        margin-bottom: 93px;
    }
    #footer{
        margin-top: 100px;
    }
}


@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}
/* Tab pane custom */
.tab-content{
    > .tab-pane{
        width: 100%;
        height: 0px;
        display: block;
        opacity: 0;
        visibility: hidden;
        transition: opacity .15s linear;
        &.active{
            height: auto;
            opacity: 1;
            visibility: visible;
        }
    }
}

/*back to top*/
.back-to-top {
    height: 73px;
    cursor: pointer;
    background: #333;
    color: #fff;
    transition: all 200ms;
    z-index: 9999;
    &:hover{
        background: #48CAB2;
    }
    span{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        font-size: 12px;
    }
    i{
        height: 100%;
    }
    svg{
        width: 24px;
        height: 24px;
    }
    .text{
        display: none;
    }
}
.services-block{
    .layout-column{
        &:hover{
            .pt-title p::before{
                width: 100%;
            }
            color: #333;
        }
    }
    .pt-title{
        display: flex;
        margin-bottom: 4px;
        .image{
            margin-right: 20px;
        }
        p{
            color: #333;
            font-size: 18px;
            line-height: 26px;
            font-weight: 800;
            display: inline-block;
            position: relative;
            margin-bottom: 0;
            @include underline(2, #333, 2);
        }
    }
}
#woorebought-popup p a span{
    position: relative;
    @include underline(1, #333, 1);
    &:hover::before{
        width: 100%;
    }
}


/* Animation for lazyload */
@keyframes rotating {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
@media (min-width: 768px){
    .hidden-md-up{
        display: none;
    }
    .back-to-top{
        position: fixed;
        right: 0;
        bottom: -60px;
        width: 60px;
        height: 60px;
        &.show{
            bottom: 50px;
        }
        .text{
            display: none;
        }
    }
}
@media (min-width: 1200px){
    
}

