<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>gdz_customhtml</name>
    <displayName><![CDATA[Godzilla Custom Html]]></displayName>
    <version><![CDATA[4.0.0]]></version>
    <description><![CDATA[Enter html codes and show it in Left/Right/Footer/Top/LeftProduct/RightProduct Hook.]]></description>
    <author><![CDATA[prestawork]]></author>
    <tab><![CDATA[front_office_features]]></tab>
    <is_configurable>1</is_configurable>
    <need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>