/* Line height */
@for $i from 0 through 100 {
    .lh-#{$i} {
        line-height: #{$i}px !important;
    }
}

/* Spacing */
@for $i from 0 through 15 {
    .mt-#{$i} {
        margin-top: #{$i}rem !important;
    }

    .mb-#{$i} {
        margin-bottom: #{$i}rem !important;
    }

    .pt-#{$i} {
        padding-top: #{$i}rem !important;
    }

    .pb-#{$i} {
        padding-bottom: #{$i}rem !important;
    }
}

@media (min-width: 576px) {
	@for $i from 0 through 15 {
	    .mt-sm-#{$i} {
	        margin-top: #{$i}rem !important;
	    }
	}

	@for $i from 0 through 15 {
	    .mb-sm-#{$i} {
	        margin-bottom: #{$i}rem !important;
	    }
	}

	@for $i from 0 through 15 {
	    .pt-sm-#{$i} {
	        padding-top: #{$i}rem !important;
	    }
	}

	@for $i from 0 through 15 {
	    .pb-sm-#{$i} {
	        padding-bottom: #{$i}rem !important;
	    }
	}
}

@media (min-width: 768px) {
	@for $i from 0 through 15 {
	    .mt-md-#{$i} {
	        margin-top: #{$i}rem !important;
	    }
	}

	@for $i from 0 through 15 {
	    .mb-md-#{$i} {
	        margin-bottom: #{$i}rem !important;
	    }
	}

	@for $i from 0 through 15 {
	    .pt-md-#{$i} {
	        padding-top: #{$i}rem !important;
	    }
	}

	@for $i from 0 through 15 {
	    .pb-md-#{$i} {
	        padding-bottom: #{$i}rem !important;
	    }
	}
}

@media (min-width: 922px) {
	@for $i from 0 through 15 {
	    .mt-lg-#{$i} {
	        margin-top: #{$i}rem !important;
	    }
	}

	@for $i from 0 through 15 {
	    .mb-lg-#{$i} {
	        margin-bottom: #{$i}rem !important;
	    }
	}

	@for $i from 0 through 15 {
	    .pt-lg-#{$i} {
	        padding-top: #{$i}rem !important;
	    }
	}

	@for $i from 0 through 15 {
	    .pb-lg-#{$i} {
	        padding-bottom: #{$i}rem !important;
	    }
	}
}

@media (min-width: 1200px) {
	@for $i from 0 through 15 {
	    .mt-xl-#{$i} {
	        margin-top: #{$i}rem !important;
	    }
	}

	@for $i from 0 through 15 {
	    .mb-xl-#{$i} {
	        margin-bottom: #{$i}rem !important;
	    }
	}
}

